<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:growl autoUpdate="true" id="globalMsgs" showDetail="true"
		widgetVar="globalMsgsWidget" life="5000" />
		
		<p:layout>

		<p:layoutUnit position="west" size="300" minSize="300" maxSize="300"
			scrollable="true" styleClass="arhiva-preg-pod-proj-ui-layout-pane-west"
			rendered="#{sessionBean.hasRoles(fn:split('PRK', ','))}">

			<p:accordionPanel multiple="true" activeIndex="0,1" id="acc" styleClass="ui-accordion-border-right">
				
				<p:tab title="Pregled podataka o projektu" closable="false">

					<h:panelGrid columns="2" cellpadding="3" styleClass="harmonik-table-layout tmp-font">
						<h:outputText value="Šifra:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.code}" />

						<h:outputText value="Vrsta:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.tenderType.code}" />

						<h:outputText value="Rok:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.tenderDeadline}" />

						<h:outputText value="Voditelj:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.leader.userData.name} #{sessionBean.currentProject.leader.userData.surname}" />

						<h:outputText value="Tel:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.leader.userData.phoneNumber}" />

						<h:outputText value="E-mail:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.leader.userData.email}" />
						<h:outputText value="Naziv:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.name}" />
					</h:panelGrid>

				</p:tab>
				
				<p:tab title="Pregled razdoblja" closable="false">
				
					<h:form id="periodsDTForm">
						<p:dataTable id="periodsDT" var="period"
							value="#{reportingPeriodsView.reportingPeriods}"
							rowKey="#{period.id}">
							
							<f:facet name="footer">
								<p:commandButton value="Novo razdoblje" icon="ui-icon-plus"
									onclick="PF('singleDialog_new_raz').show();"
									disabled="#{ sessionBean.currentProject == null ? true : false}" />
							</f:facet>

							<p:column escape="false" headerText="Opcije"
								style="width:4em; align:center;">

								<p:commandButton value="Edit" class="ikona-edit"
									oncomplete="PF('singleDialog_edit').show()"
									update="edit_dialog">
									<f:setPropertyActionListener value="#{period}"
										target="#{reportingPeriodsViewEdit.currentRow}" />
								</p:commandButton>

							</p:column>

							<p:column headerText="Datum od" sortBy="" style="width:5em">
								<h:outputText value="#{period.dateFrom}" style="align:center">
									<f:convertDateTime pattern="dd.MM.yyyy" />
								</h:outputText>
							</p:column>

							<p:column headerText="Datum do" sortBy="" style="width:5em">
								<h:outputText value="#{period.dateTo}" style="align:center">
									<f:convertDateTime pattern="dd.MM.yyyy" />
								</h:outputText>
							</p:column>

						</p:dataTable>
					</h:form>
				</p:tab>
			
			</p:accordionPanel>

		</p:layoutUnit>
		
		<p:layoutUnit position="center" styleClass="arhiva-ui-layout-pane-wrapper">
		
			<p:layout>
			
			<p:layoutUnit position="west" size="550" minSize="550" maxSize="550"
			scrollable="true" styleClass="arhiva-ui-layout-pane-west">

			<h:form id="arhivaWestForm">

				<p:accordionPanel id="projektAcc">
					<p:tab title="1. Projekt">
						<h:panelGrid columns="1" cellpadding="10" styleClass="harmonik-table-layout">

							<p:dataList value="#{arhivaView.projectEngList}" var="doc"
								type="unordered" itemType="none" rows="10">
								<f:facet name="header">
						           ENG Documents
						        </f:facet>
								<h:outputText value="#{doc.title}" style="display:inline-block" styleClass="arhivaTitle" />
								<h:outputText value="#{doc.fileName}" style="display:inline-block" />
								
								<p:commandLink styleClass="down-link" ajax="false"
									onclick="PrimeFaces.monitorDownload(start, stop);"
									action="#{arhivaView.setStreamedContent()}">
									<p:fileDownload
										value="#{arhivaView.streamedContent}" />
									<i class="fa fa-download"></i>
									
									<f:setPropertyActionListener
										target="#{arhivaView.selectedArhivaStaticFile}"
										value="#{doc}" />
								</p:commandLink>
							</p:dataList>

							<p:dataList value="#{arhivaView.projectHrvList}" var="doc"
								type="unordered" itemType="none" rows="10">
								<f:facet name="header">
						           HR Dokumenti
						        </f:facet>
								<h:outputText value="#{doc.title}" style="display:inline-block" styleClass="arhivaTitle" />
								<h:outputText value="#{doc.fileName}" style="display:inline-block" />
								
								<p:commandLink styleClass="down-link" ajax="false"
									onclick="PrimeFaces.monitorDownload(start, stop);"
									action="#{arhivaView.setStreamedContent()}">
									<p:fileDownload
										value="#{arhivaView.streamedContent}" />
									<i class="fa fa-download"></i>
									
									<f:setPropertyActionListener
										target="#{arhivaView.selectedArhivaStaticFile}"
										value="#{doc}" />
								</p:commandLink>
							</p:dataList>

						</h:panelGrid>
					</p:tab>
				</p:accordionPanel>

			</h:form>

		</p:layoutUnit>

		<p:layoutUnit position="center" scrollable="true" styleClass="arhiva-ui-layout-pane-center">
		
			<h:form id="arhivaCenterForm">

				<p:accordionPanel id="ugovorAcc">
					<p:tab title="2. Ugovor">
						<h:panelGrid columns="1" cellpadding="10" styleClass="harmonik-table-layout">

							<p:dataList value="#{arhivaView.ugovorList}" var="doc"
								type="unordered" itemType="none" rows="10">
								<h:outputText value="#{doc.title}" style="display:inline-block" styleClass="arhivaTitle" />
								<h:outputText value="#{doc.fileName}" style="display:inline-block" />
								
								<p:commandLink styleClass="down-link" ajax="false"
									onclick="PrimeFaces.monitorDownload(start, stop);"
									action="#{arhivaView.setStreamedContent()}">
									<p:fileDownload
										value="#{arhivaView.streamedContent}" />
									<i class="fa fa-download"></i>
									
									<f:setPropertyActionListener
										target="#{arhivaView.selectedArhivaStaticFile}"
										value="#{doc}" />
								</p:commandLink>
							</p:dataList>

						</h:panelGrid>
					</p:tab>
				</p:accordionPanel>
				
				<p:accordionPanel id="radniPlanAcc">
					<p:tab title="3. Važeći radni plan">
						<h:panelGrid columns="1" cellpadding="10">

							<p:dataList value="#{arhivaView.radniPlanList}" var="doc"
								type="unordered" itemType="none" rows="10">
								<h:outputText value="#{doc.title}" style="display:inline-block" styleClass="arhivaTitle" />
								<h:outputText value="#{doc.fileName}" style="display:inline-block" />
								
								<p:commandLink styleClass="down-link" ajax="false"
									onclick="PrimeFaces.monitorDownload(start, stop);"
									action="#{arhivaView.setStreamedContent()}">
									<p:fileDownload
										value="#{arhivaView.streamedContent}" />
									<i class="fa fa-download"></i>
									
									<f:setPropertyActionListener
										target="#{arhivaView.selectedArhivaStaticFile}"
										value="#{doc}" />
								</p:commandLink>
							</p:dataList>

						</h:panelGrid>
					</p:tab>
				</p:accordionPanel>
				
				<p:accordionPanel id="financijskiPlanAcc">
					<p:tab title="4. Važeći financijski plan">
						<h:panelGrid columns="1" cellpadding="10">

							<p:dataList value="#{arhivaView.financijskiPlanList}" var="doc"
								type="unordered" itemType="none" rows="10">
								<h:outputText value="#{doc.title}" style="display:inline-block" styleClass="arhivaTitle" />
								<h:outputText value="#{doc.fileName}" style="display:inline-block" />
								
								<p:commandLink styleClass="down-link" ajax="false"
									onclick="PrimeFaces.monitorDownload(start, stop);"
									action="#{arhivaView.setStreamedContent()}">
									<p:fileDownload
										value="#{arhivaView.streamedContent}" />
									<i class="fa fa-download"></i>
									
									<f:setPropertyActionListener
										target="#{arhivaView.selectedArhivaStaticFile}"
										value="#{doc}" />
								</p:commandLink>
							</p:dataList>

						</h:panelGrid>
					</p:tab>
				</p:accordionPanel>

			</h:form>
		
		</p:layoutUnit>

		<p:layoutUnit position="east" size="550" minSize="550" maxSize="550"
			scrollable="true" styleClass="arhiva-ui-layout-pane-east">
			
			<h:form id="uploadDokumenta">
			
				<p:commandButton value="UPLOAD dokumenta">
				</p:commandButton>
			
			</h:form>
			
			<h:form id="arhivaEastContent">
			
				<p:accordionPanel id="izvjescaAcc">
					<p:tab title="5. Izvješća">
						<h:panelGrid columns="1" cellpadding="10">
	
							<p:dataList value="#{arhivaView.izvjescaList}" var="doc"
								type="unordered" itemType="none" rows="10">
								<h:outputText value="#{doc.title}" style="display:inline-block" styleClass="arhivaTitle" />
								<h:outputText value="#{doc.fileName}" style="display:inline-block" />
								
								<p:commandLink styleClass="down-link" ajax="false"
									onclick="PrimeFaces.monitorDownload(start, stop);"
									action="#{arhivaView.setStreamedContent()}">
									<p:fileDownload
										value="#{arhivaView.streamedContent}" />
									<i class="fa fa-download"></i>
									
									<f:setPropertyActionListener
										target="#{arhivaView.selectedArhivaStaticFile}"
										value="#{doc}" />
								</p:commandLink>
							</p:dataList>
	
						</h:panelGrid>
					</p:tab>
				</p:accordionPanel>
				
				<p:accordionPanel id="evaluacijaAcc">
					<p:tab title="6. Evaluacija">
						<h:panelGrid columns="1" cellpadding="10">
	
							<p:dataList value="#{arhivaView.evaluacijaList}" var="doc"
								type="unordered" itemType="none" rows="10">
								<h:outputText value="#{doc.title}" style="display:inline-block" styleClass="arhivaTitle" />
								<h:outputText value="#{doc.fileName}" style="display:inline-block" />
								
								<p:commandLink styleClass="down-link" ajax="false"
									onclick="PrimeFaces.monitorDownload(start, stop);"
									action="#{arhivaView.setStreamedContent()}">
									<p:fileDownload
										value="#{arhivaView.streamedContent}" />
									<i class="fa fa-download"></i>
									
									<f:setPropertyActionListener
										target="#{arhivaView.selectedArhivaStaticFile}"
										value="#{doc}" />
								</p:commandLink>
							</p:dataList>
	
						</h:panelGrid>
					</p:tab>
				</p:accordionPanel>
				
				<p:accordionPanel id="ostaloAcc">
					<p:tab title="7. Ostalo">
						<h:panelGrid columns="1" cellpadding="10" styleClass="harmonik-table-layout">
						
							<p:dataList value="#{arhivaView.ostaloPrvoRazdobljeList}" var="doc"
								type="unordered" itemType="none" rows="10">
								<f:facet name="header">
						           Prvo razdoblje
						        </f:facet>
								<h:outputText value="#{doc.title}" style="display:inline-block" styleClass="arhivaTitle" />
								<h:outputText value="#{doc.fileName}" style="display:inline-block" />
								
								<p:commandLink styleClass="down-link" ajax="false"
									onclick="PrimeFaces.monitorDownload(start, stop);"
									action="#{arhivaView.setStreamedContent()}">
									<p:fileDownload
										value="#{arhivaView.streamedContent}" />
									<i class="fa fa-download"></i>
									
									<f:setPropertyActionListener
										target="#{arhivaView.selectedArhivaStaticFile}"
										value="#{doc}" />
								</p:commandLink>
							</p:dataList>
							
							<p:dataList value="#{arhivaView.ostaloDrugoRazdobljeList}" var="doc"
								type="unordered" itemType="none" rows="10">
								<f:facet name="header">
						           Drugo razdoblje
						        </f:facet>
								<h:outputText value="#{doc.title}" style="display:inline-block" styleClass="arhivaTitle" />
								<h:outputText value="#{doc.fileName}" style="display:inline-block" />
								
								<p:commandLink styleClass="down-link" ajax="false"
									onclick="PrimeFaces.monitorDownload(start, stop);"
									action="#{arhivaView.setStreamedContent()}">
									<p:fileDownload
										value="#{arhivaView.streamedContent}" />
									<i class="fa fa-download"></i>
									
									<f:setPropertyActionListener
										target="#{arhivaView.selectedArhivaStaticFile}"
										value="#{doc}" />
								</p:commandLink>
							</p:dataList>
							
							<p:dataList value="#{arhivaView.ostaloTreceRazdobljeList}" var="doc"
								type="unordered" itemType="none" rows="10">
								<f:facet name="header">
						           Treće razdoblje
						        </f:facet>
								<h:outputText value="#{doc.title}" style="display:inline-block" styleClass="arhivaTitle" />
								<h:outputText value="#{doc.fileName}" style="display:inline-block" />
								
								<p:commandLink styleClass="down-link" ajax="false"
									onclick="PrimeFaces.monitorDownload(start, stop);"
									action="#{arhivaView.setStreamedContent()}">
									<p:fileDownload
										value="#{arhivaView.streamedContent}" />
									<i class="fa fa-download"></i>
									
									<f:setPropertyActionListener
										target="#{arhivaView.selectedArhivaStaticFile}"
										value="#{doc}" />
								</p:commandLink>
							</p:dataList>
							
							<p:dataList value="#{arhivaView.ostaloCetvrtoRazdobljeList}" var="doc"
								type="unordered" itemType="none" rows="10">
								<f:facet name="header">
						           Četvrto razdoblje
						        </f:facet>
								<h:outputText value="#{doc.title}" style="display:inline-block" styleClass="arhivaTitle" />
								<h:outputText value="#{doc.fileName}" style="display:inline-block" />
								
								<p:commandLink styleClass="down-link" ajax="false"
									onclick="PrimeFaces.monitorDownload(start, stop);"
									action="#{arhivaView.setStreamedContent()}">
									<p:fileDownload
										value="#{arhivaView.streamedContent}" />
									<i class="fa fa-download"></i>
									
									<f:setPropertyActionListener
										target="#{arhivaView.selectedArhivaStaticFile}"
										value="#{doc}" />
								</p:commandLink>
							</p:dataList>
							
						</h:panelGrid>
					</p:tab>
				</p:accordionPanel>
				
				<p:accordionPanel id="dokumentiAcc">
					<p:tab title="8. Dokumenti HRZZ">
						<h:panelGrid columns="1" cellpadding="10">
	
							<p:dataList value="#{arhivaView.dokumentiList}" var="doc"
								type="unordered" itemType="none" rows="10">
							<h:outputText value="#{doc.title}" style="display:inline-block" styleClass="arhivaTitle" />
								<h:outputText value="#{doc.fileName}" style="display:inline-block" />
								
								<p:commandLink styleClass="down-link" ajax="false"
									onclick="PrimeFaces.monitorDownload(start, stop);"
									action="#{arhivaView.setStreamedContent()}">
									<p:fileDownload
										value="#{arhivaView.streamedContent}" />
									<i class="fa fa-download"></i>
									
									<f:setPropertyActionListener
										target="#{arhivaView.selectedArhivaStaticFile}"
										value="#{doc}" />
								</p:commandLink>
							</p:dataList>
	
						</h:panelGrid>
					</p:tab>
				</p:accordionPanel>
				
			</h:form>
			
		</p:layoutUnit>
			
			</p:layout>
		
		
		</p:layoutUnit>

	</p:layout>
	
	<p:dialog id="new_dialog_raz" header="Novo razdoblje"
		widgetVar="singleDialog_new_raz" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">
		
		<h:form>
			<p:panel id="new_panel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="displaynew" columns="3" cellpadding="4" border="0">
					<p:outputLabel value="Datum od:" for="dFrom" />
					<p:calendar id="dFrom" value="#{reportingPeriodsView.dateFrom}"
						pattern="dd.MM.yyyy" mask="true" required="true" />
					<p:message for="dFrom" display="icon" />
					<p:outputLabel value="Datum do:" for="dTo" />
					<p:calendar id="dTo" value="#{reportingPeriodsView.dateTo}"
						pattern="dd.MM.yyyy" mask="true" required="true" />
					<p:message for="dTo" display="icon" />
					<p:outputLabel value="Odobrena sredstva:" for="aRes" />
					<pe:inputNumber id="aRes"
						value="#{reportingPeriodsView.approvedResources}"
						symbolPosition="s" decimalSeparator="," thousandSeparator="."
						required="true" />
					<p:message for="aRes" display="icon" />
				</h:panelGrid>
			</p:panel>
			<div align="center">
				<p:commandButton value="Spremi" style="width:30%"
					action="#{reportingPeriodsView.insert()}"
					oncomplete="setMsgfadeOut('msgsNew')"
					update="new_panel acc" class="bttn-dialog-save" />
				<p:commandButton value="Odustani" style="width:30%"
					onclick="singleDialog_new_raz.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="edit_dialog" header="Promjena razdoblja"
		widgetVar="singleDialog_edit" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form>
			<p:panel id="edit_panel">
				<p:messages id="msgsView" showDetail="true" />
				<h:panelGrid columns="3" cellpadding="3">
					<p:outputLabel value="Datum od:" for="deFrom" />
					<p:calendar id="deFrom"
						value="#{reportingPeriodsViewEdit.dateFrom}" pattern="dd.MM.yyyy"
						mask="true" required="true" />
					<p:message for="deFrom" display="icon" />
					<p:outputLabel value="Datum do:" for="deTo" />
					<p:calendar id="deTo" value="#{reportingPeriodsViewEdit.dateTo}"
						pattern="dd.MM.yyyy" mask="true" required="true" />
					<p:message for="deTo" display="icon" />
					<p:outputLabel value="Odobrena sredstva:" for="aeRes" />
					<pe:inputNumber id="aeRes"
						value="#{reportingPeriodsViewEdit.approvedResources}"
						symbolPosition="s" decimalSeparator="," thousandSeparator="." />
				</h:panelGrid>
				<div align="center">
					 
					<p:commandButton value="Spremi" style="width:30%"
						action="#{reportingPeriodsViewEdit.update()}"
						oncomplete="setMsgfadeOut('msgsView')"
						update="edit_panel acc" class="bttn-dialog-save" />
					<p:commandButton value="Odustani" style="width:30%"
						onclick="singleDialog_edit.hide();" immediate="true"
						class="bttn-dialog-cancel" partialSubmit="true" />
				</div>
			</p:panel>
		</h:form>
	</p:dialog>

</ui:composition>
