<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">


	<h1 style="font-size: 12" align="center">TABLICA 6: Broj
		doktorskih disertacija proizašlih s projekta (NIJE OBVEZNA)</h1>

	<p:separator style="height:7px" />

	<h:form id="form_tablica_brDokDisertacija">

		<p:dataTable value="#{brDocDisertacijaView.fillTable()}"
			var="brojDisertacija" type="ordered" selectionMode="single"
			rowKey="#{brojDisertacija.id}" id="tablica_docDisertacije"
			selection="#{brDocDisertacijaView.odabranaEvDokDisertacije}"
			tableStyleClass="br-dr-disertacija-wrapper">

			<p:column escape="false" headerText="Opcije"
				rendered="#{preventAction.isRendered('OPCIJE')}"
				style="width:4em; align:center;">

				<p:commandButton disabled="#{preventAction.isDisabled('EDIT')}" value=""
					class="ikona-edit" style="buttonNew" rendered="#{preventAction.isRendered('EDIT')}"
					oncomplete="PF('tabl6Dialog_edit').show()"
					update="edit_tabl6Dialog">
					<f:setPropertyActionListener value="#{brojDisertacija}"
						target="#{brDocDisertacijaView.currentRow}" />
				</p:commandButton>

				<p:commandButton value="PRK" rendered="#{preventAction.isRendered('PRK')}"
					oncomplete="PF('prkBDDDialogWidget').show()" class="ikona-prk ikona-prk-pozicija"
					update="prkBDDDialog">
					<f:setPropertyActionListener value="#{brojDisertacija}"
						target="#{brDocDisertacijaView.currentRow}" />
				</p:commandButton>
			</p:column>

			<p:column escape="false"
				headerText="Ukupan broj doktorskih disertacija proizašlih s projekta "
				style="width:10em" sortBy="#{brojDisertacija.brojUkupan}">
				<h:outputText escape="false" value="#{brojDisertacija.brojUkupan}" />
			</p:column>

			<p:column escape="false"
				headerText="Broj doktorskih disertacija čiji su autori doktorandi financirani sredstvima HRZZ-a "
				style="width:10em" sortBy="#{brojDisertacija.brojFinHrzz}">
				<h:outputText escape="false" value="#{brojDisertacija.brojFinHrzz}" />
			</p:column>
			<p:column escape="false"
				headerText="Broj disertacija u suradnji s partnerima izvan znanstvene zajednice"
				style="width:10em" sortBy="#{brojDisertacija.brojIzvanZz}">
				<h:outputText escape="false" value="#{brojDisertacija.brojIzvanZz}" />
			</p:column>

			<p:column escape="false"
				headerText="Broj disertacija izravno implementiranih u gospodarstvo"
				style="width:10em" sortBy="#{brojDisertacija.brojGospodarstvo}">
				<h:outputText escape="false"
					value="#{brojDisertacija.brojGospodarstvo}" />
			</p:column>
			<p:column escape="false"
				headerText="Broj dvojnih doktorskih disertacija " style="width:10em"
				sortBy="#{brojDisertacija.brojDvojnih}">
				<h:outputText escape="false" value="#{brojDisertacija.brojDvojnih}" />
			</p:column>

			<p:column escape="false"
				headerText="Broj objavljenih radova i patenata proizišlih iz doktorskih disertacija "
				style="width:10em" sortBy="#{brojDisertacija.brojRadovaIPatenata}">
				<h:outputText escape="false"
					value="#{brojDisertacija.brojRadovaIPatenata}" />
			</p:column>
			<p:column escape="false"
				headerText="Broj doktorskih disertacija u postupku izdavanja u vidu znanstvenih monografija kod inozemnih izdavača"
				style="width:10em" sortBy="#{brojDisertacija.brojIzdavanje}">
				<h:outputText escape="false"
					value="#{brojDisertacija.brojIzdavanje}" />
			</p:column>

		</p:dataTable>

	</h:form>

	<p:dialog id="edit_tabl6Dialog" header="Broj doktorskih disertacija"
		widgetVar="tabl6Dialog_edit" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="form_edit">
			<p:panel id="edit_panel">

				<p:messages id="msgsView" showDetail="true" />
				<h:panelGrid id="displayView" columns="3" cellpadding="4" border="0">

					<p:outputLabel
						value="Broj doktorskih disertacija čiji su autori doktorandi financirani sredstvima HRZZ-a"
						for="brojFinHrzzView" />
					<p:spinner id="brojFinHrzzView"
						value="#{brDocDisertacijaView.odabranaEvDokDisertacije.brojFinHrzz}"
						min="0" max="999" style="align:center;" size="5" />
					<p:message for="brojFinHrzzView" display="icon" />

					<p:outputLabel
						value="Broj disertacija u suradnji s partnerima izvan znanstvene zajednice:"
						for="brojIzvanZzView" />
					<p:spinner id="brojIzvanZzView"
						value="#{brDocDisertacijaView.odabranaEvDokDisertacije.brojIzvanZz}"
						min="0" max="999" style="align:center;" size="5" />
					<p:message for="brojIzvanZzView" display="icon" />

					<p:outputLabel
						value="Broj disertacija izravno implementiranih u gospodarstvo:"
						for="brojGospodarstvoView" />
					<p:spinner id="brojGospodarstvoView"
						value="#{brDocDisertacijaView.odabranaEvDokDisertacije.brojGospodarstvo}"
						min="0" max="999" style="align:center;" size="5" />
					<p:message for="brojGospodarstvoView" display="icon" />

					<p:outputLabel value="Broj dvojnih doktorskih disertacija:"
						for="brojDvojnihView" />
					<p:spinner id="brojDvojnihView"
						value="#{brDocDisertacijaView.odabranaEvDokDisertacije.brojDvojnih}"
						min="0" max="999" style="align:center;" size="5" />
					<p:message for="brojDvojnihView" display="icon" />

					<p:outputLabel
						value="Broj objavljenih radova i patenata proizišlih iz doktorskih disertacija:"
						for="brojRadovaIPatenataView" />
					<p:spinner id="brojRadovaIPatenataView"
						value="#{brDocDisertacijaView.odabranaEvDokDisertacije.brojRadovaIPatenata}"
						min="0" max="999" style="align:center;" size="5" />
					<p:message for="brojRadovaIPatenataView" display="icon" />

					<p:outputLabel
						value="Broj doktorskih disertacija u postupku izdavanja u vidu znanstvenih monografija kod inozemnih izdavača:"
						for="brojIzdavanjeView" />
					<p:spinner id="brojIzdavanjeView"
						value="#{brDocDisertacijaView.odabranaEvDokDisertacije.brojIzdavanje}"
						min="0" max="999" style="align:center;" size="5" />
					<p:message for="brojIzdavanjeView" display="icon" />

				</h:panelGrid>
			</p:panel>

			<div align="center">
				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{brDocDisertacijaView.update()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="edit_panel,form_tablica_brDokDisertacija"
					class="bttn-dialog-save" />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%" onclick="tabl6Dialog.hide();"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="prkBDDDialog" header="Unošenje statusa" rendered="true"
		widgetVar="prkBDDDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkBDDForm">

			<p:panel id="prkBDDPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkBDDPanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" />
					<p:selectOneRadio id="status"
						value="#{brDocDisertacijaView.odabranaEvDokDisertacije.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>
				
				<p:inputTextarea rows="3" cols="50"
					value="#{brDocDisertacijaView.odabranaEvDokDisertacije.komentarPrk}"
					placeholder="Komentari" />


			</p:panel>
			<div align="center">
				<br />
				
				<p:commandButton value="Spremi" style="width:30%" action="#{brDocDisertacijaView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="prkBDDForm, form_tablica_brDokDisertacija" class="bttn-dialog-save" />

			</div>
		</h:form>
	</p:dialog>

	<script type="text/javascript">
	
		// HOTFIX Sirina retka sa ikonama delete, edit i prk je uvijek takva da ikone stanu jedan kraj druge,
		// umjesto fiksne najbolje da bude auto, a za to treba testirati strukturu i ovisno i prioritetima
		$('table.br-dr-disertacija-wrapper > tbody > tr > td:first-child, ' +
		  'table.br-dr-disertacija-wrapper > thead > tr > th:first-child').css('width', '6em', 'important')
	
	</script>
	
</ui:composition>
