<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<!-- popisDiseminacijskihAktivnosti -->

	<h1 style="font-size: 12" align="center">TABLICA 10: Popis
		diseminacijskih aktivnosti</h1>
	<p:separator style="height:7px" />

	<h:form id="form_tablica_popisDisAktivnosti">

		<p:dataTable value="#{diseminacijskeAktivnostiView.fillTable()}"
			var="popisDiseminacijskihAktivnosti" type="ordered"
			selectionMode="single" rowKey="#{popisDiseminacijskihAktivnosti.id}"
			id="popisDiseminacijskihAktivnostiDT"
			selection="#{diseminacijskeAktivnostiView.odabranaEvPopisDisAktivnosti}" rowIndexVar="rowIndex"
			tableStyleClass="diseminacijske-aktivnosti-wrapper">

			<f:facet name="header">
				<p:commandButton disabled="#{!preventAction.periodActive}"  value="Novi" rendered="#{preventAction.rendered}"
					onclick="PF('singleDialog_new').show(); #{diseminacijskeAktivnostiView.clean()}" />
					<br />
			</f:facet>

			<p:column escape="false" headerText="Opcije"
				rendered="#{preventAction.isRendered('OPCIJE')}"
				style="width:5em; align:center;">

				<p:commandButton disabled="#{preventAction.isDisabled('EDIT')}"  value="" class="ikona-edit" style="buttonNew"
					oncomplete="PF('singleDialog_edit').show()" rendered="#{preventAction.isRendered('EDIT')}" update="edit_dialog">
					<f:setPropertyActionListener value="#{popisDiseminacijskihAktivnosti}"
						target="#{diseminacijskeAktivnostiView.currentRow}" />
				</p:commandButton>

				<p:commandButton disabled="#{preventAction.isDisabled('DELETE')}" value="" class="ikona-delete" 
					rendered="#{preventAction.isRendered('DELETE')}" update="form_tablica_popisDisAktivnosti">
					<f:setPropertyActionListener value="#{popisDiseminacijskihAktivnosti}"
						target="#{diseminacijskeAktivnostiView.delete}" />
				</p:commandButton>
				
				<p:commandButton value="PRK" rendered="#{preventAction.isRendered('PRK')}"
					oncomplete="PF('prkDADialogWidget').show()" class="ikona-prk ikona-prk-pozicija"
					update="prkDADialog">
					<f:setPropertyActionListener value="#{popisDiseminacijskihAktivnosti}"
						target="#{diseminacijskeAktivnostiView.currentRow}" />
				</p:commandButton>
				
			</p:column>

			<p:column escape="false" headerText="Br." style="width:3em"
				sortBy="#{popisDiseminacijskihAktivnosti.broj}">
				<h:outputText escape="false" value="#{rowIndex + 1}" />
			</p:column>

			<p:column escape="false" headerText="Vrsta aktivnosti" 
				style="width:10em" sortBy="#{popisDiseminacijskihAktivnosti.vrsta}">
				<h:outputText escape="false" 
				value="#{diseminacijskeAktivnostiView.getDescription('ev_popis_dis_aktivnosti','vrsta',popisDiseminacijskihAktivnosti.vrsta)}"/>
			</p:column>

			<p:column escape="false" headerText="Ime i prezime člana istraživačke grupe"
				style="width:14em" sortBy="#{popisDiseminacijskihAktivnosti.imeIPrezime}">
				<h:outputText escape="false" value="#{popisDiseminacijskihAktivnosti.imeIPrezime}" />
			</p:column>

			<p:column escape="false" headerText="Uloga člana projekta"
				style="width:10em" sortBy="#{popisDiseminacijskihAktivnosti.uloga}">
				<h:outputText escape="false" 
				value="#{diseminacijskeAktivnostiView.getDescription('ev_popis_dis_aktivnosti','uloga',popisDiseminacijskihAktivnosti.uloga)}"/>
			</p:column>

			<p:column escape="false" headerText="Naziv" style="width:12em"
				sortBy="#{popisDiseminacijskihAktivnosti.naziv}">
				<h:outputText escape="false" value="#{popisDiseminacijskihAktivnosti.naziv}" />
			</p:column>

			<p:column escape="false"
				headerText="Datum/Razdoblje DD.MM.GGGG-DD.MM.GGGG"
				style="width:13em"
				sortBy="#{popisDiseminacijskihAktivnosti.datumDo}">
				<h:outputText escape="false"
					value="#{popisDiseminacijskihAktivnosti.datumOd}">
					<f:convertDateTime pattern="dd.MM.yyyy" />
				</h:outputText>
					<h:outputText escape="false" value=" - " />
				<h:outputText escape="false"
					value="#{popisDiseminacijskihAktivnosti.datumDo}">
					<f:convertDateTime pattern="dd.MM.yyyy"/>
				</h:outputText>
			</p:column>

			<p:column escape="false" headerText="Mjesto" style="width:10em"
				sortBy="#{popisDiseminacijskihAktivnosti.mjesto}">
				<h:outputText escape="false" value="#{popisDiseminacijskihAktivnosti.mjesto}" />
			</p:column>

			<p:column escape="false" headerText="Vrsta publike"
				style="width:10em" sortBy="#{popisDiseminacijskihAktivnosti.vrstaPublike}">
				<h:outputText escape="false"
				value="#{diseminacijskeAktivnostiView.getDescription('ev_popis_dis_aktivnosti','vrsta_publike',popisDiseminacijskihAktivnosti.vrstaPublike)}"/>
			</p:column>

			<p:column escape="false" headerText="Broj sudionika"
				style="width:5em" sortBy="#{popisDiseminacijskihAktivnosti.brojSudionika}">
				<h:outputText escape="false" value="#{popisDiseminacijskihAktivnosti.brojSudionika}" />
			</p:column>

			<p:column escape="false" headerText="Obuhvaćene države"
				style="width:10em" sortBy="#{popisDiseminacijskihAktivnosti.obuhvaceneDrzave}">
				<h:outputText escape="false" value="#{popisDiseminacijskihAktivnosti.obuhvaceneDrzave}" />
			</p:column>

			<f:facet name="footer">
			</f:facet>

		</p:dataTable>

	</h:form>

	<!--  New dialog   -->
	<p:dialog id="new_dialog" header="Nove diseminacijske aktivnosti"
		widgetVar="singleDialog_new" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true" >

		<h:form id="form_new">
			<p:panel id="new_panel">

				<p:messages id="msgsNew" showDetail="true"/>
				<h:panelGrid id="displaynew" columns="3" cellpadding="4" border="0">
					
					<p:outputLabel value="Vrsta aktivnosti:" for="vrstaNew" />
					<p:selectOneMenu id="vrstaNew"
						value="#{diseminacijskeAktivnostiView.lovObjectVrsta}"
						panelStyle="width:180px" effect="fade" var="t" style="width:180px"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}" required="true">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_dis_aktivnosti','vrsta')}"
							var="lovObjectVrsta" itemLabel="#{lovObjectVrsta.description}"
							itemValue="#{lovObjectVrsta}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="vrstaNew" display="icon" />

					<p:outputLabel value="Ime i prezime člana istraživačke grupe" for="imeIPrezimeDANew" />
					<p:inputTextarea cols="40" rows="1" id="imeIPrezimeDANew"
						value="#{diseminacijskeAktivnostiView.novaEvPopisDisAktivnosti.imeIPrezime}"
						maxlength="500" autoResize="true" required="true"/>
					<p:message for="imeIPrezimeDANew" display="icon" />

					<p:outputLabel value="Uloga člana projekta:" for="ulogaDANew" />	
					<p:selectOneMenu id="ulogaDANew"
						value="#{diseminacijskeAktivnostiView.lovObjectUloga}" panelStyle="width:180px" 
						effect="fade" var="t" style="width:180px" required="true"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_dis_aktivnosti','uloga')}"
							var="lovObjectUloga" itemLabel="#{lovObjectUloga.description}"
							itemValue="#{lovObjectUloga}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="ulogaDANew" display="icon" />

					<p:outputLabel value="Naziv:" for="nazivDANew"/>
					<p:inputTextarea cols="40" rows="1" id="nazivDANew"
						value="#{diseminacijskeAktivnostiView.novaEvPopisDisAktivnosti.naziv}"
						maxlength="500" autoResize="true" required="true"/>
					<p:message for="nazivDANew" display="icon" />

					<p:outputLabel value="Datum razdoblja od:" for="razdobljeOdNew" />
					<p:calendar id="razdobljeOdNew" binding="#{razOdNew}"
						value="#{diseminacijskeAktivnostiView.novaEvPopisDisAktivnosti.datumOd}"
						pattern="dd.MM.yyyy" mask="true" required="true" size="10">
						<p:ajax event="dateSelect" update="razdobljeOdNew"/>
					</p:calendar>
					<p:message for="razdobljeOdNew" display="icon" />
					
					<p:outputLabel value="Datum razdoblja do:" for="razdobljeDoNew"/>
					<p:calendar id="razdobljeDoNew"
						value="#{diseminacijskeAktivnostiView.novaEvPopisDisAktivnosti.datumDo}"
						pattern="dd.MM.yyyy" mask="true" required="true" size="10">
						
						<f:attribute name="startDate" value="#{razOdNew}"/>
    					<f:validator binding="#{dateFromFirstToLastPeriodValidator}" />
					</p:calendar>
					<p:message for="razdobljeDoNew" display="icon" />

					<p:outputLabel value="Mjesto:" for="mjestoDANew"/>
					<p:inputTextarea id="mjestoDANew"
						value="#{diseminacijskeAktivnostiView.novaEvPopisDisAktivnosti.mjesto}"
						cols="40" rows="1" maxlength="50" required="true">
					</p:inputTextarea>
					<p:message for="mjestoDANew" display="icon" />

					<p:outputLabel value="Vrsta publike:" for="vrstaPublikeDANew" />
					<p:selectOneMenu id="vrstaPublikeDANew"
						value="#{diseminacijskeAktivnostiView.lovObjectVrstaPublike}" panelStyle="width:180px" 
						effect="fade" var="t" style="width:180px" required="true"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_dis_aktivnosti','vrsta_publike')}"
							var="lovObjectVrstaPublike" itemLabel="#{lovObjectVrstaPublike.description}"
							itemValue="#{lovObjectVrstaPublike}" />

						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>

					<p:message for="vrstaPublikeDANew" display="icon" />

					<p:outputLabel value="Broj sudionika:" for="brojSudionikaDANew"/>
					<p:spinner id="brojSudionikaDANew"
						value="#{diseminacijskeAktivnostiView.novaEvPopisDisAktivnosti.brojSudionika}"
						min="0" max="9999" style="align:center;" size="5" required="true"/>
					<p:message for="brojSudionikaDANew" display="icon" />

					<p:outputLabel value="Obuhvaćene države:" for="obuhvaceneDrzaveDANew" /> 
					<p:inputTextarea id="obuhvaceneDrzaveDANew"
						value="#{diseminacijskeAktivnostiView.novaEvPopisDisAktivnosti.obuhvaceneDrzave}"
						cols="40" rows="1" maxlength="50" required="true">
					</p:inputTextarea>
					<p:message for="obuhvaceneDrzaveDANew" display="icon" />

				</h:panelGrid>

			</p:panel>
			<div align="center">

				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"  value="Spremi" style="width:30%"
					action="#{diseminacijskeAktivnostiView.insert()}"
					update="new_panel,form_tablica_popisDisAktivnosti"
					oncomplete="setMsgfadeOut('msgsNew')" class="bttn-dialog-save"/>

				<p:commandButton disabled="#{!preventAction.periodActive}"  value="Odustani" style="width:30%"
					onclick="new_dialog.hide();" immediate="true" class="bttn-dialog-cancel" partialSubmit="true"/>

			</div>

		</h:form>
	</p:dialog>
	
	<p:dialog id="edit_dialog" header="Odabrana diseminacijska aktivnost"
		widgetVar="singleDialog_edit" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true" >

		<h:form id="form_edit">
			<p:panel id="edit_panel">

				<p:messages id="msgsView" showDetail="true"/>
				<h:panelGrid id="displayView" columns="3" cellpadding="4" border="0">
 			
					<p:outputLabel value="Vrsta aktivnosti:" for="vrstaNew" />
					<p:selectOneMenu id="vrstaNew"
						value="#{diseminacijskeAktivnostiView.lovObjectVrsta}"
						panelStyle="width:180px" effect="fade" var="t" style="width:180px"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}" required="true">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_dis_aktivnosti','vrsta')}"
							var="lovObjectVrsta" itemLabel="#{lovObjectVrsta.description}"
							itemValue="#{lovObjectVrsta}" />

						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="vrstaNew" display="icon" />

					<p:outputLabel value="Ime i prezime člana istraživačke grupe:" for="imePrezimeView" />
					<p:inputTextarea cols="40" rows="1" id="imePrezimeView"
						value="#{diseminacijskeAktivnostiView.odabranaEvPopisDisAktivnosti.imeIPrezime}"
						maxlength="500" autoResize="true" required="true"/>
					<p:message for="imePrezimeView" display="icon" />

					<p:outputLabel value="Uloga člana projekta:" for="ulogaDANew" />	
					<p:selectOneMenu id="ulogaDANew"
						value="#{diseminacijskeAktivnostiView.lovObjectUloga}" panelStyle="width:180px" 
						effect="fade" var="t" style="width:180px" required="true"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_dis_aktivnosti','uloga')}"
							var="lovObjectUloga" itemLabel="#{lovObjectUloga.description}"
							itemValue="#{lovObjectUloga}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="ulogaDANew" display="icon" />

					<p:outputLabel value="Naziv:" for="nazivView" />
					
					<p:inputTextarea cols="40" rows="1" id="nazivView"
						value="#{diseminacijskeAktivnostiView.odabranaEvPopisDisAktivnosti.naziv}"
						maxlength="500" autoResize="true" required="true"/>
					<p:message for="nazivView" display="icon" />

					<p:outputLabel value="Razdoblje od:" for="razdobljeOdView" />
					<p:calendar id="razdobljeOdView" binding="#{razOdEdit}"
						value="#{diseminacijskeAktivnostiView.odabranaEvPopisDisAktivnosti.datumOd}"
						pattern="dd.MM.yyyy" mask="true" required="true">
						<p:ajax event="dateSelect" update="razdobljeOdView" />
					</p:calendar>
					<p:message for="razdobljeOdView" display="icon" />

					<p:outputLabel value="Razdoblje do:" for="razdobljeDoView" />
					<p:calendar id="razdobljeDoView"
						value="#{diseminacijskeAktivnostiView.odabranaEvPopisDisAktivnosti.datumDo}"
						pattern="dd.MM.yyyy" mask="true" required="true">
						 <f:attribute name="startDate" value="#{razOdEdit}"/>
    					<f:validator binding="#{dateFromFirstToLastPeriodValidator}" />
					</p:calendar>
					<p:message for="razdobljeDoView" display="icon" />

					<p:outputLabel value="Mjesto:" for="mjestoView" />
					<p:inputTextarea id="mjestoView"
						value="#{diseminacijskeAktivnostiView.odabranaEvPopisDisAktivnosti.mjesto}"
						cols="40" rows="1" maxlength="100">
					</p:inputTextarea>
					<p:message for="mjestoView" display="icon" />

					<p:outputLabel value="Vrsta publike:" for="vrstaPublikeDANew" />
					<p:selectOneMenu id="vrstaPublikeDANew"
						value="#{diseminacijskeAktivnostiView.lovObjectVrstaPublike}" panelStyle="width:180px" 
						effect="fade" var="t" style="width:180px" required="true"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_dis_aktivnosti','vrsta_publike')}"
							var="lovObjectVrstaPublike" itemLabel="#{lovObjectVrstaPublike.description}"
							itemValue="#{lovObjectVrstaPublike}" />

						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="vrstaPublikeDANew" display="icon" />

					<p:outputLabel value="Broj sudionika:" for="brojSudionikaView" />
					<p:spinner id="brojSudionikaView"
						value="#{diseminacijskeAktivnostiView.odabranaEvPopisDisAktivnosti.brojSudionika}"
						min="0" max="9999" style="align:center;" size="5" required="true"/>
					<p:message for="brojSudionikaView" display="icon" />

					<p:outputLabel value="Obuhvaćene države:" for="obuhvaceneDrzaveView" />
					<p:inputTextarea id="obuhvaceneDrzaveView"
						value="#{diseminacijskeAktivnostiView.odabranaEvPopisDisAktivnosti.obuhvaceneDrzave}"
						cols="40" rows="1" maxlength="100" required="true">
					</p:inputTextarea>
					<p:message for="obuhvaceneDrzaveView" display="icon" />

				</h:panelGrid>
			</p:panel>

			<div align="center">
				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"  value="Spremi" style="width:30%"
					action="#{diseminacijskeAktivnostiView.update()}"
					oncomplete="setMsgfadeOut('msgsView')"
					update="edit_panel,form_tablica_popisDisAktivnosti" class="bttn-dialog-save"/>
				<p:commandButton disabled="#{!preventAction.periodActive}"  value="Odustani" style="width:30%"
					onclick="singleDialog_edit.hide();" immediate="true" class="bttn-dialog-cancel" partialSubmit="true"/>
			</div>
		</h:form>
	</p:dialog>
	
	<p:dialog id="prkDADialog" header="Unošenje statusa" rendered="true"
		widgetVar="prkDADialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkDAForm">

			<p:panel id="prkDADPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkDAPanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" />
					<p:selectOneRadio id="status"
						value="#{diseminacijskeAktivnostiView.odabranaEvPopisDisAktivnosti.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>
				
				<p:inputTextarea rows="3" cols="50"
					value="#{diseminacijskeAktivnostiView.odabranaEvPopisDisAktivnosti.komentarPrk}"
					placeholder="Komentari" />


			</p:panel>
			<div align="center">
				<br />
				
				<p:commandButton value="Spremi" style="width:30%" action="#{diseminacijskeAktivnostiView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="prkDAForm, form_tablica_popisDisAktivnosti" class="bttn-dialog-save" />
			</div>
		</h:form>
	</p:dialog>

	<script type="text/javascript">
	
		// HOTFIX Sirina retka sa ikonama delete, edit i prk je uvijek takva da ikone stanu jedan kraj druge,
		// umjesto fiksne najbolje da bude auto, a za to treba testirati strukturu i ovisno i prioritetima
		$('table.diseminacijske-aktivnosti-wrapper > tbody > tr > td:first-child, ' +
		  'table.diseminacijske-aktivnosti-wrapper > thead > tr > th:first-child').css('width', '6em', 'important')
	
	</script>
	
</ui:composition>
