<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:growl autoUpdate="true" id="globalMsgs" showDetail="true"
		widgetVar="globalMsgsWidget" life="5000" />
	<p:accordionPanel multiple="true" activeIndex="0,1,2"
		id="evidencijeContent">

		<p:tab title="Pregled podataka o projektu" closable="false"
			rendered="#{!sessionBean.hasRoles(fn:split('PRK', ','))}">

			<h:panelGrid columns="12" cellpadding="8">
				<h:outputText value="Šifra:" />
				<h:outputText escape="false" style="font-weight: bold;"
					value="#{sessionBean.currentProject.code}" />

				<h:outputText value="Vrsta:" />
				<h:outputText escape="false" style="font-weight: bold;"
					value="#{sessionBean.currentProject.tenderType.code}" />

				<h:outputText value="Rok:" />
				<h:outputText escape="false" style="font-weight: bold;"
					value="#{sessionBean.currentProject.tenderDeadline}" />

				<h:outputText value="Voditelj:" />
				<h:outputText escape="false" style="font-weight: bold;"
					value="#{sessionBean.currentProject.leader.userData.name} #{sessionBean.currentProject.leader.userData.surname}" />

				<h:outputText value="Tel:" />
				<h:outputText escape="false" style="font-weight: bold;"
					value="#{sessionBean.currentProject.leader.userData.phoneNumber}" />

				<h:outputText value="E-mail:" />
				<h:outputText escape="false" style="font-weight: bold;"
					value="#{sessionBean.currentProject.leader.userData.email}" />
			</h:panelGrid>

			<h:panelGrid columns="2" cellpadding="8">
				<h:outputText value="Naziv:" />
				<h:outputText escape="false" style="font-weight: bold;"
					value="#{sessionBean.currentProject.name}" />

			</h:panelGrid>

		</p:tab>

		<p:tab title="EVIDENCIJE opcije" closable="false"
			rendered="#{!sessionBean.hasRoles(fn:split('PRK', ','))}">

			<h:form id="rpStatus">

				<p:confirmDialog global="true" showEffect="fade"
					hideEffect="explode">

					<div align="center">

						<p:commandButton value="Da" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="Ne" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />

					</div>
				</p:confirmDialog>

				<p:panel id="operations" style="">

					<p:commandButton value="1. Zatvori razdoblje" style="width:20%"
						id="closePeriod" action="#{evidencijeVODView.close()}"
						update="operations" class="bttn-dialog-save"
						disabled="#{ preventAction.disableZatvoriRazdoblje }">

						<p:confirm header="Razdoblje"
							message="Navedenom opcijom zaključat će se sve stavke/redovi za sve evidencije za trenutno izvještajno razdoblje"
							icon="ui-icon-alert" />

					</p:commandButton>

					<p:commandButton ajax="false"
						disabled="#{ sessionBean.currentReportingPeriod.status == '1' ? true : false }"
						value="2. Opisno izvješće" style="width:22%" id="nar_izvj"
						action="#{menuController.menuAction('narativno_izvjesce',1)}">
					</p:commandButton>

					<p:commandButton ajax="false"
						disabled="#{ sessionBean.currentReportingPeriod.status == '1' ? true : false }"
						value="3. Upload izvješća" style="width:20%" id="uploadIzvjesca"
						action="#{menuController.menuAction('uploadIzvjesca',1)}">
					</p:commandButton>

					<p:commandButton
						disabled="#{ preventAction.disablePosaljiIzvjesca }"
						class="bttn-dialog-save" value="4. Pošalji izvješća"
						style="width:20%" id="posaljiIzvjesca"
						action="#{posaljiIzvjescaView.sendReports}" update="operations">

						<p:confirm header="Pošalji izvješća" icon="ui-icon-alert"
							message="Odabirom opcije 'Pošalji izvješća' zaključavate unose za cijelo razdoblje.
  								Više nećete moći mijenjati niti dodavati podatke i dokumente,a izvješće će biti isporučeno na daljnju   
   									 obradu. Želite li nastaviti s radom?" />
					</p:commandButton>

				</p:panel>

			</h:form>

		</p:tab>

		<p:tab
			title="Pregled evidencija za razdoblje: #{sessionBean.rpDateFromFormat} - #{sessionBean.rpDateToFormat}">

			<h:form id="popisEvidencijaDTForm">

				<p:dataTable id="popisEvidencijaDT"
					value="#{evidencijeVODView.fillEvidencije()}" var="evidencija"
					type="ordered" rowKey="#{evidencija.nazivXhtml}"
					selectionMode="single"
					selection="#{evidencijeVODView.selectedEvidencija}"
					rowIndexVar="rowIndex"
					rowStyleClass="#{rowIndex >= 4 ? '' : 'evRequiredRowBgColor'}">

					<p:ajax event="rowSelect" listener="#{evidencijeVODView.navigaj}">
						<f:setPropertyActionListener
							target="#{evidencijeVODView.selectedEvidencija}"
							value="evidencija" />
					</p:ajax>

					<p:column escape="false" headerText="Tablica" style="width:6em"
						sortBy="#{evidencija.title}">
						<h:outputText escape="false" value="#{evidencija.title}" />
					</p:column>

					<p:column escape="false" headerText="Opis" style="width:18em"
						sortBy="#{evidencija.opis}">
						<h:outputText escape="false" value="#{evidencija.opis}" />
					</p:column>

					<p:column escape="false" headerText="Status" style="width:6em"
						styleClass="ikona-status-wrapper">
						<p:commandButton value=""
							styleClass="#{evidencija.statusEvidencija.ikona}">
						</p:commandButton>
					</p:column>

				</p:dataTable>
			</h:form>

		</p:tab>

	</p:accordionPanel>

</ui:composition>