<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<p:outputLabel value="Poveznica ili upload dokumenta:" for="fileView" />
	<p:panel id="fileView" styleClass="file-upload-panel">
		<p:inputText id="poveznica" value="#{fileUploadBean.poveznica}"
			size="50" maxlength="255">
			<f:validateLength maximum="255" />
		</p:inputText>
		<br />
		<p:fileUpload id="fileNew" mode="advanced" auto="true"
			multiple="false"
			fileUploadListener="#{fileUploadBean.handleFileUpload}"
			value="#{fileUploadBean.newFile}" fileLimit="1" label="Dokument"
			uploadLabel="Podizanje..." update="fileView" />
		<h:outputText
			rendered="#{fileUploadBean.selectedRow.file != null || fileUploadBean.evFile != null}"
			value="#{fileUploadBean.currentFileName}" />
		<p:commandLink styleClass="del-link"
			rendered="#{fileUploadBean.selectedRow.file != null || fileUploadBean.evFile != null}"
			action="#{fileUploadBean.markForDelete}" update="@(form)"
			oncomplete="setMsgfadeOut('msgsView');">
			<i class="fa fa-trash-o"></i>
		</p:commandLink>
	</p:panel>
</ui:composition>
