<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h1 style="font-size: 12" align="center">TABLICA 13: Prijava na
		inozemne fondove (NIJE OBVEZNA)</h1>
	<p:separator style="height:7px" />

	<h:form id="form_tablica_fondovi">

		<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
			<div align="center">
				<p:commandButton value="Da" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Ne" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</div>
		</p:confirmDialog>

		<p:dataTable value="#{inozemniFondoviView.fillTable()}"
			var="inozemniFond" type="ordered" selectionMode="single"
			rowKey="#{inozemniFond.id}" id="tablica_inozemniFond"
			selection="#{inozemniFondoviView.odabranaEvFondova}"
			tableStyleClass="inozemni-fondovi-wrapper">

			<f:facet name="header">
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Novi" rendered="#{preventAction.rendered}"
					onclick="PF('tabl13Dialog').show(); #{inozemniFondoviView.clean()}" />
				<br />
			</f:facet>

			<p:column escape="false" headerText="Opcije"
				rendered="#{preventAction.isRendered('OPCIJE')}"
				style="width:5em; align:center;">

				<p:commandButton disabled="#{preventAction.isDisabled('EDIT')}"
					value="" class="ikona-edit"
					rendered="#{preventAction.isRendered('EDIT')}"
					oncomplete="PF('tabl13Dialog_edit').show()"
					update="edit_tabl13Dialog">
					<f:setPropertyActionListener value="#{inozemniFond}"
						target="#{inozemniFondoviView.currentRow}" />
				</p:commandButton>

				<p:commandButton disabled="#{preventAction.isDisabled('DELETE')}"
					value="" class="ikona-delete"
					rendered="#{preventAction.isRendered('DELETE')}"
					update="form_tablica_fondovi">
					<f:setPropertyActionListener value="#{inozemniFond}"
						target="#{inozemniFondoviView.delete}" />
					<p:confirm header="Potvrda brisanja"
						message="Jeste sigurni da želite obrisati unešene podatke?"
						icon="ui-icon-alert">
					</p:confirm>
				</p:commandButton>

				<p:commandButton value="PRK"
					rendered="#{preventAction.isRendered('PRK')}" class="ikona-prk ikona-prk-pozicija"
					oncomplete="PF('prkIFDialogWidget').show()" update="prkIFDialog">
					<f:setPropertyActionListener value="#{inozemniFond}"
						target="#{inozemniFondoviView.currentRow}" />
				</p:commandButton>
			</p:column>

			<p:column escape="false"
				headerText="Broj prijava na europske i međunarodne fondove proizašlih iz projekta"
				style="width:10em" sortBy="#{inozemniFond.brojPrijava}">
				<h:outputText escape="false" value="#{inozemniFond.brojPrijava}" />
			</p:column>

			<p:column escape="false"
				headerText="Naziv programa na koji je projekt prijavljen"
				style="width:10em" sortBy="#{inozemniFond.nazivPrograma}">
				<h:outputText escape="false" value="#{inozemniFond.nazivPrograma}" />
			</p:column>

			<p:column escape="false" headerText="Rok prijave DD/MM/GGGG"
				style="width:10em" sortBy="#{inozemniFond.rokPrijave}">
				<h:outputText escape="false" value="#{inozemniFond.rokPrijave}">
					<f:convertDateTime pattern="dd.MM.yyyy" />
				</h:outputText>
			</p:column>

			<p:column escape="false" headerText="Status" style="width:10em"
				sortBy="#{inozemniFond.status}">
				<h:outputText escape="false"
					value="#{inozemniFondoviView.getDescription('ev_fondova','status',inozemniFond.status)}" />
			</p:column>

		</p:dataTable>

	</h:form>



	<p:dialog id="new_tabl13Dialog" header="PRIJAVA NA INOZEMNE FONDOVE"
		widgetVar="tabl13Dialog" esizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="form_new">
			<p:panel id="tabl13_panel">

				<p:messages id="msgsNew" showDetail="true" />

				<h:panelGrid id="displaytest1" columns="3" cellpadding="4"
					border="0">
					<p:outputLabel
						value="Broj prijava na europske i međunarodne fondove proizašlih iz projekta:"
						for="brojPrijavaNew" />
					<p:spinner id="brojPrijavaNew"
						value="#{inozemniFondoviView.novaEvFondova.brojPrijava}" min="0"
						max="999" style="align:center;" size="5" required="true" />
					<p:message for="brojPrijavaNew" display="icon" />

					<p:outputLabel
						value="Naziv programa na koji je projekt prijavljen:"
						for="nazivProgramaNew" />
					<p:inputTextarea id="nazivProgramaNew"
						value="#{inozemniFondoviView.novaEvFondova.nazivPrograma}"
						cols="50" rows="1" maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="nazivProgramaNew" display="icon" />

					<p:outputLabel value="Rok prijave DD.MM.GGGG:" for="rokPrijaveNew" />
					<p:calendar id="rokPrijaveNew"
						value="#{inozemniFondoviView.novaEvFondova.rokPrijave}"
						pattern="dd.MM.yyyy" mask="true" required="true">
						<f:validator binding="#{datePeriodRangeValidator}" />
					</p:calendar>
					<p:message for="rokPrijaveNew" display="icon" />

					<p:outputLabel value="Status:" for="statusNew" />
					<p:selectOneMenu id="statusNew"
						value="#{inozemniFondoviView.lovObject}" panelStyle="width:180px"
						effect="fade" var="t" style="width:180px"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}"
						required="true">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_fondova','status')}"
							var="lovObject" itemLabel="#{lovObject.description}"
							itemValue="#{lovObject}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="statusNew" display="icon" />

				</h:panelGrid>

			</p:panel>
			<div align="center">

				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{inozemniFondoviView.insert()}"
					update="tabl13_panel,form_tablica_fondovi"
					oncomplete="setMsgfadeOut('msgsNew')" />

				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%" onclick="tabl13Dialog.hide();" />

			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="edit_tabl13Dialog" header="Prijava na inozemne fondove"
		widgetVar="tabl13Dialog_edit" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="form_edit">
			<p:panel id="edit_panel">

				<p:messages id="msgsView" showDetail="true" />
				<h:panelGrid id="displayView" columns="3" cellpadding="4" border="0">

					<p:outputLabel
						value="Broj prijava na europske i međunarodne fondove proizašlih iz projekta:"
						for="brojPrijavaView" />
					<p:spinner id="brojPrijavaView"
						value="#{inozemniFondoviView.odabranaEvFondova.brojPrijava}"
						min="0" max="999" style="align:center;" size="5" required="true" />
					<p:message for="brojPrijavaView" display="icon" />

					<p:outputLabel
						value="Naziv programa na koji je projekt prijavljen::"
						for="nazivProgramaView" />
					<p:inputTextarea id="nazivProgramaView"
						value="#{inozemniFondoviView.odabranaEvFondova.nazivPrograma}"
						cols="50" rows="1" maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="nazivProgramaView" display="icon" />

					<p:outputLabel value="Rok prijave DD.MM.GGGG:" for="rokPrijaveView" />
					<p:calendar id="rokPrijaveView"
						value="#{inozemniFondoviView.odabranaEvFondova.rokPrijave}"
						pattern="dd.MM.yyyy" mask="true" required="true">
						<f:validator binding="#{datePeriodRangeValidator}" />
					</p:calendar>
					<p:message for="rokPrijaveView" display="icon" />

					<p:outputLabel value="Status:" for="statusView" />
					<p:selectOneMenu id="statusView"
						value="#{inozemniFondoviView.lovObject}" panelStyle="width:180px"
						effect="fade" var="t" style="width:180px"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}"
						required="true">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_fondova','status')}"
							var="lovObject" itemLabel="#{lovObject.description}"
							itemValue="#{lovObject}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="statusView" display="icon" />


				</h:panelGrid>
			</p:panel>

			<div align="center">
				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{inozemniFondoviView.update()}"
					oncomplete="setMsgfadeOut('msgsView')"
					update="edit_panel,form_tablica_fondovi" class="bttn-dialog-save" />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%" onclick="tabl13Dialog.hide();"
					immediate="true" class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="prkIFDialog" header="Unošenje statusa" rendered="true"
		widgetVar="prkIFDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkIFForm">

			<p:panel id="prkIFPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkIFPanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" />
					<p:selectOneRadio id="status"
						value="#{inozemniFondoviView.odabranaEvFondova.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>

				<p:inputTextarea rows="3" cols="50"
					value="#{inozemniFondoviView.odabranaEvFondova.komentarPrk}"
					placeholder="Komentari" />


			</p:panel>
			<div align="center">
				<br />

				<p:commandButton value="Spremi" style="width:30%"
					action="#{inozemniFondoviView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="prkIFForm, form_tablica_fondovi" class="bttn-dialog-save" />

			</div>
		</h:form>
	</p:dialog>

	<script type="text/javascript">
	
		// HOTFIX Sirina retka sa ikonama delete, edit i prk je uvijek takva da ikone stanu jedan kraj druge,
		// umjesto fiksne najbolje da bude auto, a za to treba testirati strukturu i ovisno i prioritetima
		$('table.inozemni-fondovi-wrapper > tbody > tr > td:first-child, ' +
		  'table.inozemni-fondovi-wrapper > thead > tr > th:first-child').css('width', '6em', 'important')
	
	</script>
	
</ui:composition>
