<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h1 style="font-size: 12" align="center">TABLICA 4: Istraživačka
		grupa (OBVEZNA TABLICA)</h1>
	<p:separator style="height:7px" />

	<h:form enctype="utf8" id="form_tablica_istrazivackaSkupina">

		<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
			<div align="center">
				<p:commandButton value="Da" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Ne" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</div>
		</p:confirmDialog>


		<p:dataTable value="#{istrazivackaSkupinaView.fillTable()}"
			var="istrazivackaSkupina" type="ordered" selectionMode="single"
			rowKey="#{istrazivackaSkupina.id}" id="tablica_istrazivackaSkupina"
			selection="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina}"
			tableStyleClass="istrazivacka-skupina-wrapper">

			<f:facet name="header">
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Novi" rendered="#{preventAction.rendered}"
					onclick="PF('singleDialog_new').show(); #{istrazivackaSkupinaView.clean()}" />
				<br />
			</f:facet>

			<p:column escape="false" headerText="Opcije"
				rendered="#{preventAction.isRendered('OPCIJE')}"
				style="width:5em; align:center;">

				<p:commandButton disabled="#{preventAction.isDisabled('EDIT')}"
					value="" class="ikona-edit"
					rendered="#{preventAction.isRendered('EDIT')}"
					oncomplete="PF('singleDialog_edit').show()" update="edit_dialog">
					<f:setPropertyActionListener value="#{istrazivackaSkupina}"
						target="#{istrazivackaSkupinaView.currentRow}" />
				</p:commandButton>

				<p:commandButton disabled="#{preventAction.isDisabled('DELETE')}"
					value="" class="ikona-delete"
					rendered="#{preventAction.isRendered('DELETE')}"
					update="form_tablica_istrazivackaSkupina">
					<f:setPropertyActionListener value="#{istrazivackaSkupina}"
						target="#{istrazivackaSkupinaView.delete}" />
					<p:confirm header="Potvrda brisanja"
						message="Jeste sigurni da želite obrisati unešene podatke?"
						icon="ui-icon-alert">
					</p:confirm>
				</p:commandButton>

				<p:commandButton value="PRK"
					rendered="#{preventAction.isRendered('PRK')}" class="ikona-prk ikona-prk-pozicija"
					oncomplete="PF('prkISDialogWidget').show()" update="prkISDialog">
					<f:setPropertyActionListener value="#{istrazivackaSkupina}"
						target="#{istrazivackaSkupinaView.currentRow}" />
				</p:commandButton>


			</p:column>
			<p:column escape="false" headerText="Ime i prezime"
				style="width:12em" sortBy="#{istrazivackaSkupina.imePrezime}">
				<h:outputText escape="false"
					value="#{istrazivackaSkupina.imePrezime}" />
			</p:column>

			<p:column escape="false" headerText="Titula" style="width:7em"
				sortBy="#{istrazivackaSkupina.titula}">
				<h:outputText escape="false"
					value="#{istrazivackaSkupinaView.getDescription('ev_istrazivacka_skupina','titula',istrazivackaSkupina.titula)}" />
			</p:column>

			<p:column escape="false" headerText="Godina rođenja"
				style="width:5em" sortBy="#{istrazivackaSkupina.godinaRodjenja}">
				<h:outputText escape="false"
					value="#{istrazivackaSkupina.godinaRodjenja}" />
			</p:column>

			<p:column escape="false" headerText="Ustanova zaposlenja"
				style="width:10em"
				sortBy="#{istrazivackaSkupina.ustanovaZaposlenja}">
				<h:outputText escape="false"
					value="#{istrazivackaSkupina.ustanovaZaposlenja}" />
			</p:column>

			<p:column escape="false" headerText="Uloga u projektu"
				style="width:10em" sortBy="#{istrazivackaSkupina.uloga}">
				<h:outputText escape="false" value="#{istrazivackaSkupina.uloga}" />
			</p:column>

			<p:column escape="false"
				headerText="Godina upisa doktorskog studija (samo za doktorande)"
				style="width:5em" sortBy="#{istrazivackaSkupina.godinaUpisaDok}">
				<h:outputText escape="false"
					value="#{istrazivackaSkupina.godinaUpisaDok}" />
			</p:column>

			<p:column escape="false"
				headerText="Godina stjecanja doktorata znanosti" style="width:5em"
				sortBy="#{istrazivackaSkupina.godinaStjecanjaDok}">
				<h:outputText escape="false"
					value="#{istrazivackaSkupina.godinaStjecanjaDok}" />
			</p:column>
			<p:column escape="false"
				headerText="Početak zaposlenja (samo za doktorande i poslijedoktorande)"
				style="width:7em" sortBy="#{istrazivackaSkupina.pocetakZaposlenja}">
				<h:outputText escape="false"
					value="#{istrazivackaSkupina.pocetakZaposlenja}">
					<f:convertDateTime pattern="dd.MM.yyyy" />
				</h:outputText>
			</p:column>

			<p:column escape="false"
				headerText="Trajanje zaposlenja u mjesecima (samo za doktorande i poslijedoktorande)"
				style="width:5em" sortBy="#{istrazivackaSkupina.trajanjeZaposlenja}">
				<h:outputText escape="false"
					value="#{istrazivackaSkupina.trajanjeZaposlenja}" />
			</p:column>

			<p:column escape="false"
				headerText="Izvor plaće (samo za doktorande i poslijedoktorande)"
				style="width:10em" sortBy="#{istrazivackaSkupina.izvorPlace}">
				<h:outputText escape="false"
					value="#{istrazivackaSkupina.izvorPlace}" />
			</p:column>

		</p:dataTable>

	</h:form>

	<p:dialog id="new_dialog" header="Nova istraživačka grupa"
		widgetVar="singleDialog_new" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="form_new">
			<p:panel id="new_panel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="displaytest1" columns="3" cellpadding="4"
					border="0">
					<p:outputLabel value="Ime i prezime:" for="imePrezimeNew" />
					<!-- 					<p:inputText id="imePrezimeNew" -->
					<!-- 						value="#{istrazivackaSkupinaView.novaEvIstrazivackaSkupina.imePrezime}" -->
					<!-- 						size="30" maxlength="25" required="true"> -->
					<!-- 						<f:validateLength maximum="25" /> -->
					<p:inputTextarea id="imePrezimeNew"
						value="#{istrazivackaSkupinaView.novaEvIstrazivackaSkupina.imePrezime}"
						cols="30" rows="1" maxlength="100" required="true">
						<f:validateLength maximum="255" />
					</p:inputTextarea>
					<p:message for="imePrezimeNew" display="icon" />

					<p:outputLabel value="Titula:" for="titulaNew" />
					<p:selectOneMenu id="titulaNew"
						value="#{istrazivackaSkupinaView.lovObject}"
						panelStyle="width:180px" effect="fade" var="t" style="width:80px"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_istrazivacka_skupina','titula')}"
							var="lovObject" itemLabel="#{lovObject.description}"
							itemValue="#{lovObject}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>

					<p:message for="titulaNew" display="icon" />

					<p:outputLabel value="Godina rođenja:" for="godinaRodjenjaNew" />
					<p:spinner id="godinaRodjenjaNew"
						value="#{istrazivackaSkupinaView.novaEvIstrazivackaSkupina.godinaRodjenja}"
						min="0" max="9999" style="align:center;" size="5" required="true" />
					<p:message for="godinaRodjenjaNew" display="icon" />

					<p:outputLabel value="Ustanova zaposlenja:"
						for="ustanovaZaposlenjaNew" />
					<!-- 					<p:inputText id="ustanovaZaposlenjaNew" -->
					<!-- 						value="#{istrazivackaSkupinaView.novaEvIstrazivackaSkupina.ustanovaZaposlenja}" -->
					<!-- 						size="20" maxlength="50" required="true"> -->
					<!-- 						<f:validateLength maximum="50" /> -->
					<!-- 					</p:inputText > -->
					<p:inputTextarea id="ustanovaZaposlenjaNew"
						value="#{istrazivackaSkupinaView.novaEvIstrazivackaSkupina.ustanovaZaposlenja}"
						cols="30" rows="1" maxlength="50" required="true">
						<f:validateLength maximum="50" />
					</p:inputTextarea>
					<p:message for="ustanovaZaposlenjaNew" display="icon" />

					<p:outputLabel value="Uloga u projektu:" for="ulogaNew" />
					<!-- 					<p:inputText id="ulogaNew" -->
					<!-- 						value="#{istrazivackaSkupinaView.novaEvIstrazivackaSkupina.uloga}" -->
					<!-- 						size="20" maxlength="50"> -->
					<!-- 						<f:validateLength maximum="30" /> -->
					<!-- 					</p:inputText> -->
					<p:inputTextarea id="ulogaNew"
						value="#{istrazivackaSkupinaView.novaEvIstrazivackaSkupina.uloga}"
						cols="30" rows="1" maxlength="50">
						<f:validateLength maximum="30" />
					</p:inputTextarea>
					<p:message for="ulogaNew" display="icon" />

					<p:outputLabel
						value="Godina upisa doktorskog studija (samo za doktorande):"
						for="godinaUpisaDokNew" />
					<p:spinner id="godinaUpisaDokNew"
						value="#{istrazivackaSkupinaView.novaEvIstrazivackaSkupina.godinaUpisaDok}"
						min="0" max="9999" style="align:center;" size="5" />
					<p:message for="godinaUpisaDokNew" display="icon" />

					<p:outputLabel value="Godina stjecanja doktorata znanosti:"
						for="godinaStjecanjaDokNew" />
					<p:spinner id="godinaStjecanjaDokNew"
						value="#{istrazivackaSkupinaView.novaEvIstrazivackaSkupina.godinaStjecanjaDok}"
						min="0" max="9999" style="align:center;" size="5" />
					<p:message for="godinaStjecanjaDokNew" display="icon" />

					<p:outputLabel
						value="Početak zaposlenja (samo za doktorande i poslijedoktorande):"
						for="pocetakZaposlenjaNew" />
					<p:calendar id="pocetakZaposlenjaNew"
						value="#{istrazivackaSkupinaView.novaEvIstrazivackaSkupina.pocetakZaposlenja}"
						pattern="dd.MM.yyyy" mask="true">
					</p:calendar>
					<p:message for="pocetakZaposlenjaNew" display="icon" />

					<p:outputLabel
						value="Trajanje zaposlenja u mjesecima (samo za doktorande i poslijedoktorande):"
						for="trajanjeZaposlenjaNew" />
					<p:spinner id="trajanjeZaposlenjaNew"
						value="#{istrazivackaSkupinaView.novaEvIstrazivackaSkupina.trajanjeZaposlenja}"
						min="0" max="999" style="align:center;" size="5" />
					<p:message for="trajanjeZaposlenjaNew" display="icon" />

					<p:outputLabel
						value="Izvor plaće (samo za doktorande i poslijedoktorande):"
						for="izvorPlaceNew" />
					<!-- 					<p:inputText id="izvorPlaceNew" -->
					<!-- 						value="#{istrazivackaSkupinaView.novaEvIstrazivackaSkupina.izvorPlace}" -->
					<!-- 						size="20" maxlength="50"> -->
					<!-- 						<f:validateLength maximum="45" /> -->
					<!-- 					</p:inputText> -->
					<p:inputTextarea id="izvorPlaceNew"
						value="#{istrazivackaSkupinaView.novaEvIstrazivackaSkupina.izvorPlace}"
						cols="30" rows="1" maxlength="50">
						<f:validateLength maximum="45" />
					</p:inputTextarea>
					<p:message for="izvorPlaceNew" display="icon" />
				</h:panelGrid>

			</p:panel>
			<div align="center">

				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{istrazivackaSkupinaView.insert()}"
					update="new_panel,form_tablica_istrazivackaSkupina"
					oncomplete="setMsgfadeOut('msgsView')" class="bttn-dialog-save" />

				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="singleDialog_new.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />

			</div>

		</h:form>
	</p:dialog>

	<p:dialog id="edit_dialog" header="Odabrana istrazivacka grupa"
		widgetVar="singleDialog_edit" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="form_edit">
			<p:panel id="edit_panel">

				<p:messages id="msgsView" showDetail="true" />

				<h:panelGrid id="displaytest1" columns="3" cellpadding="4"
					border="0">
					<p:outputLabel value="Ime i prezime:" for="imePrezimeView" />
					<!-- 					<p:inputText id="imePrezimeView" -->
					<!-- 						value="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina.imePrezime}" -->
					<!-- 						size="20" maxlength="25"> -->
					<!-- 						<f:validateLength maximum="25" /> -->
					<!-- 					</p:inputText> -->
					<p:inputTextarea id="imePrezimeView"
						value="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina.imePrezime}"
						cols="30" rows="1" maxlength="25">
						<f:validateLength maximum="25" />
					</p:inputTextarea>
					<p:message for="imePrezimeView" display="icon" />

					<p:outputLabel value="Titula:" for="titulaView" />
					<p:selectOneMenu id="titulaView"
						value="#{istrazivackaSkupinaView.lovObject}"
						panelStyle="width:180px" effect="fade" var="t" style="width:80px"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_istrazivacka_skupina','titula')}"
							var="lovObject" itemLabel="#{lovObject.description}"
							itemValue="#{lovObject}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="titulaView" display="icon" />

					<p:outputLabel value="Godina rođenja:" for="godinaRodjenjaView" />
					<p:spinner id="godinaRodjenjaView"
						value="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina.godinaRodjenja}"
						min="0" max="9999" style="align:center;" size="5" />
					<p:message for="godinaRodjenjaView" display="icon" />

					<p:outputLabel value="Ustanova zaposlenja:"
						for="ustanovaZaposlenjaView" />
					<!-- 					<p:inputText id="ustanovaZaposlenjaView" -->
					<!-- 						value="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina.ustanovaZaposlenja}" -->
					<!-- 						size="20" maxlength="50"> -->
					<!-- 						<f:validateLength maximum="50" /> -->
					<!-- 					</p:inputText> -->
					<p:inputTextarea id="ustanovaZaposlenjaView"
						value="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina.ustanovaZaposlenja}"
						cols="30" rows="1" maxlength="50">
						<f:validateLength maximum="50" />
					</p:inputTextarea>
					<p:message for="ustanovaZaposlenjaView" display="icon" />

					<p:outputLabel value="Uloga u projektu:" for="ulogaView" />
					<!-- 					<p:inputText id="ulogaView" -->
					<!-- 						value="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina.uloga}" -->
					<!-- 						size="20" maxlength="50"> -->
					<!-- 						<f:validateLength maximum="30" /> -->
					<!-- 					</p:inputText> -->
					<p:inputTextarea id="ulogaView"
						value="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina.uloga}"
						cols="30" rows="1" maxlength="50">
						<f:validateLength maximum="30" />
					</p:inputTextarea>
					<p:message for="ulogaView" display="icon" />

					<p:outputLabel
						value="Godina upisa doktorskog studija (samo za doktorande):"
						for="godinaUpisaDokView" />
					<p:spinner id="godinaUpisaDokView"
						value="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina.godinaUpisaDok}"
						min="0" max="9999" style="align:center;" size="5" />
					<p:message for="godinaUpisaDokView" display="icon" />

					<p:outputLabel value="Godina stjecanja doktorata znanosti:"
						for="godinaStjecanjaDokView" />
					<p:spinner id="godinaStjecanjaDokView"
						value="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina.godinaStjecanjaDok}"
						min="0" max="9999" style="align:center;" size="5" />
					<p:message for="godinaStjecanjaDokView" display="icon" />

					<p:outputLabel
						value="Početak zaposlenja (samo za doktorande i poslijedoktorande):"
						for="pocetakZaposlenjaView" />
					<p:calendar id="pocetakZaposlenjaView"
						value="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina.pocetakZaposlenja}"
						pattern="dd.MM.yyyy" mask="true" />
					<p:message for="pocetakZaposlenjaView" display="icon" />

					<p:outputLabel
						value="Trajanje zaposlenja u mjesecima (samo za doktorande i poslijedoktorande):"
						for="trajanjeZaposlenjaView" />
					<p:spinner id="trajanjeZaposlenjaView"
						value="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina.trajanjeZaposlenja}"
						min="0" max="9999" style="align:center;" size="5" required="true" />
					<p:message for="trajanjeZaposlenjaView" display="icon" />

					<p:outputLabel
						value="Izvor plaće (samo za doktorande i poslijedoktorande):"
						for="izvorPlaceView" />
					<!-- 					<p:inputText id="izvorPlaceView" -->
					<!-- 						value="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina.izvorPlace}" -->
					<!-- 						size="20" maxlength="50"> -->
					<!-- 						<f:validateLength maximum="45" /> -->
					<!-- 					</p:inputText> -->
					<p:inputTextarea id="izvorPlaceView"
						value="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina.izvorPlace}"
						cols="30" rows="1" maxlength="50">
						<f:validateLength maximum="45" />
					</p:inputTextarea>
					<p:message for="izvorPlaceView" display="icon" />

				</h:panelGrid>

			</p:panel>
			<div align="center">
				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{istrazivackaSkupinaView.update()}"
					oncomplete="setMsgfadeOut('msgsView')"
					update="edit_panel,form_tablica_istrazivackaSkupina"
					class="bttn-dialog-save" />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="singleDialog_edit.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>

		</h:form>
	</p:dialog>

	<p:dialog id="prkISDialog" header="Unošenje statusa" rendered="true"
		widgetVar="prkISDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkISForm">

			<p:panel id="prkISPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkISPanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" />
					<p:selectOneRadio id="status"
						value="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>

				<p:inputTextarea rows="3" cols="50"
					value="#{istrazivackaSkupinaView.odabranaEvIstrazivackaSkupina.komentarPrk}"
					placeholder="Komentari" />


			</p:panel>
			<div align="center">
				<br />

				<p:commandButton value="Spremi" style="width:30%"
					action="#{istrazivackaSkupinaView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="prkISForm, form_tablica_istrazivackaSkupina"
					class="bttn-dialog-save" />

			</div>
		</h:form>
	</p:dialog>
	
	<script type="text/javascript">
	
		// HOTFIX Sirina retka sa ikonama delete, edit i prk je uvijek takva da ikone stanu jedan kraj druge,
		// umjesto fiksne najbolje da bude auto, a za to treba testirati strukturu i ovisno i prioritetima
		$('table.istrazivacka-skupina-wrapper > tbody > tr > td:first-child, ' +
		  'table.istrazivacka-skupina-wrapper > thead > tr > th:first-child').css('width', '6em', 'important')
	
	</script>
	
</ui:composition>
