<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<script type="text/javascript">
	
		function myLostFocusFunction() {
			var x = document.getElementById("narativno:celnik").value;
			document.getElementById("narativno:potpisCelnik").value = x;
		}

	</script>
	<style>
	/*rfi-za required fields maknute zvjezdice*/
	.ui-outputlabel-rfi {
            display: none;
      }
	</style>

	<h1 align="center" id="program">Program:
		#{narativnoIzvjesceView.project.tenderType.description}</h1>
	<p:separator style="height:7px" />
	<h2 align="center">OBRAZAC ZA OPISNO IZVJEŠĆE</h2>
	<h3 align="center">*prije popunjavanja izvješća, molimo Vas da
		pročitate upute za popunjavanje dostupne putem poveznice na kraju
		dokumenta</h3>

	<p:growl autoUpdate="true" id="globalMsgs" showDetail="true"
		widgetVar="globalMsgsWidget" life="5000" />

	<h:form id="narativno">
		<p:growl id="msgs" showDetail="true" />

		<h:panelGrid columns="2" cellpadding="5">
			<p:outputLabel value="Broj projekta:" for="brojPr" />
			<p:inputText id="brojPr" readonly="true" size="10"
				value="#{narativnoIzvjesceView.project.code}" />

			<p:outputLabel value="Sredstva odobrena od HRZZ-a:" for="sredstva" />
			<pe:inputNumber id="sredstva" readonly="true" size="40"
				value="#{narativnoIzvjesceView.reportingPeriod.approvedResources}"
				symbolPosition="s" decimalSeparator="," thousandSeparator="." />

			<p:outputLabel value="Voditelj projekta:" for="voditelj" />
			<p:inputText id="voditelj"  size="40" readonly="true"
				value="#{narativnoIzvjesceView.project.leader.userData.name} #{narativnoIzvjesceView.project.leader.userData.surname}"  />
			
			<p:outputLabel value="Ustanova ugovaratelj/matična ustanova: "
				for="ustanova" />
			<p:inputText id="ustanova" readonly="true" size="60" 
				value="#{narativnoIzvjesceView.project.institutionId.name}" />

			<p:outputLabel value="Čelnik ustanove:" for="celnik" />
			<p:inputText id="celnik" size="40" onblur="myLostFocusFunction()"
				readonly="#{ sessionBean.currentReportingPeriod.status == '2' ? true : false }"
				value="#{narativnoIzvjesceView.project.celnikUstanove}" />

			<p:outputLabel value="Naziv projekta: " for="naziv" />
			<p:inputTextarea readonly="true" rows="2" cols="80" autoResize="true"
				id="naziv" value="#{narativnoIzvjesceView.project.name}" />

			<p:outputLabel value="Akronim projekta:" for="akronim" />
			<p:inputText id="akronim" readonly="true" size="20"
				value="#{narativnoIzvjesceView.project.acronym}" />

			<p:outputLabel value="Znanstveno područje:" for="znPodrucje" />
			<p:inputText id="znPodrucje" readonly="true" size="40"
				value="#{narativnoIzvjesceView.project.majorScientificField.name}" />

			<p:outputLabel value="Znanstveno polje:" for="znPolje" />
			<p:inputText id="znPolje" readonly="true" size="40"
				value="#{narativnoIzvjesceView.project.scientificField.name}" />

			<p:outputLabel value="Poveznica na mrežnu stranicu projekta:"
				for="poveznica" />
			<p:inputText id="poveznica" size="40"
				readonly="#{ sessionBean.currentReportingPeriod.status == '2' ? true : false }"
				value="#{narativnoIzvjesceView.project.poveznicaMreza}" />

			<p:outputLabel value="Program i natječajni rok:" for="programRok" />
			<p:inputText id="programRok" readonly="true" size="40"
				value="#{narativnoIzvjesceView.project.tenderDeadline}" />

			<p:outputLabel value="Trajanje projekta (u mjesecima):"
				for="trajanje" />
			<p:spinner id="trajanje" max="48" min="12"
				readonly="#{ sessionBean.currentReportingPeriod.status == '2' ? true : false }"
				value="#{narativnoIzvjesceView.project.duration}" />

			<p:outputLabel value="Razdoblje za koje se podnosi izvješće:"
				for="razdoblje" />
			<p:inputText id="razdoblje" readonly="true"
				value="#{narativnoIzvjesceView.reportingPeriod.ordinalNumber}" />

			<p:outputLabel value="Razdoblje izvještavanja (datum):"
				for="razdobljeDatum" />
			<p:inputText id="razdobljeDatum" readonly="true" size="30"
				value="#{sessionBean.rpDateFromFormat} - #{sessionBean.rpDateToFormat}" />

			<p:outputLabel value="Navedite članove istraživačke grupe: "
				for="grupe" />
			<p:inputText id="grupe" readonly="true" size="100"
				value="#{narativnoIzvjesceView.evIstrazivackaGrupaClanovi}" />
			<br />
		</h:panelGrid>

		<p>Sažetak projekta (na hrvatskom jeziku, do 1000 znakova s
			razmacima):</p>
		<p:inputTextarea rows="6" cols="100" autoResize="true" id="summaryHR"
			readonly="#{ sessionBean.currentReportingPeriod.status == '2' ? true : false }"
			value="#{narativnoIzvjesceView.project.summaryHR}" />
		<br />

		<h3>1.PROVEDBA PROJEKTA</h3>
		<h4 style="font-size: 5">1.1 Rezultati projekta prema radnom
			planu za izvještajno razdoblje i njihovo ostvarivanje</h4>
		<p:panelGrid id="PanelTablica1" columns="2" border="0">
			<p:panel id="panel1_1" header="Planirani rezultat iz radnog plana"
				style="height:150px;padding:0px">
				<p:inputTextarea rows="4" cols="60"
					value="#{narativnoIzvjesceView.evRezultatBrIzvjesce}"
					readonly="true" />
			</p:panel>
			<p:panel id="panel2_1" header="Ostvareno" border="0"
				style="height:150px">
				<p:inputTextarea rows="4" cols="6"
					value="#{narativnoIzvjesceView.evRezultatOstvarenoIzvjesce}"
					readonly="true" />
			</p:panel>
		</p:panelGrid>

		<h4 style="font-size: 4">1.2. Objasnite odstupanja od
			ostvarivanja radnog plana</h4>
		<p:panelGrid id="PanelTablica2" columns="2" border="2">
			<p:panel id="panel1_2" header="Odstupanja od radnog plana">
				<p:inputTextarea rows="3" cols="60"
					readonly="#{ sessionBean.currentReportingPeriod.status == '2' ? true : false }"
					value="#{narativnoIzvjesceView.evNarativnoIzvjesce.ppOdstupanje}" />
			</p:panel>
			<p:panel id="panel2_2" header="Objašnjenje">
				<p:inputTextarea rows="3" cols="60"
					readonly="#{ sessionBean.currentReportingPeriod.status == '2' ? true : false }"
					value="#{narativnoIzvjesceView.evNarativnoIzvjesce.ppObjasnjenje}" />
			</p:panel>
		</p:panelGrid>


		<h4 style="font-size: 4">1.3. Jesu li se pojavila neka nova
			istraživačka pitanja ili novi smjer istraživanja i ako da, koja?</h4>
		<p:inputTextarea rows="6" cols="100"
			readonly="#{ sessionBean.currentReportingPeriod.status == '2' ? true : false }"
			value="#{narativnoIzvjesceView.evNarativnoIzvjesce.ppNovaPitanja}" />
		<br />
		<h4 style="font-size: 4">1.4. Jesu li nastupile promjene u
			potpori ustanove u odnosu na navedeno prilikom prijave?</h4> 
		<p:inputTextarea rows="6" cols="100"
			readonly="#{ sessionBean.currentReportingPeriod.status == '2' ? true : false }"
			value="#{narativnoIzvjesceView.evNarativnoIzvjesce.ppPotpora}" />
		<br />
		<h4 style="font-size: 4">1.5. Navedite preporuke vrednovatelja iz
			prethodnog opisnog izvješća i opišite kako ste ih primijenili (od
			drugog opisnog izvješća)</h4>
		<p:inputTextarea rows="6" cols="100"
			readonly="#{ sessionBean.currentReportingPeriod.status == '2' ? true : false }"
			value="#{narativnoIzvjesceView.evNarativnoIzvjesce.ppPreporuke}" />
		<br />

		<h3>2. ISTRAŽIVAČKA GRUPA</h3>

		<h4 style="font-size: 4">2.1. Popis članova istraživačke grupe i
			aktivnosti koje su obavljali u provedbi projekta u izvještajnom
			razdoblju (navedenih u Radnom planu)</h4>

		<p:panelGrid id="PanelTablica3" columns="3" border="2">
			<p:panel id="panel1_3"
				header="Ime i prezime člana istraživačke grupe">
				<p:inputTextarea rows="3" cols="33" readonly="true"
					value="#{narativnoIzvjesceView.evIstrazivackaGrupaClanoviArea}" />
			</p:panel>
			<p:panel id="panel2_3" header="Uloga u projektu">
				<p:inputTextarea rows="3" cols="33" readonly="true"
					value="#{narativnoIzvjesceView.evIstrazivackaGrupaUloga}" />
			</p:panel>
			<p:panel id="panel3_3" header="Aktivnosti">
				<p:inputTextarea rows="3" cols="33"
					readonly="#{ sessionBean.currentReportingPeriod.status == '2' ? true : false }"
					value="#{narativnoIzvjesceView.evNarativnoIzvjesce.igAktivnosti}" />
			</p:panel>
		</p:panelGrid>



		<h4 style="font-size: 4">2.2. Postoje li promjene u sastavu
			istraživačke grupe (povećanje, smanjenje tima) i uloge pojedinih
			članova u odnosu na ugovoren status? Ukoliko postoje, molimo
			obrazložite.</h4>
		<p:inputTextarea rows="4" cols="100"
			readonly="#{ sessionBean.currentReportingPeriod.status == '2' ? true : false }"
			value="#{narativnoIzvjesceView.evNarativnoIzvjesce.igPromjena}" />
		<br />

		<h3>3. OSTALO</h3>
		<h4 style="font-size: 4">3.1. Navedite moguće prijetnje (rizike)
			ostvarivanju radnog plana projekta u narednom razdoblju i što
			poduzimate da se one uklone</h4>

		<p:panelGrid id="PanelTablica4" columns="2" border="2">
			<p:panel id="panel1_4"
				header="Moguće prijetnje (rizici) ostvarivanju radnog plana">
				<p:inputTextarea rows="3" cols="70"
					readonly="#{ sessionBean.currentReportingPeriod.status == '2' ? true : false }"
					value="#{narativnoIzvjesceView.evNarativnoIzvjesce.osPrijetnje}" />
			</p:panel>
			<p:panel id="panel2_4" header="Što se poduzima">
				<p:inputTextarea rows="3" cols="70"
					readonly="#{ sessionBean.currentReportingPeriod.status == '2' ? true : false }"
					value="#{narativnoIzvjesceView.evNarativnoIzvjesce.osPoduzimanja}" />
			</p:panel>
		</p:panelGrid>


		<h3>4. POTPISI</h3>
		<p>Datum i mjesto:</p>
		<p:inputText size="40"
			readonly="#{ sessionBean.currentReportingPeriod.status == '2' ? true : false }"
			value="#{narativnoIzvjesceView.evNarativnoIzvjesce.datumMjesto}" />
		<p>Čelnik ustanove</p>

		<p:inputText readonly="true" id="potpisCelnik"
			value="#{narativnoIzvjesceView.project.celnikUstanove}" />
		<p>Voditelj projekta</p>

		<p:inputText readonly="true" id="potpisVoditelj"
			value="#{narativnoIzvjesceView.project.leader.userData.name} #{narativnoIzvjesceView.project.leader.userData.surname}" />
		<br />
		<br />
		<h3>Napomena:</h3>
		<h4 style="text-align: justify">Podnositelji izvješća ovime
			izjavljuju da su upoznati s važećim propisima o dodijeli sredstava
			HRZZ-a te su suglasni, u slučaju da nadležno tijelo za nalaganje
			povrata HRZZ-ovih sredstava utvrdi da podnositelji izvješća koriste
			novčana sredstva protivno propisima i naloži njihov povrat, vratiti
			ukupan iznos sredstava koji je odlukom oglašen nedopuštenim.
			Podnositelji izvješća svojim potpisom potvrđuju točnost dostavljenih
			podataka u opisnom izvješću (i popratnoj dokumentaciji).</h4>
			
		<p:commandButton actionListener="#{narativnoIzvjesceView.save}"
			value="Spremi" icon="ui-icon-save" partialSubmit="false"
			rendered="#{ preventAction.renderedSpremiPDFOpIzvj }"
			oncomplete="setMsgfadeOut('msgsView')" update="narativno" />
		
		<p:commandButton ajax="false" update="pdf_preview_tmp" value="Kreiraj PDF TMP" class="cmd-hidden-save"
			style="width:30%" id="callJasperTmp" partialSubmit="false"
			action="#{narativnoIzvjesceView.executeAndView()}">
		</p:commandButton>
		
		<p:commandButton value="Kreiraj PDF"
			style="width:30%" id="callJasper" partialSubmit="false"
			rendered="#{ preventAction.renderedSpremiPDFOpIzvj }"
			actionListener="#{narativnoIzvjesceView.save}" oncomplete="$('.cmd-hidden-save').click();">
		</p:commandButton>
		
	</h:form>



</ui:composition>
