<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h1 style="font-size: 12" align="center">TABLICA 12: Novoostvarene
		suradnje (NIJE OBVEZNA)</h1>
	<p:separator style="height:7px" />

	<h:form id="form_tablica_suradnje">

		<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
			<div align="center">
				<p:commandButton value="Da" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Ne" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</div>
		</p:confirmDialog>

		<p:dataTable value="#{novoostvareneSuradnjeView.fillTable()}"
			var="novoostvarenaSuradnja" type="ordered" selectionMode="single"
			rowKey="#{novoostvarenaSuradnja.id}" id="tablica_suradnje"
			selection="#{novoostvareneSuradnjeView.odabranaEvSuradnje}"
			rowIndexVar="rowIndex" tableStyleClass="nove-suradnje-wrapper">

			<f:facet name="header">
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Novi" rendered="#{preventAction.rendered}"
					onclick="PF('novi_ZRViewdialog_var').show(); #{novoostvareneSuradnjeView.clean()}" />
				<br />
			</f:facet>

			<p:column escape="false" headerText="Opcije"
				rendered="#{preventAction.isRendered('OPCIJE')}"
				style="width:5em; align:center;">

				<p:commandButton disabled="#{preventAction.isDisabled('EDIT')}"
					value="" class="ikona-edit" style="buttonNew"
					oncomplete="PF('edit_NSViewdialog_var').show()"
					rendered="#{preventAction.isRendered('EDIT')}"
					update="edit_NSViewDialog">
					<f:setPropertyActionListener value="#{novoostvarenaSuradnja}"
						target="#{novoostvareneSuradnjeView.currentRow}" />
				</p:commandButton>

				<p:commandButton disabled="#{preventAction.isDisabled('DELETE')}"
					value="" class="ikona-delete"
					rendered="#{preventAction.isRendered('DELETE')}"
					update="form_tablica_suradnje">
					<f:setPropertyActionListener value="#{novoostvarenaSuradnja}"
						target="#{novoostvareneSuradnjeView.delete}" />
					<p:confirm header="Potvrda brisanja"
						message="Jeste sigurni da želite obrisati unešene podatke?"
						icon="ui-icon-alert">
					</p:confirm>
				</p:commandButton>

				<p:commandButton value="PRK"
					rendered="#{preventAction.isRendered('PRK')}" class="ikona-prk ikona-prk-pozicija"
					oncomplete="PF('prkNSDialogWidget').show()" update="prkNSDialog">
					<f:setPropertyActionListener value="#{novoostvarenaSuradnja}"
						target="#{novoostvareneSuradnjeView.currentRow}" />
				</p:commandButton>

			</p:column>

			<p:column escape="false" headerText="Redni broj" style="width:3em"
				sortBy="#{novoostvarenaSuradnja.redniBroj}">
				<h:outputText escape="false" value="#{rowIndex + 1}" />
			</p:column>

			<p:column escape="false" headerText="Vrsta suradnje"
				style="width:8em" sortBy="#{novoostvarenaSuradnja.vrstaSuradnje}">
				<h:outputText escape="false"
					value="#{novoostvareneSuradnjeView.getDescription('ev_suradnje','vrsta_suradnje',novoostvarenaSuradnja.vrstaSuradnje)}" />
			</p:column>

			<p:column escape="false"
				headerText="Ustanova s kojom je ostvarena suradnja"
				style="width:12em"
				sortBy="#{novoostvarenaSuradnja.institucijaSuradnje}">
				<h:outputText escape="false"
					value="#{novoostvarenaSuradnja.institucijaSuradnje}" />
			</p:column>

			<p:column escape="false"
				headerText="Ime i prezime ključne osobe s kojom je ostvarena suradnja"
				style="width:12em"
				sortBy="#{novoostvarenaSuradnja.imeIPrezimeSuradnje}">
				<h:outputText escape="false"
					value="#{novoostvarenaSuradnja.imeIPrezimeSuradnje}" />
			</p:column>

			<p:column escape="false" headerText="Kratak Opis" style="width:20em"
				sortBy="#{novoostvarenaSuradnja.opis}">
				<h:outputText escape="false" value="#{novoostvarenaSuradnja.opis}" />
			</p:column>

			<f:facet name="footer">
			</f:facet>

		</p:dataTable>

	</h:form>


	<p:dialog id="novi_NSViewDialog" widgetVar="novi_ZRViewdialog_var"
		header="Dodavanje novoostvarene suradnje" resizable="false"
		showEffect="fade" hideEffect="explode" closeOnEscape="true"
		closable="true" rendered="true">

		<h:form id="novi_NSViewForm">
			<p:panel id="novi_NSViewPanel">

				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="novi_NSViewDisplay" columns="3" cellpadding="4"
					border="0">

					<p:outputLabel value="Vrsta suradnje:"
						for="vrstaSuradnjeNoviSuradnje" />

					<p:selectOneMenu id="vrstaSuradnjeNoviSuradnje"
						value="#{novoostvareneSuradnjeView.lovObject}"
						panelStyle="width:180px" effect="fade" var="t" style="width:120px"
						required="true" filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_suradnje','vrsta_suradnje')}"
							var="lovObject" itemLabel="#{lovObject.description}"
							itemValue="#{lovObject}" />

						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>

					<p:message for="vrstaSuradnjeNoviSuradnje" display="icon" />

					<p:outputLabel value="Ustanova s kojom je ostvarena suradnja:"
						for="ustanovaNoviSuradnje" />
					<p:inputTextarea cols="50" rows="1" id="ustanovaNoviSuradnje"
						value="#{novoostvareneSuradnjeView.novaEvSuradnje.institucijaSuradnje}"
						maxlength="200" autoResize="true" required="true" />
					<p:message for="ustanovaNoviSuradnje" display="icon" />

					<p:outputLabel
						value="Ime i prezime ključne osobe s kojom je ostvarena suradnja:"
						for="osobaNoviSuradnje" />
					<p:inputTextarea cols="50" rows="1" id="osobaNoviSuradnje"
						value="#{novoostvareneSuradnjeView.novaEvSuradnje.imeIPrezimeSuradnje}"
						maxlength="500" autoResize="true" required="true" />
					<p:message for="osobaNoviSuradnje" display="icon" />

					<p:outputLabel value="Kratak Opis:" for="opisNoviSuradnje" />
					<p:inputTextarea rows="3" cols="50" id="opisNoviSuradnje"
						value="#{novoostvareneSuradnjeView.novaEvSuradnje.opis}"
						maxlength="100" autoResize="true" required="true">
					</p:inputTextarea>
					<p:message for="opisNoviSuradnje" display="icon" />

				</h:panelGrid>

			</p:panel>
			<div align="center">

				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{novoostvareneSuradnjeView.insert()}"
					update="novi_NSViewPanel, form_tablica_suradnje"
					oncomplete="setMsgfadeOut('msgNovi')" class="bttn-dialog-save" />

				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="novi_ZRViewdialog_var.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>

		</h:form>

	</p:dialog>


	<p:dialog id="edit_NSViewDialog" widgetVar="edit_NSViewdialog_var"
		header="Promjena novoostvarene suradnje" resizable="false"
		showEffect="fade" hideEffect="explode" closeOnEscape="true"
		closable="true" rendered="true">

		<h:form id="edit_NSViewForm">
			<p:panel id="edit_NSViewPanel">

				<p:messages id="msgsView" showDetail="true" />
				<h:panelGrid id="edit_NSViewDisplay" columns="3" cellpadding="4"
					border="0">

					<p:outputLabel value="Vrsta suradnje:"
						for="vrstaSuradnjeEditSuradnje" />

					<p:selectOneMenu id="vrstaSuradnjeEditSuradnje"
						value="#{novoostvareneSuradnjeView.lovObject}"
						panelStyle="width:180px" effect="fade" var="t" style="width:120px"
						required="true" filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_suradnje','vrsta_suradnje')}"
							var="lovObject" itemLabel="#{lovObject.description}"
							itemValue="#{lovObject}" />

						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>

					<p:message for="vrstaSuradnjeEditSuradnje" display="icon" />

					<p:outputLabel value="Ustanova s kojom je ostvarena suradnja:"
						for="ustanovaEditSuradnje" />
					<p:inputTextarea rows="1" cols="50" id="ustanovaEditSuradnje"
						value="#{novoostvareneSuradnjeView.odabranaEvSuradnje.institucijaSuradnje}"
						maxlength="200" autoResize="true" required="true" />
					<p:message for="ustanovaEditSuradnje" display="icon" />

					<p:outputLabel
						value="Ime i prezime ključne osobe s kojom je ostvarena suradnja:"
						for="osobaEditSuradnje" />
					<p:inputTextarea cols="50" rows="1" id="osobaEditSuradnje"
						value="#{novoostvareneSuradnjeView.odabranaEvSuradnje.imeIPrezimeSuradnje}"
						maxlength="500" autoResize="true" required="true" />
					<p:message for="osobaEditSuradnje" display="icon" />

					<p:outputLabel value="Kratak Opis:" for="opisEditSuradnje" />
					<p:inputTextarea cols="50" rows="3" id="opisEditSuradnje"
						value="#{novoostvareneSuradnjeView.odabranaEvSuradnje.opis}"
						maxlength="100" autoResize="true" required="true">
					</p:inputTextarea>
					<p:message for="opisEditSuradnje" display="icon" />
				</h:panelGrid>

			</p:panel>
			<div align="center">

				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{novoostvareneSuradnjeView.update()}"
					oncomplete="setMsgfadeOut('msgsView')"
					update="edit_NSViewPanel, form_tablica_suradnje"
					class="bttn-dialog-save" />

				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="novi_ZRViewdialog_var.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />

			</div>
		</h:form>
	</p:dialog>
	<p:dialog id="prkNSDialog" header="Unošenje statusa" rendered="true"
		widgetVar="prkNSDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkNSForm">

			<p:panel id="prkNSPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkNSPanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" />
					<p:selectOneRadio id="status"
						value="#{novoostvareneSuradnjeView.odabranaEvSuradnje.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>

				<p:inputTextarea rows="3" cols="50"
					value="#{novoostvareneSuradnjeView.odabranaEvSuradnje.komentarPrk}"
					placeholder="Komentari" />


			</p:panel>
			<div align="center">
				<br />

				<p:commandButton value="Spremi" style="width:30%"
					action="#{novoostvareneSuradnjeView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="prkNSForm, form_tablica_suradnje" class="bttn-dialog-save" />

			</div>
		</h:form>
	</p:dialog>
	
	<script type="text/javascript">
	
		// HOTFIX Sirina retka sa ikonama delete, edit i prk je uvijek takva da ikone stanu jedan kraj druge,
		// umjesto fiksne najbolje da bude auto, a za to treba testirati strukturu i ovisno i prioritetima
		$('table.nove-suradnje-wrapper > tbody > tr > td:first-child, ' +
		  'table.nove-suradnje-wrapper > thead > tr > th:first-child').css('width', '6em', 'important')
	
	</script>
	
</ui:composition>
