<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">


	<style>
		.panelGridCenter td, .panelGridCenter tr {
		text-align: justify;
		}
	</style>

	<h1 align="center" style="font-size: 40px">VREDNOVANJE PERIODIČNOG
		IZVJEŠĆA</h1>

	<h:form id="obrazacEvaluacije">
		<p:growl id="msgs" showDetail="true" />
		
		
		<p:messages id="msgsNew" showDetail="true" />
		<h:panelGrid columns="2" cellpadding="5" styleClass="panelGridCenter">

			<p:outputLabel value="Voditelj projekta:" for="voditeljProjekta" />
			<p:inputText id="voditeljProjekta" readonly="true" size="80"
				value="#{sessionBean.currentProject.code}" />

			<p:outputLabel value="Ustanova ugovaratelj/matična ustanova:"
				for="ustanova" />
			<p:inputText id="ustanova" readonly="true" size="80"
				value="#{sessionBean.currentProject.institutionId.name}" />

			<p:outputLabel value="Naziv projekta:" for="naziv" />
			<p:inputTextarea id="naziv" readonly="true" cols="83"
				value="#{sessionBean.currentProject.name}" />

			<p:outputLabel value="Program i natječajni rok:" for="programRok" />
			<p:inputText id="programRok" readonly="true" size="80"
				value="#{sessionBean.currentProject.tenderDeadline}" />

			<p:outputLabel value="Trajanje projekta (u mjesecima):"
				for="trajanje" />
			<p:inputText id="trajanje" readonly="true" size="80"
				value="#{sessionBean.currentProject.duration}" />

			<p:outputLabel value="Izvještajno razdoblje:" for="razdobljeDatum" />
			<p:inputText id="razdobljeDatum" readonly="true" size="80"
				value="#{sessionBean.rpDateFromFormat} - #{sessionBean.rpDateToFormat}" />

			<p:outputLabel value="Datum:" for="datum" />
			<p:inputText id="datum" size="80" />

<!-- 			<p:outputLabel value="Datum:" for="datum" /> -->
<!-- 			<p:calendar id="datum" -->
<!-- 				value="#{obrazacEvaluacijeView.oe.datum}" -->
<!-- 				pattern="dd.MM.yyyy" mask="true"> -->
<!-- 			</p:calendar> -->

			<br />
		</h:panelGrid>

		<h2 align="center" style="font-size: 30px">Obrazac za vrednovanje
			periodičnog izvješća</h2>

		<p style="font-size: 20px">Molimo popunite sva pitanja i
			predviđena mjesta za komentare u sljedećoj cjelini:</p>
		<br />

		<h4 align="left" style="font-size: 20px">1.CILJEVI I RADNI PLAN
			PROJEKTA</h4>
			
		<h:panelGrid columns="2"
			style="margin-bottom:10px;border:solid black;width:100%"
			cellpadding="5">
			
			<p:outputLabel for="ciljeviProjekta"
				value="1a)   Napredak prema ciljevima projekta: Jesu li postignuti ciljevi za promatrano razdoblje u odnosu na važeći radni plan projekta? " />
			<p:selectOneRadio id="ciljeviProjekta"
				value="#{obrazacEvaluacijeView.oe.ciljeviA}">
				<f:selectItems var="statusPrk"
					value="#{selectOneRadioStatusPrk.ciljeviAIzbor}"
					itemValue="#{statusPrk.statusId}"
					itemLabel="#{statusPrk.statusDescription}" />
			</p:selectOneRadio>


			<p:outputLabel for="planiraniRez"
				value="1b)  Rezultati: Jesu li postignuti planirani rezultati za promatrano razdoblje?" />
			<p:selectOneRadio id="planiraniRez"
				value="#{obrazacEvaluacijeView.oe.ciljeviB}">
				<f:selectItems var="statusPrk"
					value="#{selectOneRadioStatusPrk.ciljeviBIzbor}"
					itemValue="#{statusPrk.statusId}"
					itemLabel="#{statusPrk.statusDescription}" />
			</p:selectOneRadio>
			
			
			<p:outputLabel for="odstupanjaProjekta"
				value="1c)  Postoje li odstupanja u metodologiji provedbe projekta (uključujući veličinu i način formiranja uzorka, kontrolne skupine, primijenjene analize, analizirane zbirke i sl.)?" />
			<p:selectOneRadio id="odstupanjaProjekta"
				value="#{obrazacEvaluacijeView.oe.ciljeviC}">
				<f:selectItems var="statusPrk"
					value="#{selectOneRadioStatusPrk.ciljeviCIzbor}"
					itemValue="#{statusPrk.statusId}"
					itemLabel="#{statusPrk.statusDescription}" />
			</p:selectOneRadio>
			
		</h:panelGrid>
		
		<p:inputTextarea rows="3" cols="171"
			value="#{obrazacEvaluacijeView.oe.ciljeviKomentari}"
			placeholder="Komentari" />
		<br />
		<br />
		<br />

		<h4 align="left" style="font-size: 20px">2.IMPLEMENTACIJA
			PROJEKTA</h4>
			
		<h:panelGrid columns="2"
			style="margin-bottom:10px;border:solid black;width:100%"
			cellpadding="5">
			
			<p:outputLabel for="ulogeSuradnika"
				value="2a)   Uloge suradnika: Je li vidljiva aktivnost i doprinos svih članova istraživačke grupe?     " />
			<p:selectOneRadio id="ulogeSuradnika"
				value="#{obrazacEvaluacijeView.oe.implementacijaA}">
				<f:selectItems var="statusPrk"
					value="#{selectOneRadioStatusPrk.implementacijaAIzbor}"
					itemValue="#{statusPrk.statusId}"
					itemLabel="#{statusPrk.statusDescription}" />
			</p:selectOneRadio>
			
		</h:panelGrid>
		
		<p:inputTextarea rows="3" cols="171"
			value="#{obrazacEvaluacijeView.oe.implementacijaAKomentar}"
			placeholder="Komentari" />
			
		<h:panelGrid columns="2"
			style="margin-bottom:10px;border:solid black;width:100%"
			cellpadding="5">
			
			<p:outputLabel for="provedeneIzobrazbe"
				value="2b)   Jesu li provedene izobrazbe osoblja i troškovi diseminacije i suradnje bili u funkciji projekta i jesu li doprinijeli provedbi projekta?" />
			<p:selectOneRadio id="provedeneIzobrazbe"
				value="#{obrazacEvaluacijeView.oe.implementacijaB}">
				<f:selectItems var="statusPrk"
					value="#{selectOneRadioStatusPrk.implementacijaBIzbor}"
					itemValue="#{statusPrk.statusId}"
					itemLabel="#{statusPrk.statusDescription}" />
			</p:selectOneRadio>
			
		</h:panelGrid>
		
		<p:inputTextarea rows="3" cols="171"
			value="#{obrazacEvaluacijeView.oe.implementacijaBKomentar}"
			placeholder="Komentari" />
		<br />
		<br />
		<br />

		<h4 align="left" style="font-size: 20px">3.DISEMINACIJA</h4>
		<h:panelGrid columns="2"
			style="margin-bottom:10px;border:solid black;width:100%"
			cellpadding="5">
			
			<p:outputLabel for="rezProjekta"
				value="Jesu li rezultati projekta objavljeni u relevantnim znanstvenim časopisima?" />
			<p:selectOneRadio id="rezProjekta"
				value="#{obrazacEvaluacijeView.oe.diseminacija}">
				<f:selectItems var="statusPrk"
					value="#{selectOneRadioStatusPrk.diseminacijaIzbor}"
					itemValue="#{statusPrk.statusId}"
					itemLabel="#{statusPrk.statusDescription}" />
			</p:selectOneRadio>
			
		</h:panelGrid>
		<br />
		<br />
		<br />

		<h4 align="left" style="font-size: 20px">4.POTPORA USTANOVE</h4>
		<h:panelGrid columns="2"
			style="margin-bottom:10px;border:solid black;width:100%"
			cellpadding="5">
			
			<p:outputLabel for="potporaUstanove"
				value="Potpora ustanove: Je li matična ustanova pružila svu potrebnu potporu projektu (financijsku, administrativnu, odgovarajuću infrastrukturu i radne uvjete…)" />
			<p:selectOneRadio id="potporaUstanove"
				value="#{obrazacEvaluacijeView.oe.potpora}">
				<f:selectItems var="statusPrk"
					value="#{selectOneRadioStatusPrk.potporaIzbor}"
					itemValue="#{statusPrk.statusId}"
					itemLabel="#{statusPrk.statusDescription}" />
			</p:selectOneRadio>
			
		</h:panelGrid>
		<br />
		<br />
		<br />


		<h4 style="font-size: 4">5. KOMENTARI, POSEBNO ISTAKNITE
			ZNANSTVENA/TEHNIČKA POSTIGNUĆA PROJEKTA, NJEGOV UČINAK I DOPRINOS
			TRENUTNOM STANJU U ISTRAŽIVANOM PODRUČJU:</h4>
		<p:inputTextarea rows="6" cols="100"
			value="#{obrazacEvaluacijeView.oe.komentari}"
			placeholder="Komentari" />
		<br />
		<br />

		<h4>6. Završna ocjena:</h4>
		<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
			<p:selectBooleanCheckbox
				value="#{obrazacEvaluacijeView.oe.zavOcjenaA}" />
			<h:outputText
				value="A - Odličan napredak (projekt je u potpunosti ispunio svoje ciljeve za zadano razdoblje ili je premašio očekivanja)." />

			<p:selectBooleanCheckbox
				value="#{obrazacEvaluacijeView.oe.zavOcjenaB}" />
			<h:outputText
				value="B - Dobar napredak (projekt je ostvario većinu ciljeva za zadano razdoblje)." />

			<p:selectBooleanCheckbox
				value="#{obrazacEvaluacijeView.oe.zavOcjenaC}" />
			<h:outputText
				value="C - Prihvatljivi napredak (projekt je ostvario neke od svojih ciljeva, no postoje i relevantna odstupanja u provedbi koja se odražavaju i na planirane aktivnosti)." />

			<p:selectBooleanCheckbox
				value="#{obrazacEvaluacijeView.oe.zavOcjenaD}" />
			<h:outputText
				value="D - Nezadovoljavajući napredak (projekt nije uspio ostvariti ključne ciljeve u zadanom razdoblju i/ili se uopće ne provodi prema planu i ne predlaže se nastavak financiranja)." />
		</h:panelGrid>

		<p:inputTextarea rows="6" cols="100"
			value="#{obrazacEvaluacijeView.oe.zavOcjenaKomentari}"
			placeholder="Komentari i obrazloženje ocjene" />
		<br />

		<h4>7. OZNAČITE SVE ŠTO JE PRIMJENJIVO ZA PROJEKT (odgovor na ovo
			pitanje ne utječe na ukupnu ocjenu)</h4>
		<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
			<p:selectBooleanCheckbox
				value="#{obrazacEvaluacijeView.oe.primjenjivoUspjesan}" />
			<h:outputText value="Ističe se kao uspješan primjer" />

			<p:selectBooleanCheckbox
				value="#{obrazacEvaluacijeView.oe.primjenjivoZanimljiv}" />
			<h:outputText value="Medijski zanimljiv projekt" />

			<p:selectBooleanCheckbox
				value="#{obrazacEvaluacijeView.oe.primjenjivoZnacajan}" />
			<h:outputText
				value="Projekt je značajan i inovativan u području istraživanja i razvoja" />

			<p:selectBooleanCheckbox
				value="#{obrazacEvaluacijeView.oe.primjenjivoNacionalne}" />
			<h:outputText
				value="Projekt s utjecajem na nacionalne / međunarodne politike" />

			<p:selectBooleanCheckbox
				value="#{obrazacEvaluacijeView.oe.primjenjivoPotencija}" />
			<h:outputText
				value="Projekt s potencijalnom uporabom /korištenjem rezultata (patenti, zaštita IPR, novi proizvodi, programi i sl.) " />

			<p:selectBooleanCheckbox
				value="#{obrazacEvaluacijeView.oe.primjenjivoIstrazivaci}" />
			<h:outputText
				value="Značajno sudjelovanje međunarodnih istraživača i ustanova" />

			<p:selectBooleanCheckbox
				value="#{obrazacEvaluacijeView.oe.primjenjivoSektor}" />
			<h:outputText
				value="Uključuje suradnju s javnim i privatnim sektorom (npr. poduzetnicima, tvorcima politika, udrugama civilnog društva, krajnjim korisnicima…)" />

			<p:selectBooleanCheckbox
				value="#{obrazacEvaluacijeView.oe.primjenjivoDrugo}" />
			<h:outputText value="Drugo" />
		</h:panelGrid>
		<br />
		<p:inputTextarea rows="6" cols="100"
			value="#{obrazacEvaluacijeView.oe.primjenjivoKomentari}"
			placeholder="Komentari" />
		<br />
		<br />

		<h2 align="center" style="font-size: 30px">Dodatna pitanja</h2>
		<p style="font-size: 20px; text-align: justify;">Hrvatska zaklada
			za znanost natječajima Istraživački projekti i Uspostavni
			istraživački projekti financira temeljna i primijenjena istraživanja
			u svim znanstvenim područjima. Vrednovanjem njihove provedbe
			procjenjuje se provedba radnog plana i kvaliteta rada. Uz gore
			navedene kriterije projekti mogu imati i posebne naglaske te Vas
			molimo da ih ocijenite ovisno o njihovoj primjenjivosti za pojedini
			projekt.</p>
		<p style="font-size: 20px">Potrebno je odgovoriti samo na pitanja
			koja su primjenjiva na vrednovani projekt.</p>


		<h4 align="left" style="font-size: 20px">Učinak projekta</h4>
		<h:panelGrid columns="2"
			style="margin-bottom:10px;border:solid black;width:100%"
			cellpadding="5">
			
			<p:outputLabel for="ucinak"
				value="D1)   Učinak: Postoje li podatci iz kojih je razvidno da je/će projekt imati značajan znanstveni, tehnički, komercijalni, društveni utjecaj ili utjecaj na okoliš?" />
			<p:selectOneRadio id="ucinak"
				value="#{obrazacEvaluacijeView.oe.ucinakD1}">
				<f:selectItems var="statusPrk"
					value="#{selectOneRadioStatusPrk.ucinakD1Izbor}"
					itemValue="#{statusPrk.statusId}"
					itemLabel="#{statusPrk.statusDescription}" />
			</p:selectOneRadio>
			
			
			
			<p:outputLabel for="uspjesnaSuradnja"
				value="D2)   Je li uspostavljena uspješna nacionalna i/ili međunarodna suradnja?" />
				<p:selectOneRadio id="uspjesnaSuradnja"
				value="#{obrazacEvaluacijeView.oe.ucinakD2}">
				<f:selectItems var="statusPrk"
					value="#{selectOneRadioStatusPrk.ucinakD2Izbor}"
					itemValue="#{statusPrk.statusId}"
					itemLabel="#{statusPrk.statusDescription}" />
			</p:selectOneRadio>
			
			<p:outputLabel for="drugaPitanja"
				value="D3)   Je li se s drugim pitanjima (npr. etičkim, legislativnim, sigurnosnim i rodnim pitanjima; pitanja sufinanciranja i ostalih projekata voditelja) postupalo na odgovarajući način i postoje li o tome u izvješću potrebne informacije." />
				<p:selectOneRadio id="drugaPitanja"
				value="#{obrazacEvaluacijeView.oe.ucinakD3}">
				<f:selectItems var="statusPrk"
					value="#{selectOneRadioStatusPrk.ucinakD3Izbor}"
					itemValue="#{statusPrk.statusId}"
					itemLabel="#{statusPrk.statusDescription}" />
			</p:selectOneRadio>
			
			<p:outputLabel for="odstupanja"
				value="D4)   Odstupanja u provedbi projekta opravdana su i doprinose ostvarenju ciljeva projekta." />
				<p:selectOneRadio id="odstupanja"
				value="#{obrazacEvaluacijeView.oe.ucinakD4}">
				<f:selectItems var="statusPrk"
					value="#{selectOneRadioStatusPrk.ucinakD4Izbor}"
					itemValue="#{statusPrk.statusId}"
					itemLabel="#{statusPrk.statusDescription}" />
			</p:selectOneRadio>
			
		</h:panelGrid>
		<p:inputTextarea rows="3" cols="171"
			value="#{obrazacEvaluacijeView.oe.ucinakKomentari}"
			placeholder="Komentari" />
		<br />
		<br />
		<br />

		<h2 align="center" style="font-size: 30px">Bilješka o analizi
			financijskog izvješća</h2>
		<h:panelGrid columns="3" cellpadding="5" styleClass="panelGridCenter">

			<p:outputLabel value="Ukupna isplaćena sredstva:"
				for="ukupnaSredstva" />
			<pe:inputNumber id="ukupnaSredstva" readonly="true"
				value="#{reportingPeriodsViewEdit.ukupnaSredstva}"
				symbolPosition="s" decimalSeparator="," thousandSeparator="." />
			<p:message for="ukupnaSredstva" display="icon" />

			<p:outputLabel value="Neutrošeno (ukupno):" for="neutroseno" />
			<pe:inputNumber id="neutroseno" readonly="true"
				value="#{reportingPeriodsViewEdit.neutroseno}" symbolPosition="s"
				decimalSeparator="," thousandSeparator="." />
			<p:message for="neutroseno" display="icon" />

			<p:outputLabel value="Nenamjenski utrošeno:" for="nenamjenskiUtros" />
			<pe:inputNumber id="nenamjenskiUtros" readonly="true"
				value="#{reportingPeriodsViewEdit.nenamjenskiUtroseno}"
				symbolPosition="s" decimalSeparator="," thousandSeparator="." />
			<p:message for="nenamjenskiUtros" display="icon" />

			<br />
		</h:panelGrid>

		<p style="font-size: 20px;">Procjena financijskog izvješća:</p>
		<p:inputTextarea rows="6" cols="100"
			value="#{obrazacEvaluacijeView.oe.analizaprocjena}" />
		<br />
		<br />

		<p style="font-size: 20px; text-align: jursitfy;">Opće preporuke
			(npr. o općim izmjenama, korektivnim mjerama na razini radnog plana,
			preusmjeravanje ciljeva kako bi se optimizirao učinak ili držao korak
			s trenutnim stanjem u istraživanom području, poput boljeg korištenja
			resursa, usmjeravanja istraživanja…)</p>
		<p:inputTextarea rows="6" cols="100"
			value="#{obrazacEvaluacijeView.oe.analizaPreporuke}" />
		<br />
		<br />

		<p:commandButton 
					value="Spremi" style="width:15%"
					action="#{rezultatiVrednovanjaView.save()}"
					update="obrazacEvaluacije"
					oncomplete="setMsgfadeOut('msgsNew')" class="bttn-dialog-save" />

	</h:form>


</ui:composition>