<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	<script type="text/javascript">
		
		$(document).ready(function () {
			 
			 $('input.ui-spinner-input').on('input', function(){
					var vrijednost = $(this).val();
					if (vrijednost &lt; 0)
					 $(this).val('0');
				});
		});	
	</script>
	
    <p:growl autoUpdate="true" id="globalMsgs" showDetail="true"
        widgetVar="globalMsgsWidget" life="5000" />

	<h1 style="font-size: 12" align="center">TABLICA 3: Osoblje</h1>
	<p:separator style="height:7px" />
	<div style="font-size: 12">* Podaci iz Tablice 3. i slijedećih
		tablica potrebni su HRZZ-u zbog obveze izvještavanja koju ima prema
		Hrvatskom zavodu za statistiku, Ministarstvu znanosti, obrazovanja i
		sporta i drugim državnim ustanovama.</div>
	<h:form id="osobljeDTForm">

		<p:messages id="msgsView" />
		<div style="font-size: 12">
			Navedite broj osoba koje su sudjelovale u provođenju projekta,
			uključujući i konzultantske osobe:
			<p:spinner id="brojOsoba" disabled="#{!preventAction.periodActive}"
				value="#{osobljeView.brOsoba}"
				min="0" max="999" style="align:center;" size="5"/>
		</div>
		<p:dataTable value="#{osobljeView.osobljeOnProject}" var="row"
			type="ordered" rowKey="#{row.id}" id="osobljeDT" tableStyleClass="tablica-osoblje-wrapper"
			editable="#{preventAction.rendered == true and preventAction.periodActive == true ? true : false}"
			editMode="cell" widgetVar="cellOsoblje">

			<p:ajax event="cellEdit" listener="#{osobljeView.onCellEdit}"
				update=":osobljeDTForm:osobljeDT" />

			<p:column escape="false" headerText="Radno mjesto" style="width:10em"
				sortBy="#{row.radnoMjesto.description}" footerText="Ukupno:">
				<h:outputText escape="false" value="#{row.radnoMjesto.description}" />
			</p:column>

			<p:column escape="false" headerText="Broj žena" style="width:5em"
				sortBy="#{row.brojZena}"
				footerText="#{osobljeView.getBrojTotal('zene')}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText escape="false" value="#{row.brojZena}" />
					</f:facet>
					<f:facet name="input">
						<p:spinner label="brojZena" value="#{row.brojZena}" min="0" max="999" style="align:center;" size="6"/>
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column escape="false" headerText="Broj muškaraca"
				style="width:5em" sortBy="#{row.brojMuskaraca}"
				footerText="#{osobljeView.getBrojTotal('muskaraci')}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText escape="false" value="#{row.brojMuskaraca}" />
					</f:facet>
					<f:facet name="input">
						<p:spinner label="brojMuskaraca" value="#{row.brojMuskaraca}" min="0" max="999" style="align:center;" size="6"/>
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column escape="false" style="width:5em"
				sortBy="#{row.brojUPrivSektoru}"
				headerText="Broj zaposlenih u privatnom sektoru"
				footerText="#{osobljeView.getBrojTotal('privatni')}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText escape="false" value="#{row.brojUPrivSektoru}" />
					</f:facet>
					<f:facet name="input">
						<p:spinner label="brojUPrivSektoru" value="#{row.brojUPrivSektoru}" min="0" max="999" style="align:center;" size="6"/>
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column escape="false" style="width:5em"
				headerText="Broj zaposlenih u javnom sektoru"
				sortBy="#{row.brojUJavSektoru}"
				footerText="#{osobljeView.getBrojTotal('javni')}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText escape="false" value="#{row.brojUJavSektoru}" />
					</f:facet>
					<f:facet name="input">
						<p:spinner label="brojUJavSektoru" value="#{row.brojUJavSektoru}" min="0" max="999" style="align:center;" size="6"/>
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column escape="false" style="width:5em"
				headerText="Broj zaposlenih u javnim sveučilištima i znanstvenim institutima"
				sortBy="#{row.brojUSveucilistu}"
				footerText="#{osobljeView.getBrojTotal('sveuciliste')}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText escape="false" value="#{row.brojUSveucilistu}" />
					</f:facet>
					<f:facet name="input">
						<p:spinner label="brojUSveucilistu" value="#{row.brojUSveucilistu}" min="0" max="999" style="align:center;" size="6"/>
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column escape="false" headerText="Broj zaposlenih u inozemstvu"
				style="width:5em" sortBy="#{row.brojUInozemstvu}"
				footerText="#{osobljeView.getBrojTotal('inozemstvo')}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText escape="false" value="#{row.brojUInozemstvu}" />
					</f:facet>
					<f:facet name="input">
						<p:spinner label="brojUInozemstvu" value="#{row.brojUInozemstvu}" min="0" max="999" style="align:center;" size="6"/>
					</f:facet>
				</p:cellEditor>
			</p:column>

			<p:column escape="false" headerText="Broj nezaposlenih"
				style="width:5em" sortBy="#{row.brojNezaposlenih}"
				footerText="#{osobljeView.getBrojTotal('nezaposleni')}">
				<p:cellEditor>
					<f:facet name="output">
						<h:outputText escape="false" value="#{row.brojNezaposlenih}" />
					</f:facet>
					<f:facet name="input">
						<p:spinner label="brojNezaposlenih" value="#{row.brojNezaposlenih}" min="0" max="999" style="align:center;" size="6"/>
					</f:facet>
				</p:cellEditor>
			</p:column>

			<f:facet name="footer">
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="SPREMI" icon="ui-icon-save"
					rendered="#{preventAction.rendered}"
					oncomplete="setMsgfadeOut('msgsView'); $('.cmd-hidden-save').click()" />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="SPREMI_hidden" class="cmd-hidden-save"
					action="#{osobljeView.save()}" update="osobljeDT" visible="false" />
				<p:commandButton value="PRK" rendered="#{preventAction.isRendered('PRK')}"
					oncomplete="PF('prkOsobljeDialogWidget').show()" update="prkOsobljeDialog">
				</p:commandButton>
			</f:facet>

		</p:dataTable>

	</h:form>
	<p:dialog id="prkOsobljeDialog" header="Unošenje statusa" rendered="true"
		widgetVar="prkOsobljeDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkOsobljeForm">

			<p:panel id="prkOsobljePanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkOsobljePanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" />
					<p:selectOneRadio id="status"
						value="#{osobljeView.evOsobljeBrOsoba.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>
				
				<p:inputTextarea rows="3" cols="50"
					value="#{osobljeView.evOsobljeBrOsoba.komentarPrk}"
					placeholder="Komentari" />


			</p:panel>
			<div align="center">
				<br />
				
				<p:commandButton value="Spremi" style="width:30%" action="#{osobljeView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="prkOsobljeForm" class="bttn-dialog-save" />

			</div>
		</h:form>
	</p:dialog>
	
	<script type="text/javascript">


	
	</script>
	
</ui:composition>