<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">



	<h1 style="font-size: 12" align="center">TABLICA 14: Ostalo (NIJE
		OBVEZNA)</h1>
	<p:separator style="height:7px" />
	<h:form id="form_tablica_ostalo">

		<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
			<div align="center">
				<p:commandButton value="Da" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Ne" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</div>
		</p:confirmDialog>

		<p:dataTable value="#{ostaloView.fillTable()}" var="ostalo"
			type="ordered" selectionMode="single" rowKey="#{ostalo.id}"
			id="tablica_ostalo" selection="#{ostaloView.odabranaEvOstalo}"
			rowIndexVar="rowIndex" tableStyleClass="ostalo-wrapper">

			<f:facet name="header">
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Novi" rendered="#{preventAction.rendered}"
					onclick="PF('tabl14Dialog').show(); #{ostaloView.clean()}" />
				<br />
			</f:facet>

			<p:column escape="false" headerText="Opcije"
				rendered="#{preventAction.isRendered('OPCIJE')}"
				style="width:5em; align:center;">

				<p:commandButton disabled="#{preventAction.isDisabled('EDIT')}"
					value="" class="ikona-edit"
					rendered="#{preventAction.isRendered('EDIT')}"
					oncomplete="PF('tabl14Dialog_edit').show()"
					update="edit_tabl14Dialog">
					<f:setPropertyActionListener value="#{ostalo}"
						target="#{ostaloView.currentRow}" />
				</p:commandButton>

				<p:commandButton disabled="#{preventAction.isDisabled('DELETE')}"
					value="" class="ikona-delete"
					rendered="#{preventAction.isRendered('DELETE')}"
					update="form_tablica_ostalo">
					<f:setPropertyActionListener value="#{ostalo}"
						target="#{ostaloView.delete}" />
					<p:confirm header="Potvrda brisanja"
						message="Jeste sigurni da želite obrisati unešene podatke?"
						icon="ui-icon-alert">
					</p:confirm>
				</p:commandButton>

				<p:commandButton value="PRK"
					rendered="#{preventAction.isRendered('PRK')}" class="ikona-prk ikona-prk-pozicija"
					oncomplete="PF('prkOstaloDialogWidget').show()"
					update="prkOstaloDialog">
					<f:setPropertyActionListener value="#{ostalo}"
						target="#{ostaloView.currentRow}" />
				</p:commandButton>

			</p:column>

			<p:column escape="false" headerText="Br." style="width:3em"
				sortBy="#{ostalo.broj}">
				<h:outputText escape="false" value="#{rowIndex + 1}" />
			</p:column>

			<p:column escape="false" headerText="Vrsta" style="width:20em"
				sortBy="#{ostalo.vrsta}">
				<h:outputText escape="false"
					value="#{ostaloView.getDescription('ev_ostalo','vrsta',ostalo.vrsta)}" />
			</p:column>

			<p:column escape="false" headerText="Naziv" style="width:30em"
				sortBy="#{ostalo.naziv}">
				<h:outputText escape="false" value="#{ostalo.naziv}" />
			</p:column>

			<p:column escape="false" headerText="Opis" style="width:30em"
				sortBy="#{ostalo.opis}">
				<h:outputText escape="false" value="#{ostalo.opis}">
					<f:convertDateTime pattern="dd.MM.yyyy" />
				</h:outputText>
			</p:column>

		</p:dataTable>

	</h:form>
	<p:dialog id="new_tabl14Dialog" header="OSTALO"
		widgetVar="tabl14Dialog" esizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="form_new">
			<p:panel id="tabl14_panel">

				<p:messages id="msgsNew" showDetail="true" />

				<h:panelGrid id="displaytest1" columns="3" cellpadding="4"
					border="0">
					<p:outputLabel value="Vrsta:" for="vrstaNew" />
					<p:selectOneMenu id="vrstaNew" value="#{ostaloView.lovObject}"
						panelStyle="width:180px" effect="fade" var="t" style="width:600px"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_ostalo','vrsta')}"
							var="lovObject" itemLabel="#{lovObject.description}"
							itemValue="#{lovObject}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="vrstaNew" display="icon" />

					<p:outputLabel value="Naziv:" for="nazivNew" />
					<p:inputTextarea id="nazivNew"
						value="#{ostaloView.novaEvOstalo.naziv}" cols="80" rows="1"
						maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="nazivNew" display="icon" />

					<p:outputLabel value="Opis:" for="opisNew" />
					<p:inputTextarea id="opisNew"
						value="#{ostaloView.novaEvOstalo.opis}" cols="80" rows="1"
						maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="opisNew" display="icon" />

				</h:panelGrid>

			</p:panel>
			<div align="center">

				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="OK" style="width:30%" action="#{ostaloView.insert()}"
					update="tabl14_panel,form_tablica_ostalo"
					oncomplete="setMsgfadeOut('msgsNew')" />

				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Cancel" style="width:30%" onclick="tabl14Dialog.hide();" />

			</div>
		</h:form>
	</p:dialog>
	<p:dialog id="edit_tabl14Dialog" header="Vrsta"
		widgetVar="tabl14Dialog_edit" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="form_edit">
			<p:panel id="edit_panel">

				<p:messages id="msgsView" showDetail="true" />
				<h:panelGrid id="displayView" columns="3" cellpadding="4" border="0">

					<p:outputLabel value="Vrsta:" for="vrstaView" />
					<p:selectOneMenu id="vrstaView" value="#{ostaloView.lovObject}"
						panelStyle="width:180px" effect="fade" var="t" style="width:600px"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_ostalo','vrsta')}"
							var="lovObject" itemLabel="#{lovObject.description}"
							itemValue="#{lovObject}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="vrstaView" display="icon" />

					<p:outputLabel value="Naziv:" for="nazivView" />
					<p:inputTextarea id="nazivView"
						value="#{ostaloView.odabranaEvOstalo.naziv}" cols="80" rows="1"
						maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="nazivView" display="icon" />

					<p:outputLabel value="Opis:" for="opisView" />
					<p:inputTextarea id="opisView"
						value="#{ostaloView.odabranaEvOstalo.opis}" cols="80" rows="1"
						maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="opisView" display="icon" />

				</h:panelGrid>
			</p:panel>

			<div align="center">
				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Cancel" style="width:30%" onclick="tabl14Dialog.hide();"
					immediate="true" class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="prkOstaloDialog" header="Unošenje statusa"
		rendered="true" widgetVar="prkOstaloDialogWidget" resizable="false"
		showEffect="fade" hideEffect="explode" closeOnEscape="true"
		closable="true">
		<h:form id="prkOstaloForm">

			<p:panel id="prkOstaloPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkOstaloPanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" />
					<p:selectOneRadio id="status"
						value="#{ostaloView.odabranaEvOstalo.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>

				<p:inputTextarea rows="3" cols="50"
					value="#{ostaloView.odabranaEvOstalo.komentarPrk}"
					placeholder="Komentari" />


			</p:panel>
			<div align="center">
				<br />

				<p:commandButton value="Spremi" style="width:30%"
					action="#{ostaloView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="prkOstaloForm, form_tablica_ostalo"
					class="bttn-dialog-save" />

			</div>
		</h:form>
	</p:dialog>

	<script type="text/javascript">
	
		// HOTFIX Sirina retka sa ikonama delete, edit i prk je uvijek takva da ikone stanu jedan kraj druge,
		// umjesto fiksne najbolje da bude auto, a za to treba testirati strukturu i ovisno i prioritetima
		$('table.ostalo-wrapper > tbody > tr > td:first-child, ' +
		  'table.ostalo-wrapper > thead > tr > th:first-child').css('width', '6em', 'important')
	
	</script>
	
</ui:composition>
