<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h1 style="font-size: 12" align="center">TABLICA 9: Popis ostalih
		objavljenih publikacija proizašlih iz aktivnosti na projektu (NIJE
		OBVEZNA)</h1>
	<p:separator style="height:7px" />

	<h:form id="form_tablica_popisPublikacija">

		<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
			<div align="center">
				<p:commandButton value="Da" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Ne" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</div>
		</p:confirmDialog>

		<p:dataTable value="#{ostalePublikacijeView.fillTable()}"
			var="publikacija" type="ordered" rowKey="#{publikacija.id}"
			id="tablica_OPView" rowIndexVar="rowIndex" tableStyleClass="popis-ostale-publikacije-wrapper">

			<f:facet name="header">
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Novi" type="button" rendered="#{preventAction.rendered}"
					onclick="PF('novi_OPViewDialog_var').show(); #{ostalePublikacijeView.clean()}" />
				<br />
			</f:facet>

			<p:column escape="false" headerText="Opcije"
				rendered="#{preventAction.isRendered('OPCIJE')}"
				style="width:6em; align:center;">

				<p:commandButton disabled="#{preventAction.isDisabled('EDIT')}"
					value="" class="ikona-edit"
					oncomplete="PF('edit_OPViewDialog_var').show()"
					rendered="#{preventAction.isRendered('EDIT')}"
					update="edit_OPViewDialog">
					<f:setPropertyActionListener value="#{publikacija}"
						target="#{ostalePublikacijeView.odabranaEvPopisPublikacija}" />
				</p:commandButton>

				<p:commandButton disabled="#{preventAction.isDisabled('DELETE')}"
					value="" class="ikona-delete"
					rendered="#{preventAction.isRendered('DELETE')}"
					update="form_tablica_popisPublikacija">
					<f:setPropertyActionListener value="#{publikacija}"
						target="#{ostalePublikacijeView.delete}" />
					<p:confirm header="Potvrda brisanja"
						message="Jeste sigurni da želite obrisati unešene podatke?"
						icon="ui-icon-alert">
					</p:confirm>
				</p:commandButton>

				<p:commandButton value="PRK"
					rendered="#{preventAction.isRendered('PRK')}" class="ikona-prk ikona-prk-pozicija"
					oncomplete="PF('prkOPDialogWidget').show()" update="prkOPDialog">
					<f:setPropertyActionListener value="#{publikacija}"
						target="#{ostalePublikacijeView.odabranaEvPopisPublikacija}" />
				</p:commandButton>

			</p:column>

			<p:column escape="false" headerText="Br." style="width:5em"
				sortBy="#{publikacija.broj}">
				<h:outputText escape="false" value="#{rowIndex + 1}" />
			</p:column>

			<p:column escape="false" headerText="Vrsta" style="width:10em"
				sortBy="#{publikacija.vrsta}">
				<h:outputText escape="false"
					value="#{ostalePublikacijeView.getDescription('ev_popis_publikacija','vrsta',publikacija.vrsta)}" />
			</p:column>

			<p:column escape="false"
				headerText="Autori, naziv rada, naziv časopisa, broj, godište, izdavač, stranice"
				style="width:30em" sortBy="#{publikacija.naziv}">
				<h:outputText escape="false" value="#{publikacija.naziv}" />
			</p:column>

			<p:column escape="false" headerText="Godina objavljivanja"
				style="width:10em" sortBy="#{publikacija.godinaObjavljivanja}">
				<h:outputText escape="false"
					value="#{publikacija.godinaObjavljivanja}" />
			</p:column>

			<p:column escape="false"
				headerText="Je li omogućen otvoreni pristup za ovu publikaciju?"
				style="width:10em" sortBy="#{publikacija.otvoreniPristup}">
				<h:outputText escape="false"
					value="#{ostalePublikacijeView.getDescription('ev_popis_publikacija','otvoreni_pristup',publikacija.otvoreniPristup)}" />
			</p:column>

			<p:column escape="false" headerText="Poveznica ili upload dokumenta">
				<h:outputLink value="#{publikacija.poveznica}" target="blank"
					rendered="#{publikacija.poveznica != null}">#{publikacija.poveznica}</h:outputLink>
				<h:outputText escape="false" value="&lt;br&gt;"
					rendered="#{publikacija.poveznica != null and publikacija.file != null}" />
				<h:outputText escape="false" value="#{publikacija.file.fileName}" />
				<p:commandLink ajax="false" styleClass="down-link"
					rendered="#{publikacija.file != null}"
					onclick="PrimeFaces.monitorDownload(start, stop);">
					<p:fileDownload value="#{publikacija.file.streamedContent}" />
					<i class="fa fa-download"></i>
				</p:commandLink>
			</p:column>
			<f:facet name="footer"></f:facet>
		</p:dataTable>
	</h:form>

	<p:confirmDialog id="confirmFileDeleteDialog" header="Potvrda brisanja"
		message="Jeste li sigurni da želite pobrisati datoteku?"
		appendTo="@(body)" showEffect="fade" hideEffect="explode"
		widgetVar="cfddWidget" closable="false" closeOnEscape="true">
		<h:form>
			<h:panelGroup layout="block" style="text-align:right">
				<p:commandButton value="Da" oncomplete="PF('cfddWidget').hide();"
					action="#{ostalePublikacijeView.deleteFileRezultat}"
					update="form_tablica_popisPublikacija" />
				<p:commandButton value="Ne" oncomplete="PF('cfddWidget').hide();"
					action="#{ostalePublikacijeView.cancelFileDelete}" />
			</h:panelGroup>
		</h:form>
	</p:confirmDialog>

	<p:dialog id="novi_OPViewDialog" header="Novi popis"
		widgetVar="novi_OPViewDialog_var" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="novi_OPViewForm">
			<p:panel id="novi_OPViewPanel">

				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="displaynovi" columns="3" cellpadding="4" border="0">

					<p:outputLabel value="Vrsta:" for="vrstaNoviOPView" />

					<p:selectOneMenu id="vrstaNoviOPView"
						value="#{ostalePublikacijeView.lovObjectVrsta}"
						panelStyle="width:200px" effect="fade" var="t" style="width:150px"
						required="true" filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_publikacija','vrsta')}"
							var="lovObjectVrsta" itemLabel="#{lovObjectVrsta.description}"
							itemValue="#{lovObjectVrsta}" />

						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>

					<p:message for="vrstaNoviOPView" display="icon" />


					<p:outputLabel
						value="Autori, naziv rada, naziv časopisa, broj, godište, izdavač, stranice:"
						for="nazivNoviOPView" />
					<p:inputTextarea rows="3" cols="50" id="nazivNoviOPView"
						value="#{ostalePublikacijeView.novaEvPopisPublikacija.naziv}"
						maxlength="500" autoResize="true" required="true" />
					<p:message for="nazivNoviOPView" display="icon" />

					<p:outputLabel value="Godina objavljivanja:"
						for="godinaObjavljivanjaNoviOPView" />
					<p:spinner id="godinaObjavljivanjaNoviOPView"
						value="#{ostalePublikacijeView.novaEvPopisPublikacija.godinaObjavljivanja}"
						min="0" max="9999" style="align:center;" size="5" required="true">

						<f:validator binding="#{yearFromToCurrentPeriodValidator}" />
					</p:spinner>
					<p:message for="godinaObjavljivanjaNoviOPView" display="icon" />

					<p:outputLabel
						value="Je li omogućen  otvoreni pristup  za ovu publikaciju?"
						for="otvoreniPristupNoviOPView" />

					<p:selectOneMenu id="otvoreniPristupNoviOPView"
						value="#{ostalePublikacijeView.lovObjectPristup}"
						panelStyle="width:180px" effect="fade" var="t" style="width:60px"
						required="true" filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_publikacija','otvoreni_pristup')}"
							var="lovObjectPristup"
							itemLabel="#{lovObjectPristup.description}"
							itemValue="#{lovObjectPristup}" />

						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="otvoreniPristupNoviOPView" display="icon" />

					<ui:include src="fileUploadFormRow.xhtml" />
				</h:panelGrid>

			</p:panel>
			<div align="center">
				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{ostalePublikacijeView.insert()}"
					update="novi_OPViewPanel, form_tablica_popisPublikacija"
					oncomplete="setMsgfadeOut('msgsNew')" class="bttn-dialog-save" />

				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="novi_OPViewDialog_var.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="edit_OPViewDialog" header="Promjena popisa"
		widgetVar="edit_OPViewDialog_var" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="edit_OPViewForm">
			<p:panel id="edit_panel">

				<p:messages id="msgsView" showDetail="true" />
				<h:panelGrid id="displayedit" columns="3" cellpadding="4" border="0">

					<p:outputLabel value="Vrsta:" for="vrstaEditOPView" />
					<p:selectOneMenu id="vrstaEditOPView"
						value="#{ostalePublikacijeView.lovObjectVrsta}"
						panelStyle="width:180px" effect="fade" var="t" style="width:150px"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}"
						required="true">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_publikacija','vrsta')}"
							var="lovObjectVrsta" itemLabel="#{lovObjectVrsta.description}"
							itemValue="#{lovObjectVrsta}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="vrstaEditOPView" display="icon" />

					<p:outputLabel
						value="Autori, naziv rada, naziv časopisa, broj, godište, izdavač, stranice:"
						for="nazivEditOPView" />
					<p:inputTextarea rows="3" cols="50" id="nazivEditOPView"
						value="#{ostalePublikacijeView.odabranaEvPopisPublikacija.naziv}"
						maxlength="500" autoResize="true" required="true" />
					<p:message for="nazivEditOPView" display="icon" />

					<p:outputLabel value="Godina objavljivanja:"
						for="godinaObjavljivanjaEditOPView" />
					<p:spinner id="godinaObjavljivanjaEditOPView"
						value="#{ostalePublikacijeView.odabranaEvPopisPublikacija.godinaObjavljivanja}"
						min="0" max="9999" style="align:center;" size="5" required="true">
						<f:validator binding="#{yearFromToCurrentPeriodValidator}" />
					</p:spinner>
					<p:message for="godinaObjavljivanjaEditOPView" display="icon" />

					<p:outputLabel
						value="Je li omogućen  otvoreni pristup  za ovu publikaciju?"
						for="otvoreniPristupEditOPView" />

					<p:selectOneMenu id="otvoreniPristupEditOPView"
						value="#{ostalePublikacijeView.lovObjectPristup}"
						panelStyle="width:180px" effect="fade" var="t" style="width:60px"
						required="true" filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_publikacija','otvoreni_pristup')}"
							var="lovObjectPristup"
							itemLabel="#{lovObjectPristup.description}"
							itemValue="#{lovObjectPristup}" />

						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="otvoreniPristupEditOPView" display="icon" />

					<ui:include src="fileUploadFormRow.xhtml" />
				</h:panelGrid>
			</p:panel>

			<div align="center">
				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{ostalePublikacijeView.update()}"
					oncomplete="setMsgfadeOut('msgsView')"
					update="edit_panel, form_tablica_popisPublikacija"
					class="bttn-dialog-save" />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="novi_OPViewDialog_var.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="prkOPDialog" header="Unošenje statusa" rendered="true"
		widgetVar="prkOPDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkOPForm">

			<p:panel id="prkOPPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkOPPanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" />
					<p:selectOneRadio id="status"
						value="#{ostalePublikacijeView.odabranaEvPopisPublikacija.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>

				<p:inputTextarea rows="3" cols="50"
					value="#{ostalePublikacijeView.odabranaEvPopisPublikacija.komentarPrk}"
					placeholder="Komentari" />


			</p:panel>
			<div align="center">
				<br />

				<p:commandButton value="Spremi" style="width:30%"
					action="#{ostalePublikacijeView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="prkOPForm, form_tablica_popisPublikacija"
					class="bttn-dialog-save" />

			</div>
		</h:form>
	</p:dialog>
	
	<script type="text/javascript">
	
		// HOTFIX Sirina retka sa ikonama delete, edit i prk je uvijek takva da ikone stanu jedan kraj druge,
		// umjesto fiksne najbolje da bude auto, a za to treba testirati strukturu i ovisno i prioritetima
		$('table.popis-ostale-publikacije-wrapper > tbody > tr > td:first-child, ' +
		  'table.popis-ostale-publikacije-wrapper > thead > tr > th:first-child').css('width', '6em', 'important')
	
	</script>
	
</ui:composition>