<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h1 style="font-size: 12" align="center">TABLICA 11: Popis svih
		patentnih prijava, žigova, industrijskih dizajna i dr. (NIJE OBVEZNA)</h1>
	<p:separator style="height:7px" />

	<h:form enctype="utf8" id="form_tablica_patenti">

		<p:dataTable value="#{patentZigDizajnView.fillTable()}"
			var="patentZigDizajn" type="ordered" selectionMode="single"
			rowKey="#{patentZigDizajn.id}" id="tablica_patenti"
			selection="#{patentZigDizajnView.odabranaEvPatenata}"
			tableStyleClass="patent-zig-wrapper">

			<f:facet name="header">
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Novi" rendered="#{preventAction.rendered}"
					onclick="PF('noviPatent_dialog').show(); #{patentZigDizajnView.clean()}" />
				<br />
			</f:facet>

			<p:column escape="false" headerText="Opcije"
				rendered="#{preventAction.isRendered('OPCIJE')}"
				style="width:5em; align:center;">

				<p:commandButton disabled="#{preventAction.isDisabled('EDIT')}" value=""
					class="ikona-edit" style="buttonNew" rendered="#{preventAction.isRendered('EDIT')}"	
					oncomplete="PF('editPatent_dialog').show()"
					update="editPatentiDialog">
					<f:setPropertyActionListener value="#{patentZigDizajn}"
						target="#{patentZigDizajnView.currentRow}" />
				</p:commandButton>

				<p:commandButton disabled="#{preventAction.isDisabled('DELETE')}" value=""
					class="ikona-delete" update="form_tablica_patenti" rendered="#{preventAction.isRendered('DELETE')}">
					<f:setPropertyActionListener value="#{patentZigDizajn}"
						target="#{patentZigDizajnView.delete}" />
				</p:commandButton>

				<p:commandButton value="PRK" rendered="#{preventAction.isRendered('PRK')}"
					oncomplete="PF('prkPZDDialogWidget').show()" class="ikona-prk ikona-prk-pozicija"
					update="prkPZDDialog">
					<f:setPropertyActionListener value="#{patentZigDizajn}"
						target="#{patentZigDizajnView.currentRow}" />
				</p:commandButton>
				
			</p:column>

			<p:column escape="false" headerText="Vrsta IV-a:" style="width:7em"
				sortBy="#{patentZigDizajn.vrsta}">
				<h:outputText escape="false"
					value="#{patentZigDizajnView.getDescription('ev_patenata','vrsta',patentZigDizajn.vrsta)}" />
			</p:column>

			<p:column escape="false" headerText="Povjerljivo" style="width:5em"
				sortBy="#{patentZigDizajn.povjerljivo}">
				<h:outputText escape="false"
					value="#{patentZigDizajnView.getDescription('ev_patenata','povjerljivo',patentZigDizajn.povjerljivo)}" />
			</p:column>

			<p:column escape="false"
				headerText="Predviđeni datum embarga DD.MM.GGGG" style="width:7em"
				sortBy="#{patentZigDizajn.datumEmbarga}">
				<h:outputText escape="false" value="#{patentZigDizajn.datumEmbarga}">
					<f:convertDateTime pattern="dd.MM.yyyy" />
				</h:outputText>
			</p:column>

			<p:column escape="false"
				headerText="Referenca prijave (npr. EP123456)" style="width:10em"
				sortBy="#{patentZigDizajn.referenca}">
				<h:outputText escape="false" value="#{patentZigDizajn.referenca}" />
			</p:column>

			<p:column escape="false" headerText="Predmet ili naziv prijave"
				style="width:20em" sortBy="#{patentZigDizajn.naziv}">
				<h:outputText escape="false" value="#{patentZigDizajn.naziv}" />
			</p:column>

			<p:column escape="false"
				headerText="Prijavitelj/i (kako je navedeno na prijavi)"
				style="width:20em" sortBy="#{patentZigDizajn.prijavitelj}">
				<h:outputText escape="false" value="#{patentZigDizajn.prijavitelj}" />
			</p:column>

			<f:facet name="footer">
			</f:facet>

		</p:dataTable>

	</h:form>

	<p:dialog id="noviPatentiDialog" header="Novi Patenti"
		widgetVar="noviPatent_dialog" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="form_new">
			<p:panel id="noviButton_panel">

				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="displayNoviButton" columns="3" cellpadding="4"
					border="0">

					<p:outputLabel value="Vrsta IV-a:" for="vrstaNoviPatenti" />
					<p:selectOneMenu id="vrstaNoviPatenti"
						value="#{patentZigDizajnView.lovObjectVrsta}"
						panelStyle="width:180px" effect="fade" var="t" style="width:180px"
						required="true" filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_patenata','vrsta')}"
							var="lovObjectVrsta" itemLabel="#{lovObjectVrsta.description}"
							itemValue="#{lovObjectVrsta}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="vrstaNoviPatenti" display="icon" />


					<p:outputLabel value="Povjerljivo:" for="povjerljivoNoviPatenti" />
					<p:selectOneMenu id="povjerljivoNoviPatenti"
						value="#{patentZigDizajnView.lovObjectPovjerljivo}"
						panelStyle="width:180px" effect="fade" var="t" style="width:180px"
						required="true" filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_patenata','povjerljivo')}"
							var="lovObjectPovjerljivo"
							itemLabel="#{lovObjectPovjerljivo.description}"
							itemValue="#{lovObjectPovjerljivo}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="povjerljivoNoviPatenti" display="icon" />


					<p:outputLabel value="Predviđeni datum embarga:"
						for="datumNoviPatenti" />
					<p:calendar id="datumNoviPatenti"
						value="#{patentZigDizajnView.novaEvPatenata.datumEmbarga}"
						pattern="dd.MM.yyyy" mask="true" required="true">
					</p:calendar>
					<p:message for="datumNoviPatenti" display="icon" />


					<p:outputLabel value="Referenca prijave (npr. EP123456):"
						for="referencaNoviPatenti" />
					<p:inputTextarea id="referencaNoviPatenti"
						value="#{patentZigDizajnView.novaEvPatenata.referenca}" cols="50"
						rows="1" maxlength="45" required="true">
					</p:inputTextarea>
					<p:message for="referencaNoviPatenti" display="icon" />


					<p:outputLabel value="Predmet ili naziv prijave:"
						for="predmetNoviPatenti" />
					<p:inputTextarea id="predmetNoviPatenti"
						value="#{patentZigDizajnView.novaEvPatenata.naziv}" cols="50"
						rows="1" maxlength="100" required="true">
					</p:inputTextarea>
					<p:message for="predmetNoviPatenti" display="icon" />

					<p:outputLabel value="Prijavitelj/i (kako je navedeno na prijavi):"
						for="prijaviteljNoviPatenti" />
					<p:inputTextarea id="prijaviteljNoviPatenti"
						value="#{patentZigDizajnView.novaEvPatenata.prijavitelj}"
						cols="50" rows="1" maxlength="100" required="true">
					</p:inputTextarea>
					<p:message for="prijaviteljNoviPatenti" display="icon" />

				</h:panelGrid>

			</p:panel>
			<div align="center">

				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{patentZigDizajnView.insert()}"
					update="noviButton_panel,form_tablica_patenti"
					oncomplete="setMsgfadeOut('msgsNew')" class="bttn-dialog-save" />

				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="noviPatent_dialog.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>


	<p:dialog id="editPatentiDialog" header="Odabrani patent"
		widgetVar="editPatent_dialog" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		appendTo="@(body)" rendered="true">

		<h:form id="form_editButton_patenti">
			<p:panel id="editButton_panel">

				<p:messages id="msgsView" showDetail="true" />
				<h:panelGrid id="displayEditButton" columns="3" cellpadding="4"
					border="0">

					<p:outputLabel value="Vrsta IV-a::" for="vrstaNoviPatenti" />
					<p:selectOneMenu id="vrstaNoviPatenti"
						value="#{patentZigDizajnView.lovObjectVrsta}"
						panelStyle="width:180px" effect="fade" var="t" style="width:180px"
						required="true" filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_patenata','vrsta')}"
							var="lovObjectVrsta" itemLabel="#{lovObjectVrsta.description}"
							itemValue="#{lovObjectVrsta}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="vrstaNoviPatenti" display="icon" />


					<p:outputLabel value="Povjerljivo:" for="povjerljivoEditPatenti" />
					<p:selectOneMenu id="povjerljivoEditPatenti"
						value="#{patentZigDizajnView.lovObjectPovjerljivo}"
						panelStyle="width:180px" effect="fade" var="t" style="width:180px"
						required="true" filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_patenata','povjerljivo')}"
							var="lovObjectPovjerljivo"
							itemLabel="#{lovObjectPovjerljivo.description}"
							itemValue="#{lovObjectPovjerljivo}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="povjerljivoEditPatenti" display="icon" />


					<p:outputLabel value="Predviđeni datum embarga:"
						for="datumNoviPatenti" />
					<p:calendar id="datumNoviPatenti"
						value="#{patentZigDizajnView.odabranaEvPatenata.datumEmbarga}"
						pattern="dd.MM.yyyy" mask="true" required="true">
					</p:calendar>
					<p:message for="datumNoviPatenti" display="icon" />

					<p:outputLabel value="Referenca prijave:"
						for="referencaEditPatenti" />
					<p:inputTextarea id="referencaEditPatenti"
						value="#{patentZigDizajnView.odabranaEvPatenata.referenca}"
						cols="50" rows="1" maxlength="45" required="true">
					</p:inputTextarea>
					<p:message for="referencaEditPatenti" display="icon" />

					<p:outputLabel value="Predmet ili naziv prijave:"
						for="predmetEditPatenti" />
					<p:inputTextarea id="predmetEditPatenti"
						value="#{patentZigDizajnView.odabranaEvPatenata.naziv}" cols="50" rows="1"
						maxlength="100" required="true">
					</p:inputTextarea>
					<p:message for="predmetEditPatenti" display="icon" />

					<p:outputLabel value="Prijavitelj:" for="prijaviteljEditPatenti" />
					<p:inputTextarea id="prijaviteljEditPatenti"
						value="#{patentZigDizajnView.odabranaEvPatenata.prijavitelj}"
						cols="50" rows="1" maxlength="100" required="true">
					</p:inputTextarea>
					<p:message for="prijaviteljEditPatenti" display="icon" />

				</h:panelGrid>

			</p:panel>
			<div align="center">

				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{patentZigDizajnView.update()}"
					oncomplete="setMsgfadeOut('msgsView')"
					update="editButton_panel,form_tablica_patenti"
					class="bttn-dialog-save" />

				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="editPatent_dialog.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />

			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="prkPZDDialog" header="Unošenje statusa" rendered="true"
		widgetVar="prkPZDDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkPZDDForm">

			<p:panel id="prkPZDPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkPZDPanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" />
					<p:selectOneRadio id="status"
						value="#{patentZigDizajnView.odabranaEvPatenata.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>
				
				<p:inputTextarea rows="3" cols="50"
					value="#{patentZigDizajnView.odabranaEvPatenata.komentarPrk}"
					placeholder="Komentari" />


			</p:panel>
			<div align="center">
				<br />
				
				<p:commandButton value="Spremi" style="width:30%" action="#{patentZigDizajnView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="prkPZDDForm, form_tablica_patenti" class="bttn-dialog-save" />

			</div>
		</h:form>
	</p:dialog>

	<script type="text/javascript">
	
		// HOTFIX Sirina retka sa ikonama delete, edit i prk je uvijek takva da ikone stanu jedan kraj druge,
		// umjesto fiksne najbolje da bude auto, a za to treba testirati strukturu i ovisno i prioritetima
		$('table.patent-zig-wrapper > tbody > tr > td:first-child, ' +
		  'table.patent-zig-wrapper > thead > tr > th:first-child').css('width', '6em', 'important')
	
	</script>
	
</ui:composition>
