<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<p:growl autoUpdate="true" id="globalMsgs" showDetail="true"
		widgetVar="globalMsgsWidget" life="5000" />
		
	<p:layout>

		<p:layoutUnit position="west" size="300" minSize="300" maxSize="300"
			scrollable="true">

			<p:accordionPanel multiple="true" activeIndex="0,1" id="acc">
				
				<p:tab title="Pregled podataka o projektu" closable="false">

					<h:panelGrid columns="2" cellpadding="3">
						<h:outputText value="Šifra:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.code}" />

						<h:outputText value="Program/Rok:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.tenderDeadline}" />

						<h:outputText value="Voditelj:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.leader.userData.name} #{sessionBean.currentProject.leader.userData.surname}" />

						<h:outputText value="Ustanova:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.institutionId.name}" />

						<h:outputText value="Čelnik ustanove:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.celnikUstanove}" />
							
						<h:outputText value="Naziv projekta:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.name}" />
							
						<h:outputText value="Akronim projekta:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.acronym}" />
							
						<h:outputText value="Znanstveno područje:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.majorScientificField.name}" />
							
						<h:outputText value="Znanstveno polje:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.scientificField.name}" />
							
						<h:outputText value="Web link:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.poveznicaMreza}" />
							
						<h:outputText value="Trajanje:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.duration}" />
					</h:panelGrid>

				</p:tab>
				
				<p:tab title="Pregled razdoblja" closable="false" rendered="#{sessionBean.hasRoles(fn:split('PRK', ','))}">
				
					<h:form id="periodsDTForm">
						<p:dataTable id="periodsDT" var="period"
							value="#{reportingPeriodsView.reportingPeriods}"
							rowKey="#{period.id}">
							
							<f:facet name="footer">
								<p:commandButton value="Novo razdoblje" icon="ui-icon-plus"
									onclick="PF('singleDialog_new_raz').show();"
									disabled="#{ sessionBean.currentProject == null ? true : false}" />
							</f:facet>

							<p:column escape="false" headerText="Opcije"
								style="width:4em; align:center;">

								<p:commandButton value="Edit" class="ikona-edit"
									oncomplete="PF('singleDialog_edit').show()"
									update="edit_dialog">
									<f:setPropertyActionListener value="#{period}"
										target="#{reportingPeriodsViewEdit.currentRow}" />
								</p:commandButton>

							</p:column>

							<p:column headerText="Datum od" sortBy="" style="width:5em">
								<h:outputText value="#{period.dateFrom}" style="align:center">
									<f:convertDateTime pattern="dd.MM.yyyy" />
								</h:outputText>
							</p:column>

							<p:column headerText="Datum do" sortBy="" style="width:5em">
								<h:outputText value="#{period.dateTo}" style="align:center">
									<f:convertDateTime pattern="dd.MM.yyyy" />
								</h:outputText>
							</p:column>
							
						</p:dataTable>
					</h:form>
				</p:tab>
			
			</p:accordionPanel>
			<br />
			
			<h:form>
				<p:commandButton value="Arhiva" style="padding:8px;"
					id="arhiva" rendered="#{sessionBean.hasRoles(fn:split('PRK', ','))}"
					action="#{popisEvidencijaView.goToArhiva()}">
				</p:commandButton>
			</h:form>
			<br />
			
			<p:accordionPanel multiple="true" activeIndex="0,1,2" id="acc33">
				
				<p:tab title="Sažetak projekta" closable="true">
					<h:panelGrid columns="1" cellpadding="2">
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.summaryHR}" />
					</h:panelGrid>

				</p:tab>
			
			</p:accordionPanel>
		</p:layoutUnit>
		
		<p:layoutUnit position="center" styleClass="preg-razd-column-1-wrapper">
		
			<h:form id="statusiDTFormPrk" styleClass="statusi-dt-form-prk">
				<c:forEach items="#{menuController.rpTreeList}" var="periodTree">
				
					<p:treeTable value="#{periodTree.tree}" var="document" 
						styleClass="pr-izvj-1-wrapper" selectionMode="single" selection="#{popisEvidencijaView.selectedNode}">
				        <f:facet name="header">
				        	<h:commandButton value="#{periodTree.period.isFinal == 'N' ? 'RAZDOBLJE IZVJEŠĆIVANJA '.concat(periodTree.period.ordinalNumber) : 'ZAVRŠNO RAZDOBLJE'}" ajax="true" action="#{reportingPeriodsView.postaviAll()}" 
								update="popisEvidencijaDTFormPrk dokumentiForm rezultatiEvalautoriForm evaluacijskoIzvjesceForm rezultatiVrednovanjaForm sukobInteresaForm"
								oncomplete="dodajBijeleIkonePRK()" styleClass="PF-CANCEL-button">
								<f:setPropertyActionListener value="#{periodTree.period}"
									target="#{sessionBean.currentReportingPeriod}" />
				            </h:commandButton>
				        </f:facet>
				        
				        <p:ajax event="select" listener="#{popisEvidencijaView.onNodeSelect}" />
				        
				        <p:column headerText="Ikona">
			            	<h:outputText styleClass="#{document.cssClass} ikona-status-per-izvj-strctr" />
				        </p:column>
						<p:column headerText="Name">
			            	<h:outputText value="#{document.name}" />
				        </p:column>
				        <p:column headerText="Size">
				            <h:outputText value="#{document.size}" />
				        </p:column>
				        <p:column headerText="Type">
				            <h:outputText value="#{document.type}" />
				        </p:column>
				        
				    </p:treeTable>
				    
			    </c:forEach>
		    </h:form>
		
<!-- 		REDIZAJN POSTOJEĆEG RIJEŠENJA -->

			<h:form>
			
				<p:accordionPanel rendered="#{sessionBean.hasRoles(fn:split('PRK', ','))}">
				
					<p:tab title="Akcije programskog koordinatora">
						<p:panelGrid>
							<p:commandButton value="Potvrdi evidencije" rendered="#{reportingPeriodsView.prikazAkcijaPrka('VOD')}"
								oncomplete="PF('prkAkcijaDialogWidget').show()"
								update="prkAkcijaDialog">
								<f:setPropertyActionListener value="VOD"
									target="#{reportingPeriodsView.akcijaPrka}" />
							</p:commandButton>
							
							<p:commandButton value="Potvrdi vrednovanje" rendered="#{reportingPeriodsView.prikazAkcijaPrka('EVL')}"
								oncomplete="PF('prkAkcijaDialogWidget').show()"
								update="prkAkcijaDialog">
								<f:setPropertyActionListener value="EVL"
									target="#{reportingPeriodsView.akcijaPrka}" />
							</p:commandButton>
							
							<p:commandButton value="Potvrdi vrednovanje Odbora za vrednovanje" rendered="#{reportingPeriodsView.prikazAkcijaPrka('COV')}"
								oncomplete="PF('prkAkcijaDialogWidget').show()"
								update="prkAkcijaDialog">
								<f:setPropertyActionListener value="COV"
									target="#{reportingPeriodsView.akcijaPrka}" />
							</p:commandButton>
							
							<p:commandButton value="Potvrdi vrednovanje Upravnog odbora" rendered="#{reportingPeriodsView.prikazAkcijaPrka('CUO')}"
								oncomplete="PF('prkAkcijaDialogWidget').show()"
								update="prkAkcijaDialog">
								<f:setPropertyActionListener value="CUO"
									target="#{reportingPeriodsView.akcijaPrka}" />
							</p:commandButton>
							
<!-- 							<h:commandButton value="Potvrdi razdoblje" action="" /> -->
						</p:panelGrid>
					</p:tab>
				
				</p:accordionPanel>
			
			</h:form>
			
			<h:form id="popisEvidencijaDTFormPrk">
			
				<p:accordionPanel id="evidencijeContent1" activeIndex="">
				
					<p:tab title="Popis evidencija">
		
						<p:dataTable id="popisEvidencijaDTPrk" tableStyleClass="popis-evidencija-DT-prk-wrapper"
							value="#{popisEvidencijaView.evidencijeList}" var="evidencija" type="ordered"
							rowKey="#{evidencija.nazivXhtml}" selectionMode="single"
							selection="#{popisEvidencijaView.selectedEvidencija}"
							rowIndexVar="rowIndex" rowStyleClass="#{rowIndex >= 4 ? '' : 'evRequiredRowBgColor'}">
		
							<p:ajax event="rowSelect"
								listener="#{popisEvidencijaView.navigaj()}">
								<f:setPropertyActionListener value="#{evidencija}"
									target="#{popisEvidencijaView.selectedEvidencija}" />
							</p:ajax>
		
							<p:column escape="false" headerText="Tablica" style="width:5em">
								<h:outputText escape="false" value="#{evidencija.title}" />
							</p:column>
		
							<p:column escape="false" headerText="Opis" style="width:16em">
								<h:outputText escape="false" value="#{evidencija.opis}" />
							</p:column>
		
							<p:column escape="false" headerText="Status" style="width:4em"
								rendered="#{sessionBean.hasRoles(fn:split('PRK', ',')) or sessionBean.hasRoles(fn:split('VOD', ','))}" styleClass="ikona-status-wrapper">
								<p:commandButton value=""
									styleClass="#{evidencija.statusEvidencija.ikona}">
								</p:commandButton>
							</p:column>
		
							<p:column escape="false" headerText="Opcije" style="width:4em"
								rendered="#{preventAction.isRendered('PRK')}" styleClass="button-prk-wrapper">
								<p:commandButton value="PRK"
									oncomplete="PF('prkPEDialogWidget').show()"
									update="prkPEDialog"
									styleClass="#{popisEvidencijaView.postaviIkonuOpcija(evidencija)}">
									
									<f:setPropertyActionListener value="#{evidencija}"
										target="#{popisEvidencijaView.selectedEvidencija}" />
								</p:commandButton>
							</p:column>
							
							<f:facet name="footer">
								<p:commandButton ajax="false"
									rendered="#{sessionBean.hasRoles(fn:split('PRK', ',')) or (sessionBean.hasRoles(fn:split('VOD', ',')) and (item.status == '3'))}"
									value="Opisno izvješće" style="width:22%" id="opisnoIzvjesce"
									action="#{menuController.menuAction('narativno_izvjesce',1)}">
								</p:commandButton>
		
							</f:facet>
		
						</p:dataTable>
					
					</p:tab>
					
				</p:accordionPanel>
				
			</h:form>
			
			
			<h:form id="dokumentiForm">
			
				<p:accordionPanel id="dokumentiContent" activeIndex="">
					
					<p:tab title="Dokumenti">
					
						<p:panelGrid columns="1" activeIndex="" styleClass="harmonik-table-layout">
						
								<p:panel id="uploadFileovaPanel">
							
									<f:facet name="header">
										Uploadana izvješća
							     	</f:facet>
									
									<h:panelGrid columns="2" cellpadding="3">
									
										<p:dataList 
											value="#{popisEvidencijaView.narativnoIzvjesce.evNiFiles}"
											var="tempFile" type="ordered"
											styleClass="">
											
											<h:outputText value="#{tempFile.fileName}" />
											<p:commandLink styleClass="down-link" ajax="false"
												onclick="PrimeFaces.monitorDownload(start, stop);">
												<p:fileDownload
													value="#{tempFile.streamedContent}" />
												<i class="fa fa-download"></i>
											</p:commandLink>
											
										</p:dataList>
									
									</h:panelGrid>
									
								</p:panel>
			
						</p:panelGrid>
						
					</p:tab>
					
				</p:accordionPanel>
				
			</h:form>
			
			<h:form id="rezultatiEvalautoriForm" rendered="#{sessionBean.hasRoles(fn:split('PRK', ','))}">
			
				<p:accordionPanel id="rezultatiEvalautoriContent" activeIndex="">
					
					<p:tab title="Rezultati evaluacije i evaluatori">
					
						<p:panelGrid columns="2" style="width:100%;">
						
								<p:panel id="rezultatiEvaluacijePanel">
							
									<f:facet name="header">
										Rezultati evaluacije
							     	</f:facet>
									
									<h:panelGrid columns="2" cellpadding="3">
									
										<ui:include src="rezultatiEvaluacije.xhtml"></ui:include>
									
									</h:panelGrid>
									
								</p:panel>
			
								<p:panel id="ispisEvaluatoraPanel" header="Novi evaluator">
									
						     		<f:facet name="header">
						     			Evaluatori
										<p:commandButton value="Novi" oncomplete="PF('evaluatoriDialogWidget').show();#{evaluatorView.clean()}"
											update="evaluatoriDialog" styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"/>
									</f:facet>
									<!-- ISPIS EVALUATORA -->
									<p:dataTable value="#{popisEvidencijaView.evaluatorList}" id="tablica_eval"
										var="tempEvaluator" type="ordered" rowKey="#{tempEvaluator.id}"
										styleClass="ispis-evaluatora" >
										
										<p:column headerText="Ime prezime" sortBy="#{tempEvaluator.prezime}" style="width:4em">
											<h:outputText value="#{tempEvaluator.ime} #{tempEvaluator.prezime}" />
										</p:column>
										
										<p:column headerText="Status" sortBy="#{tempEvaluator.status.id}" style="width:2em;text-align:center">
											<h:outputText styleClass="#{tempEvaluator.status.ikona} ikona-akcije-structr"/>
										</p:column>
										
										<p:column headerText="Akcije"  styleClass="akcije-wrapper" style="width:4em;">
											<p:commandButton value="Send" id="evlSend"
												action="#{evaluatorView.evlSend()}"
												styleClass="ikona-send" update="rezultatiEvalautoriForm">
												<f:setPropertyActionListener value="#{tempEvaluator}"
																target="#{evaluatorView.evaluator}" />
											</p:commandButton>
											<p:commandButton value="Resend" id="evlResend"
												action="#{evaluatorView.evlResend()}"
												styleClass="ikona-resend" update="rezultatiEvalautoriForm">
												<f:setPropertyActionListener value="#{tempEvaluator}"
																target="#{evaluatorView.evaluator}" />
											</p:commandButton>
											<p:commandButton value="Confirm" id="evlConfirm"
												action="#{evaluatorView.evlConfirm()}"
												styleClass="ikona-confirm" update="rezultatiEvalautoriForm statusiDTFormPrk">
												<f:setPropertyActionListener value="#{tempEvaluator}"
																target="#{evaluatorView.evaluator}" />
											</p:commandButton>
											<p:commandButton value="Refuse" id="evlRefuse"
												action="#{evaluatorView.evlRefuse()}"
												styleClass="ikona-refuse" update="rezultatiEvalautoriForm">
												<f:setPropertyActionListener value="#{tempEvaluator}"
																target="#{evaluatorView.evaluator}" />
											</p:commandButton>
									</p:column>
										
									</p:dataTable>
									
								</p:panel>
								
						</p:panelGrid>
						
					</p:tab>
					
				</p:accordionPanel>
				
			</h:form>
			
			<h:form id="sukobInteresaForm" rendered="#{!sessionBean.hasRoles(fn:split('EVL', ','))}">
			
				<p:accordionPanel id="sukobInteresaContent" activeIndex="">
					
					<p:tab title="Obrazac o sukobu interesa">
					
						<p:panelGrid columns="1" style="width:100%;">
						
								<p:panel id="sukobInteresaPanel">
							
									<h:panelGrid columns="1" cellpadding="3" styleClass="sukob-interesa-wrapper">
									
										<ui:include src="sukobInteresa.xhtml"></ui:include>
									
									</h:panelGrid>
									
								</p:panel>
			
						</p:panelGrid>
						
					</p:tab>
					
				</p:accordionPanel>
				
			</h:form>
			
			<h:form id="rezultatiVrednovanjaForm" rendered="#{!sessionBean.hasRoles(fn:split('EVL', ','))}">
			
				<p:accordionPanel id="rezultatiVrednovanjaContent" activeIndex="">
					
					<p:tab title="Rezultati vrednovanja">
					
						<p:panelGrid columns="1" style="width:100%;">
						
								<p:panel id="rezultatiVrednovanjaPanel">
							
									<h:panelGrid columns="1" cellpadding="3">
									
										<ui:include src="rezultatiVrednovanja.xhtml"></ui:include>
									
									</h:panelGrid>
									
								</p:panel>
			
						</p:panelGrid>
						
					</p:tab>
					
				</p:accordionPanel>
				
			</h:form>
			
			<h:form id="evaluacijskoIzvjesceForm">
			
				<p:accordionPanel id="evaluacijskoIzvjesceContent" activeIndex="">
					
					<p:tab title="Evaluacijsko izvješće">
					
						<p:panelGrid columns="1" style="width:100%;">
						
								<p:panel id="evaluacijskoIzvjescePanel">
							
									<h:panelGrid columns="1" cellpadding="3" styleClass="eval-izvj-wrapper">
									
										<ui:include src="obrazacEvaluacije.xhtml"></ui:include>
									
									</h:panelGrid>
									
								</p:panel>
			
						</p:panelGrid>
						
					</p:tab>
					
				</p:accordionPanel>
				
			</h:form>
			
<!-- 		END OF - REDIZAJN POSTOJEĆEG RIJEŠENJA -->

			<p:accordionPanel multiple="true"
				activeIndex="#{popisEvidencijaView.activeIndex}"
				id="evidencijeContent"></p:accordionPanel>

		</p:layoutUnit>
	
	</p:layout>
	
	
	<!-- POPIS DIALOGA -->
	<p:dialog id="evaluatoriDialog" header="Unos evaluatora"
		widgetVar="evaluatoriDialogWidget" resizable="false"
		showEffect="fade" hideEffect="explode" closeOnEscape="true"
		closable="true" rendered="true">

		<h:form>
			<p:panel id="new_panel1">

				<p:messages id="msgsNew" showDetail="true" />

				<h:panelGrid id="displaynew" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel value="Ime:" for="ime" />
					<p:inputText id="ime"
						value="#{evaluatorView.evaluator.ime}" required="true" />

					<p:outputLabel value="Prezime:" for="prezime" />
					<p:inputText id="prezime"
						value="#{evaluatorView.evaluator.prezime}" required="true" />

					<p:outputLabel value="E-mail" for="email" />
					<p:inputText id="email"
						value="#{evaluatorView.evaluator.email}" required="true" />

					<p:message for="msgsNew" display="icon" />

				</h:panelGrid>
			</p:panel>

			<div align="center">
				<p:commandButton disabled="" value="Spremi" style="width:30%"
					action="#{evaluatorView.insertIntoEvaluator()}"
					oncomplete="setMsgfadeOut('msgsNew')" update="new_panel1 acc"
					class="bttn-dialog-save"/>
				<p:commandButton value="Odustani" style="width:30%"
					onclick="evaluatoriDialogWidget.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>
	
	<p:dialog id="prkAkcijaDialog" header="Potvrda akcije" rendered="true"
		widgetVar="prkAkcijaDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkAkcijaForm">
			<p:panel id="prkAkcijaPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkAkcijaPanelGrid" columns="2" cellpadding="4" border="0">
					#{reportingPeriodsView.naslovAkcijaPrk}
				</h:panelGrid>
			</p:panel>
			<div align="center">
				<br />
				<p:commandButton value="Da" style="width:30%" action="#{reportingPeriodsView.izvrsiAkcijuPRKDa()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="statusiDTFormPrk" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"  />
				<p:commandButton value="Ne" style="width:30%" action="#{reportingPeriodsView.izvrsiAkcijuPRKNe()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="statusiDTFormPrk" styleClass="ui-confirmdialog-no" icon="ui-icon-close"  />
			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="prkPEDialog" header="Unošenje statusa" rendered="true"
		widgetVar="prkPEDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkPEForm">

			<p:panel id="prkPEPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkPEPanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" rendered="#{sessionBean.hasRoles(fn:split('PRK', ','))}" />
					<p:selectOneRadio id="status" rendered="#{sessionBean.hasRoles(fn:split('PRK', ','))}" 
						value="#{popisEvidencijaView.selectedEvidencija.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>

				<p:inputTextarea rows="3" cols="50"
					value="#{popisEvidencijaView.selectedEvidencija.komentarPrk}"
					placeholder="Komentari" />

			</p:panel>
			<div align="center">
				<br />
				<p:commandButton value="Spremi" style="width:30%"
					rendered="#{sessionBean.hasRoles(fn:split('PRK', ','))}"
					action="#{popisEvidencijaView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');" update="prkPEForm"
					class="bttn-dialog-save" />
			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="new_dialog_raz" header="Novo razdoblje"
		widgetVar="singleDialog_new_raz" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">
		
		<h:form>
			<p:panel id="new_panel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="displaynew" columns="3" cellpadding="4" border="0">
					
					<p:outputLabel value="Tip razdoblja:" for="tipRazdoblja" />
					<p:selectOneMenu id="tipRazdoblja"
						value="#{reportingPeriodsView.lovObjectTipRazdoblja}"
						effect="fade" var="t" required="true"
						filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('reporting_periods','tip')}"
							var="lovObjectTipRazdoblja"
							itemLabel="#{lovObjectTipRazdoblja.description}"
							itemValue="#{lovObjectTipRazdoblja}" />
					<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="tipRazdoblja" display="icon" />
					
					<p:outputLabel value="Datum od:" for="dFrom" />
					<p:calendar id="dFrom" value="#{reportingPeriodsView.dateFrom}"
						pattern="dd.MM.yyyy" mask="true" required="true" />
					<p:message for="dFrom" display="icon" />
					<p:outputLabel value="Datum do:" for="dTo" />
					<p:calendar id="dTo" value="#{reportingPeriodsView.dateTo}"
						pattern="dd.MM.yyyy" mask="true" required="true" />
					<p:message for="dTo" display="icon" />
					<p:outputLabel value="Odobrena sredstva:" for="aRes" />
					<pe:inputNumber id="aRes"
						value="#{reportingPeriodsView.approvedResources}"
						symbolPosition="s" decimalSeparator="," thousandSeparator="."
						required="true" />
					<p:message for="aRes" display="icon" />
					<p:message for="aRes" display="icon" />
					
					
				</h:panelGrid>
			</p:panel>
			<div align="center">
				<p:commandButton value="Spremi" style="width:30%"
					action="#{reportingPeriodsView.insert()}"
					oncomplete="setMsgfadeOut('msgsNew')"
					update="new_panel acc evidencijeContent" class="bttn-dialog-save" />
				<p:commandButton value="Odustani" style="width:30%"
					onclick="singleDialog_new_raz.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="edit_dialog" header="Promjena razdoblja"
		widgetVar="singleDialog_edit" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form>
			<p:panel id="edit_panel">
				<p:messages id="msgsView" showDetail="true" />
				<h:panelGrid columns="2" cellpadding="3">

					<p:outputLabel value="Tip razdoblja:" for="tipRazdoblja" />
					<p:selectOneMenu id="tipRazdoblja"
						value="#{reportingPeriodsViewEdit.lovObjectTipRazdoblja}"
						effect="fade" var="t" filterMatchMode="startsWith" required="true"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('reporting_periods','tip')}"
							var="lovObjectTipRazdoblja"
							itemLabel="#{lovObjectTipRazdoblja.description}"
							itemValue="#{lovObjectTipRazdoblja}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>

					<p:outputLabel value="Datum od:" for="deFrom" />
					<p:calendar id="deFrom" value="#{reportingPeriodsViewEdit.dateFrom}" pattern="dd.MM.yyyy"
						mask="true" required="true" />
<!-- 					<p:message for="deFrom" display="icon" /> -->
					
					<p:outputLabel value="Datum do:" for="deTo" />
					<p:calendar id="deTo" value="#{reportingPeriodsViewEdit.dateTo}"
						pattern="dd.MM.yyyy" mask="true" required="true" />
<!-- 					<p:message for="deTo" display="icon" /> -->
					
					<p:outputLabel value="Odobrena sredstva:" for="aeRes" />
					<pe:inputNumber id="aeRes"
						value="#{reportingPeriodsViewEdit.approvedResources}"
						symbolPosition="s" decimalSeparator="," thousandSeparator="." />
<!-- 					<p:message for="aeRes" display="icon" /> -->
					
					<p:outputLabel value="Ukupna sredstva:" for="ukupnaSredstva" />
					<pe:inputNumber id="ukupnaSredstva"
						value="#{reportingPeriodsViewEdit.ukupnaSredstva}"
						symbolPosition="s" decimalSeparator="," thousandSeparator="." />
<!-- 					<p:message for="ukupnaSredstva" display="icon" /> -->
						
					<p:outputLabel value="Neutrošeno (ukupno):" for="neutroseno" />
					<pe:inputNumber id="neutroseno"
						value="#{reportingPeriodsViewEdit.neutroseno}"
						symbolPosition="s" decimalSeparator="," thousandSeparator="." />
<!-- 					<p:message for="neutroseno" display="icon" /> -->
						
					<p:outputLabel value="Nenamjenski utrošeno:" for="nenamjenskiUtros" />
					<pe:inputNumber id="nenamjenskiUtros"
						value="#{reportingPeriodsViewEdit.nenamjenskiUtroseno}"
						symbolPosition="s" decimalSeparator="," thousandSeparator="." />
<!-- 					<p:message for="nenamjenskiUtros" display="icon" /> -->
					
				</h:panelGrid>
				
				<div align="center">
					<br /> <br />
					<p:commandButton value="Spremi" style="width:30%"
						action="#{reportingPeriodsViewEdit.update()}"
						oncomplete="setMsgfadeOut('msgsView')"
						update="edit_panel acc evidencijeContent" class="bttn-dialog-save" />
					<p:commandButton value="Odustani" style="width:30%"
						onclick="singleDialog_edit.hide();" immediate="true"
						class="bttn-dialog-cancel" partialSubmit="true" />
				</div>
			</p:panel>
		</h:form>
	</p:dialog>
	
	<script type="text/javascript">
		$(document).ready(function() {
			dodajBijeleIkonePRK();
			
			// Defaultna je sirina parenta
			$('.eval-izvj-wrapper').find('*').addClass('eval-izvj-sadrzaj');
			// Fixanje sirina childova
			var evalIzvjContent = $('.eval-izvj-wrapper tbody tr:last-child td *');
			var vredPerIzvjLabel = evalIzvjContent.eq(3).find('tr td:even').addClass('vred-per-izvj-label');
			var vredPerIzvjInput = evalIzvjContent.eq(3).find('tr td:odd').addClass('vred-per-izvj-input'); 
			var zavrOcjena = evalIzvjContent.eq(297).find('tr td:even').addClass('zavr-ocjena-chkbox');
			var primjenProjekt = evalIzvjContent.eq(334).find('tr td:even').addClass('primjen-projekt-chkbox');
			var biljeskaAnalLabel = evalIzvjContent.eq(539).find('tr td:even').addClass('biljeska-anal-label');
			var biljeskaAnalInput = evalIzvjContent.eq(539).find('tr td:odd').addClass('biljeska-anal-input');
			
			// Svi childovi bez bordera
			$('.sukob-interesa-wrapper').find('*').addClass('no-border')
		})
		
		// Dodavanje bijelih ikona PRK i statusa PRK za iskljucivo crvene redove tablice evidencije
		function dodajBijeleIkonePRK() {
			if($('.popis-evidencija-DT-prk-wrapper tbody tr').length == 15) { 				
				$('.evRequiredRowBgColor > td').find('.button-prk, .button-evl').each(function() {		
					if($(this).hasClass('ikona-prk')) {
						
						$(this).removeClass('ikona-prk');							
						$(this).addClass('ikona-prk-bijela');
						
					} else if($(this).hasClass('ikona-kvacica')) {
						
						$(this).removeClass('ikona-kvacica');							
						$(this).addClass('ikona-kvacica-bijela');
						
					} else if($(this).hasClass('ikona-usklicnik')) {
						
						$(this).removeClass('ikona-usklicnik');							
						$(this).addClass('ikona-usklicnik-bijela');
						
					} else if($(this).hasClass('ikona-upitnik')) {
						
						$(this).removeClass('ikona-upitnik');							
						$(this).addClass('ikona-upitnik-bijela');
						
					} else if($(this).hasClass('ikona-minus')) {
						
						$(this).removeClass('ikona-minus');							
						$(this).addClass('ikona-minus-bijela');
						
					} else if($(this).hasClass('ikona-oblak-crna')) {
						
						$(this).removeClass('ikona-oblak-crna');							
						$(this).addClass('ikona-oblak-bijela');
						
					}
				})
			}
		}
		
		//
		$('.pr-izvj-1-wrapper > div').addClass('PFCOPY-button')
	</script>

</ui:composition>
