<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<!--  
	<h1>Evidencije</h1>
	<p:separator style="height:8px" />
	-->

	<p:growl autoUpdate="true" id="globalMsgs" showDetail="true"
		widgetVar="globalMsgsWidget" life="5000" />
	<p:layout>
		
		<p:layoutUnit position="west" size="300" minSize="300" maxSize="300"
			scrollable="true" styleClass=""
			rendered="#{sessionBean.hasRoles(fn:split('PRK', ','))}">

			<p:accordionPanel multiple="true" activeIndex="0,1" id="acc">
				<p:tab title="Pregled podataka o projektu" closable="false">

					<h:panelGrid columns="2" cellpadding="3">
						<h:outputText value="Šifra:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.code}" />

						<h:outputText value="Vrsta:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.tenderType.code}" />

						<h:outputText value="Rok:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.tenderDeadline}" />

						<h:outputText value="Voditelj:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.leader.userData.name} #{sessionBean.currentProject.leader.userData.surname}" />

						<h:outputText value="Tel:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.leader.userData.phoneNumber}" />

						<h:outputText value="E-mail:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.leader.userData.email}" />
						<h:outputText value="Naziv:" />
						<h:outputText escape="false"
							value="#{sessionBean.currentProject.name}" />
					</h:panelGrid>

				</p:tab>
				<p:tab title="Pregled razdoblja" closable="false">
					<h:form id="periodsDTForm">
						<p:dataTable id="periodsDT" var="period"
							value="#{reportingPeriodsView.reportingPeriods}"
							rowKey="#{period.id}"
							emptyMessage="Za odabrani projekt ne postoji razdoblje"
							selectionMode="single"
							selection="#{sessionBean.currentReportingPeriod}">

							<p:ajax event="rowSelect" listener="#{menuController.redirect}"
								update="evidencijeContent">
							</p:ajax>


							<p:column escape="false" headerText="Opcije"
								style="width:4em; align:center;">

								<p:commandButton value="Edit" class="ikona-edit"
									oncomplete="PF('singleDialog_edit').show()"
									update="edit_dialog">
									<f:setPropertyActionListener value="#{period}"
										target="#{reportingPeriodsViewEdit.currentRow}" />
								</p:commandButton>


							</p:column>

							<f:facet name="footer">
								<p:commandButton value="Novo razdoblje" icon="ui-icon-plus"
									onclick="PF('singleDialog_new_raz').show();"
									disabled="#{ sessionBean.currentProject == null ? true : false}" />
							</f:facet>

							<p:column headerText="Datum od" sortBy="" style="width:5em">
								<h:outputText value="#{period.dateFrom}" style="align:center">
									<f:convertDateTime pattern="dd.MM.yyyy" />
								</h:outputText>
							</p:column>

							<p:column headerText="Datum do" sortBy="" style="width:5em">
								<h:outputText value="#{period.dateTo}" style="align:center">
									<f:convertDateTime pattern="dd.MM.yyyy" />
								</h:outputText>
							</p:column>

						</p:dataTable>
					</h:form>
				</p:tab>
			</p:accordionPanel>
			<br />
			<br />

			<h:form>
<!-- 				<p:commandButton value="Evaluator izvješće" style="padding:8px;" -->
<!-- 					id="evaluatorIzvješće" -->
<!-- 					action="#{menuController.menuAction('obrazacEvaluacije',1)}"> -->
<!-- 				</p:commandButton> -->
			</h:form>
			
<!-- 			<ui:include src="test.xhtml"></ui:include> -->

			<!-- DIALOG ZA UNOŠENJE EVALUATORA -->
<!-- 			<h:form> -->
<!-- 				<p:commandButton value="Unesi evaluatore" icon="ui-icon-plus" -->
<!-- 					style="padding:5px;" -->
<!-- 					oncomplete="PF('evaluatoriDialogWidget').show()" -->
<!-- 					update="evaluatoriDialog" /> -->
<!-- 				<br/> -->
<!-- 				<br/> -->
<!-- 				<br/> -->
<!-- 			</h:form> -->

			<h:form>
				<p:commandButton value="Arhiva" style="padding:8px;"
					id="arhiva"
					action="#{popisEvidencijaView.goToArhiva()}">
				</p:commandButton>
			</h:form>

		</p:layoutUnit>

		<p:layoutUnit position="center" styleClass="">
		
			<h:form id="statusiDTFormPrk">
				<p:treeTable value="#{reportingPeriodsView.periodIzvjescivanja1}" var="document" 
					styleClass="pr-izvj-1-wrapper">
			        <f:facet name="header">
			            PERIOD IZVJEŠĆIVANJA 1
			        </f:facet>
			        <p:column headerText="Name" styleClass="ikona-neaktivno-pr-izvj">
			            <h:outputText value="#{document.name}"/>
	<!-- 			            <h:outputText style="#{node.name == 'NEW NODE' ? 'background-color: yellow;' : 'background-color: none;'}" value="#{node}" /> -->
			        </p:column>
			        <p:column headerText="Size">
			            <h:outputText value="#{document.size}" />
			        </p:column>
			        <p:column headerText="Type">
			            <h:outputText value="#{document.type}" />
			        </p:column>
			    </p:treeTable>
		    </h:form>
		    
			<p:accordionPanel multiple="true"
				activeIndex="#{popisEvidencijaView.activeIndex}"
				id="evidencijeContent">
				
				<p:tab title="Pregled podataka o projektu" closable="false"
					rendered="#{!sessionBean.hasRoles(fn:split('PRK', ','))}">

					<h:panelGrid columns="12" cellpadding="8">
						<h:outputText value="Šifra:" />
						<h:outputText escape="false" style="font-weight: bold;"
							value="#{sessionBean.currentProject.code}" />

						<h:outputText value="Vrsta:" />
						<h:outputText escape="false" style="font-weight: bold;"
							value="#{sessionBean.currentProject.tenderType.code}" />

						<h:outputText value="Rok:" />
						<h:outputText escape="false" style="font-weight: bold;"
							value="#{sessionBean.currentProject.tenderDeadline}" />

						<h:outputText value="Voditelj:" />
						<h:outputText escape="false" style="font-weight: bold;"
							value="#{sessionBean.currentProject.leader.userData.name} #{sessionBean.currentProject.leader.userData.surname}" />

						<h:outputText value="Tel:" />
						<h:outputText escape="false" style="font-weight: bold;"
							value="#{sessionBean.currentProject.leader.userData.phoneNumber}" />

						<h:outputText value="E-mail:" />
						<h:outputText escape="false" style="font-weight: bold;"
							value="#{sessionBean.currentProject.leader.userData.email}" />
					</h:panelGrid>

					<h:panelGrid columns="2" cellpadding="8">
						<h:outputText value="Naziv:" />
						<h:outputText escape="false" style="font-weight: bold;"
							value="#{sessionBean.currentProject.name}" />

					</h:panelGrid>

				</p:tab>

				<p:tab title="EVIDENCIJE opcije" closable="false"
					rendered="#{!sessionBean.hasRoles(fn:split('PRK', ','))}">

					<h:form id="rpStatus">

						<p:confirmDialog global="true" showEffect="fade"
							hideEffect="explode">

							<div align="center">

								<p:commandButton value="Da" type="button"
									styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
								<p:commandButton value="Ne" type="button"
									styleClass="ui-confirmdialog-no" icon="ui-icon-close" />

							</div>
						</p:confirmDialog>

						<p:panel id="operations" style="">

							<p:commandButton value="1. Zatvori razdoblje" style="width:20%"
								id="closePeriod" action="#{reportingPeriodsView.close()}"
								update="operations" class="bttn-dialog-save"
								disabled="#{ preventAction.disableZatvoriRazdoblje }">

								<p:confirm header="Razdoblje"
									message="Navedenom opcijom zaključat će se sve stavke/redovi za sve evidencije za trenutno izvještajno razdoblje"
									icon="ui-icon-alert" />

							</p:commandButton>

							<p:commandButton ajax="false"
								disabled="#{ sessionBean.currentReportingPeriod.status == '1' ? true : false }"
								value="2. Opisno izvješće" style="width:22%" id="nar_izvj"
								action="#{menuController.menuAction('narativno_izvjesce',1)}">
							</p:commandButton>

							<p:commandButton ajax="false"
								disabled="#{ sessionBean.currentReportingPeriod.status == '1' ? true : false }"
								value="3. Upload izvješća" style="width:20%" id="uploadIzvjesca"
								action="#{menuController.menuAction('uploadIzvjesca',1)}">
							</p:commandButton>

							<p:commandButton
								disabled="#{ preventAction.disablePosaljiIzvjesca }"
								class="bttn-dialog-save" value="4. Pošalji izvješća"
								style="width:20%" id="posaljiIzvjesca"
								action="#{posaljiIzvjescaView.sendReports}" update="operations">

							<p:confirm header="Pošalji izvješća"  icon="ui-icon-alert"
								message="Odabirom opcije 'Pošalji izvješća' zaključavate unose …za cijelo razdoblje.
  								Više nećete moći mijenjati niti dodavati podatke i dokumente,a izvješće će biti isporučeno na daljnju  
  									 obradu. Želite li nastaviti s radom?"/>     
<!-- 								<p:confirm header="Pošalji izvješća" icon="ui-icon-alert" -->
<!-- 									message="#{popisEvidencijaView.msg}" /> -->
							</p:commandButton>

						</p:panel>

					</h:form>

				</p:tab>

				<p:tab
					title="Pregled evidencija za razdoblje: #{sessionBean.rpDateFromFormat} - #{sessionBean.rpDateToFormat}"
					rendered="#{!sessionBean.hasRoles(fn:split('PRK', ',')) and !sessionBean.hasRoles(fn:split('VOD', ','))}">

					<h:form id="popisEvidencijaDTForm">

						<p:dataTable id="popisEvidencijaDT"
							value="#{popisEvidencijaView.evidencije}" var="evidencija"
							type="ordered" rowKey="#{evidencija.nazivXhtml}"
							selectionMode="single"
							selection="#{popisEvidencijaView.evidencijaSelected}"
							rowIndexVar="rowIndex"
							rowStyleClass="#{rowIndex >= 4 ? '' : 'evRequiredRowBgColor'}">

							<p:ajax event="rowSelect"
								listener="#{popisEvidencijaView.navigaj}">
								<f:setPropertyActionListener
									target="#{popisEvidencijaView.evidencijaSelected}"
									value="evidencija" />
							</p:ajax>

							<p:column escape="false" headerText="Tablica" style="width:10em"
								sortBy="#{evidencija.title}">
								<h:outputText escape="false" value="#{evidencija.title}" />
							</p:column>

							<p:column escape="false" headerText="Opis" style="width:10em"
								sortBy="#{evidencija.opis}">
								<h:outputText escape="false" value="#{evidencija.opis}" />
							</p:column>
							
							<p:column escape="false" headerText="Opcije" style="width:10em" styleClass="button-prk-wrapper">
								<p:commandButton value="PRK"
									oncomplete="PF('prkPEDialogWidget').show()"
									update="prkPEDialog" styleClass="ikona-prk button-prk">
									<f:setPropertyActionListener value="#{evidencija}"
										target="#{popisEvidencijaView.selectedEvidencija}" />
									<f:setPropertyActionListener value="#{item}"
										target="#{popisEvidencijaView.selectedReportingPeriod}" />
								</p:commandButton>
							</p:column>
						</p:dataTable>
					</h:form>

				</p:tab>

				<c:forEach items="#{reportingPeriodsView.reportingPeriods}"
					var="item">
					<p:tab
						rendered="#{sessionBean.hasRoles(fn:split('PRK', ',')) or sessionBean.hasRoles(fn:split('VOD', ','))}"
						title="Pregled evidencija za razdoblje:  #{reportingPeriodsView.conv2UtilDate(item.dateFrom)} - #{reportingPeriodsView.conv2UtilDate(item.dateTo)}">

						<h:form id="popisEvidencijaDTFormPrk">

							<p:dataTable id="popisEvidencijaDTPrk" tableStyleClass="popis-evidencija-DT-prk-wrapper"
								value="#{item.evidencijaList}" var="evidencija" type="ordered"
								rowKey="#{evidencija.nazivXhtml}" selectionMode="single"
								selection="#{popisEvidencijaView.evidencijaSelected}"
								rowIndexVar="rowIndex"
								rowStyleClass="#{rowIndex >= 4 ? '' : 'evRequiredRowBgColor'}">

								<p:ajax event="rowSelect"
									listener="#{popisEvidencijaView.navigaj(item.id)}">
									<f:setPropertyActionListener
										target="#{popisEvidencijaView.evidencijaSelected}"
										value="evidencija" />
								</p:ajax>

								<p:column escape="false" headerText="Tablica" style="width:10em">
									<h:outputText escape="false" value="#{evidencija.title}" />
								</p:column>

								<p:column escape="false" headerText="Opis" style="width:10em">
									<h:outputText escape="false" value="#{evidencija.opis}" />
								</p:column>

								<p:column escape="false" headerText="Status" style="width:10em"
									rendered="#{sessionBean.hasRoles(fn:split('PRK', ',')) or sessionBean.hasRoles(fn:split('VOD', ','))}" styleClass="ikona-status-wrapper">
									<p:commandButton value=""
										styleClass="#{evidencija.statusEvidencija.ikona}">
									</p:commandButton>
								</p:column>

								<p:column escape="false" headerText="Opcije" style="width:10em"
									rendered="#{preventAction.isRendered('PRK')}" styleClass="button-prk-wrapper">
									<p:commandButton value="PRK"
										oncomplete="PF('prkPEDialogWidget').show()"
										update="prkPEDialog" styleClass="ikona-prk button-prk">
										<f:setPropertyActionListener value="#{evidencija}"
											target="#{popisEvidencijaView.selectedEvidencija}" />
										<f:setPropertyActionListener value="#{item}"
											target="#{popisEvidencijaView.selectedReportingPeriod}" />
									</p:commandButton>
								</p:column>
								
								<f:facet name="footer">
									<p:commandButton ajax="false"
										rendered="#{sessionBean.hasRoles(fn:split('PRK', ',')) or (sessionBean.hasRoles(fn:split('VOD', ',')) and (item.status == '3'))}"
										value="Opisno izvješće" style="width:22%" id="opisnoIzvjesce"
										action="#{popisEvidencijaView.setCurrentReportingPeriodOpisnoIzvj()}">
										<f:setPropertyActionListener
											target="#{popisEvidencijaView.selectedReportingPeriod}"
											value="#{item}" />
										<f:actionListener
											binding="#{menuController.menuAction('narativno_izvjesce',1)}" />
									</p:commandButton>

<!-- 									<p:commandButton ajax="false" -->
<!-- 										rendered="#{sessionBean.hasRoles(fn:split('PRK', ',')) or (sessionBean.hasRoles(fn:split('VOD', ',')) and (item.status == '3'))}" -->
<!-- 										value="Upload izvješća" style="width:22%" id="uploadIzvjesca" -->
<!-- 										action="#{popisEvidencijaView.setCurrentReportingPeriod()}"> -->
<!-- 										<f:setPropertyActionListener -->
<!-- 											target="#{popisEvidencijaView.selectedReportingPeriod}" -->
<!-- 											value="#{item}" /> -->
<!-- 									</p:commandButton> -->
								</f:facet>

							</p:dataTable>
							
							<p:panelGrid columns="2" style="width:100%;">
							
								<p:panel id="uploadFileovaPanel">
								
									<f:facet name="header">
										Uploadana izvješća
							     	</f:facet>
									
									<h:panelGrid columns="2" cellpadding="3">
									
										<p:dataList value="#{item.narativnoIzvjesceList[0].evNiFiles}"
											var="tempFile" type="ordered"
											styleClass="ispis-evaluatora">
											
											<h:outputText value="#{tempFile.fileName}" />
											<p:commandLink styleClass="down-link" ajax="false"
												onclick="PrimeFaces.monitorDownload(start, stop);">
												<p:fileDownload
													value="#{tempFile.streamedContent}" />
												<i class="fa fa-download"></i>
											</p:commandLink>
											
										</p:dataList>
									
									</h:panelGrid>
									
								</p:panel>
								
								<p:panel id="ispisEvaluatoraPanel">
									
									<f:facet name="header">
										Popis evaluatora
								    	<p:commandLink 
											oncomplete="PF('evaluatoriDialogWidget').show()"
											update="evaluatoriDialog" styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default">
								        	<h:outputText styleClass="ui-icon ui-icon-plus" />
								        	<f:setPropertyActionListener value="#{item}"
												target="#{popisEvidencijaView.selectedReportingPeriod}" />
								       	</p:commandLink>
							     	</f:facet>
								
									<!-- ISPIS EVALUATORA -->
									<h:form id="ispisEvaluatora" styleClass="ispis-evaluatora-wrapper" rendered="#{sessionBean.hasRoles(fn:split('PRK', ','))}">
										<p:dataList value="#{item.userRolePeriod}"
											var="tempEvaluator" type="ordered"
											styleClass="ispis-evaluatora">
											
											<h:outputText value="#{tempEvaluator.user.userData.name} #{tempEvaluator.user.userData.surname}" />
										</p:dataList>
									</h:form>
									
								</p:panel>
								
							</p:panelGrid>
							
						</h:form>
					</p:tab>
				</c:forEach>

			</p:accordionPanel>
		</p:layoutUnit>
	</p:layout>
	
	<p:dialog id="evaluatoriDialog" header="Unošenje evaluatore"
		widgetVar="evaluatoriDialogWidget" resizable="false"
		showEffect="fade" hideEffect="explode" closeOnEscape="true"
		closable="true" rendered="true">

		<h:form>
			<p:panel id="new_panel1">

				<p:messages id="msgsNew" showDetail="true" />

				<h:panelGrid id="displaynew" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel value="Ime:" for="ime" />
					<p:inputText id="ime"
						value="#{reportingPeriodsView.evaluator.ime}" required="true" />
<!-- 					<p:inputText id="ime" -->
<!-- 						value="#{reportingPeriodsView.userData.name}" required="true" /> -->

					<p:outputLabel value="Prezime:" for="prezime" />
					<p:inputText id="prezime"
						value="#{reportingPeriodsView.evaluator.prezime}" required="true" />
<!-- 					<p:inputText id="prezime" -->
<!-- 						value="#{reportingPeriodsView.userData.surname}" required="true" /> -->

					<p:outputLabel value="E-mail" for="email" />
					<p:inputText id="email"
						value="#{reportingPeriodsView.evaluator.email}" required="true" />
<!-- 					<p:inputText id="email" -->
<!-- 						value="#{reportingPeriodsView.user.username}" required="true" /> -->

<!-- 					<p:outputLabel value="Password:" for="password" /> -->
<!-- 					<p:inputText id="password" -->
<!-- 						value="#{reportingPeriodsView.user.password}" required="true" /> -->

					<p:message for="msgsNew" display="icon" />

				</h:panelGrid>
			</p:panel>

			<div align="center">
<!-- 				<p:commandButton disabled="" value="Spremi" style="width:30%" -->
<!-- 					action="#{reportingPeriodsView.insertEvaluator()}" -->
<!-- 					oncomplete="setMsgfadeOut('msgsNew')" update="new_panel1 acc" -->
<!-- 					class="bttn-dialog-save"> -->
<!-- 					  </p:commandButton> -->
				<p:commandButton disabled="" value="Spremi" style="width:30%"
					action="#{reportingPeriodsView.insertIntoEvaluator()}"
					oncomplete="setMsgfadeOut('msgsNew')" update="new_panel1 acc"
					class="bttn-dialog-save"/>
				<p:commandButton value="Odustani" style="width:30%"
					onclick="evaluatoriDialogWidget.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>


	<p:dialog id="prkPEDialog" header="Unošenje statusa" rendered="true"
		widgetVar="prkPEDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkPEForm">

			<p:panel id="prkPEPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkPEPanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" rendered="#{!sessionBean.hasRoles(fn:split('EVL', ','))}" />
					<p:selectOneRadio id="status" rendered="#{!sessionBean.hasRoles(fn:split('EVL', ','))}" 
						value="#{popisEvidencijaView.selectedEvidencija.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>

				<p:inputTextarea rows="3" cols="50"
					value="#{popisEvidencijaView.selectedEvidencija.komentarPrk}"
					placeholder="Komentari" />

			</p:panel>
			<div align="center">
				<br />
				<p:commandButton value="Spremi" style="width:30%"
					rendered="#{sessionBean.hasRoles(fn:split('PRK', ','))}"
					action="#{popisEvidencijaView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');" update="prkPEForm"
					class="bttn-dialog-save" />
			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="new_dialog_raz" header="Novo razdoblje"
		widgetVar="singleDialog_new_raz" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">
		
		<h:form>
			<p:panel id="new_panel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="displaynew" columns="3" cellpadding="4" border="0">
					<p:outputLabel value="Datum od:" for="dFrom" />
					<p:calendar id="dFrom" value="#{reportingPeriodsView.dateFrom}"
						pattern="dd.MM.yyyy" mask="true" required="true" />
					<p:message for="dFrom" display="icon" />
					<p:outputLabel value="Datum do:" for="dTo" />
					<p:calendar id="dTo" value="#{reportingPeriodsView.dateTo}"
						pattern="dd.MM.yyyy" mask="true" required="true" />
					<p:message for="dTo" display="icon" />
					<p:outputLabel value="Odobrena sredstva:" for="aRes" />
					<pe:inputNumber id="aRes"
						value="#{reportingPeriodsView.approvedResources}"
						symbolPosition="s" decimalSeparator="," thousandSeparator="."
						required="true" />
					<p:message for="aRes" display="icon" />
					<!--
                            <p:inputText id="aRes"
                                value="#{reportingPeriodsView.approvedResources}" mask="true"
                                required="true" />
                            -->
					<p:message for="aRes" display="icon" />
				</h:panelGrid>
			</p:panel>
			<div align="center">
				<p:commandButton value="Spremi" style="width:30%"
					action="#{reportingPeriodsView.insert()}"
					oncomplete="setMsgfadeOut('msgsNew')"
					update="new_panel acc evidencijeContent" class="bttn-dialog-save" />
				<p:commandButton value="Odustani" style="width:30%"
					onclick="singleDialog_new_raz.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="edit_dialog" header="Promjena razdoblja"
		widgetVar="singleDialog_edit" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form>
			<p:panel id="edit_panel">
				<p:messages id="msgsView" showDetail="true" />
				<h:panelGrid columns="3" cellpadding="3">
					<p:outputLabel value="Datum od:" for="deFrom" />
					<p:calendar id="deFrom"
						value="#{reportingPeriodsViewEdit.dateFrom}" pattern="dd.MM.yyyy"
						mask="true" required="true" />
					<p:message for="deFrom" display="icon" />
					<p:outputLabel value="Datum do:" for="deTo" />
					<p:calendar id="deTo" value="#{reportingPeriodsViewEdit.dateTo}"
						pattern="dd.MM.yyyy" mask="true" required="true" />
					<p:message for="deTo" display="icon" />
					<p:outputLabel value="Odobrena sredstva:" for="aeRes" />
					<pe:inputNumber id="aeRes"
						value="#{reportingPeriodsViewEdit.approvedResources}"
						symbolPosition="s" decimalSeparator="," thousandSeparator="." />
				</h:panelGrid>
				<div align="center">
					<br /> <br />
					<p:commandButton value="Spremi" style="width:30%"
						action="#{reportingPeriodsViewEdit.update()}"
						oncomplete="setMsgfadeOut('msgsView')"
						update="edit_panel acc evidencijeContent" class="bttn-dialog-save" />
					<p:commandButton value="Odustani" style="width:30%"
						onclick="singleDialog_edit.hide();" immediate="true"
						class="bttn-dialog-cancel" partialSubmit="true" />
				</div>
			</p:panel>
		</h:form>
	</p:dialog>
	
	<script type="text/javascript">
		
		// Dodavanje bijele ikone PRK za isključivo crvene redove tablice evidencije
		$('.evRequiredRowBgColor > td').find('.button-prk').each(function() {
			$(this).removeClass('ikona-prk');
			$(this).addClass('ikona-prk-bijela');
		});
		
	</script>

</ui:composition>
