<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h1 style="font-size: 12" align="center">TABLICA 7: Popis
		doktorskih disertacija i diplomskih/magistarskih radova (NIJE OBVEZNA)</h1>
	<p:separator style="height:7px" />

	<h:form id="popisRadovaDTForm">
	
		<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
			<div align="center">

				<p:commandButton value="Da" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Ne" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />

			</div>
		</p:confirmDialog>

		<p:dataTable value="#{doktorskeDisertacijeView.fillTable()}"
			var="doktorskaDisertacija" rowKey="#{doktorskaDisertacija.id}"
			type="ordered" widgetVar="popisRadovaDTWidget" id="popisRadovaDT"
			tableStyleClass="popis-dr-disertacija-wrapper">

			<f:facet name="header">
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Novi"
					onclick="PF('newDDDialogWidget').show();#{doktorskeDisertacijeView.clean()}"
					rendered="#{preventAction.rendered}" />
				<br />
			</f:facet>

			<p:column escape="false" headerText="Opcije"
				rendered="#{preventAction.isRendered('OPCIJE')}"
				style="width:6em; align:center;">

				<p:commandButton disabled="#{preventAction.isDisabled('EDIT')}" value=""
					class="ikona-edit" oncomplete="PF('editDDDialogWidget').show()" rendered="#{preventAction.isRendered('EDIT')}"
					update="editDDDialog">
					<f:setPropertyActionListener value="#{doktorskaDisertacija}"
						target="#{doktorskeDisertacijeView.odabranaEvPopisRadova}" />
				</p:commandButton>

				<p:commandButton id="deleteRedaButton"
					disabled="#{preventAction.isDisabled('DELETE')}"
				    class="ikona-delete"
					rendered="#{preventAction.isRendered('DELETE')}"
					update="popisRadovaDTForm">
					<f:setPropertyActionListener value="#{doktorskaDisertacija}"
						target="#{doktorskeDisertacijeView.delete}" />
						<p:confirm header="Potvrda brisanja"
									message="Jeste sigurni da želite obrisati unešene podatke?"
									icon="ui-icon-alert">
						</p:confirm>
				</p:commandButton>
				
				<p:commandButton value="PRK" rendered="#{preventAction.isRendered('PRK')}"
					oncomplete="PF('prkDDDialogWidget').show()" class="ikona-prk ikona-prk-pozicija"
					update="prkDDDialog">
					<f:setPropertyActionListener value="#{doktorskaDisertacija}"
						target="#{doktorskeDisertacijeView.odabranaEvPopisRadova}" />
				</p:commandButton>
			</p:column>

			<p:column escape="false" headerText="Autor" style="width:15em"
				sortBy="#{doktorskaDisertacija.autor}">
				<h:outputText escape="false" value="#{doktorskaDisertacija.autor}" />
			</p:column>

			<p:column escape="false" headerText="Naslov" style="width:30em"
				sortBy="#{doktorskaDisertacija.naslov}">
				<h:outputText escape="false" value="#{doktorskaDisertacija.naslov}" />
			</p:column>

			<p:column escape="false" headerText="Godina" style="width:5em"
				sortBy="#{doktorskaDisertacija.godina}">
				<h:outputText escape="false" value="#{doktorskaDisertacija.godina}" />
			</p:column>

			<p:column escape="false" headerText="Ustanova" style="width:15em"
				sortBy="#{doktorskaDisertacija.ustanova}">
				<h:outputText escape="false"
					value="#{doktorskaDisertacija.ustanova}" />
			</p:column>

			<p:column escape="false" headerText="Mentor" style="width:15em"
				sortBy="#{doktorskaDisertacija.mentor}">
				<h:outputText escape="false" value="#{doktorskaDisertacija.mentor}" />
			</p:column>

			<p:column escape="false" headerText="Poveznica ili upload dokumenta"
				style="width:20em">
				<h:outputLink value="#{doktorskaDisertacija.poveznica}"
					target="blank" rendered="#{doktorskaDisertacija.poveznica != null}">#{doktorskaDisertacija.poveznica}</h:outputLink>
				<h:outputText escape="false" value="&lt;br&gt;"
					rendered="#{doktorskaDisertacija.poveznica != null and doktorskaDisertacija.file != null}" />
				<h:outputText escape="false"
					value="#{doktorskaDisertacija.file.fileName}"
					rendered="#{doktorskaDisertacija.file != null}" />
				<p:commandLink ajax="false" styleClass="down-link"
					rendered="#{doktorskaDisertacija.file != null}"
					onclick="PrimeFaces.monitorDownload(start, stop);">
					<p:fileDownload
						value="#{doktorskaDisertacija.file.streamedContent}" />
					<i class="fa fa-download"></i>
				</p:commandLink>
			</p:column>
			<f:facet name="footer"></f:facet>
		</p:dataTable>
	</h:form>
	
	

<!-- 	<p:confirmDialog id="confirmFileDeleteDialog" header="Potvrda brisanja" -->
<!-- 		message="Jeste li sigurni da želite pobrisati datoteku?" -->
<!-- 		appendTo="@(body)" showEffect="fade" hideEffect="explode" -->
<!-- 		widgetVar="cfddWidget" closable="false" closeOnEscape="true"> -->
<!-- 		<h:form> -->
<!-- 			<h:panelGroup layout="block" style="text-align:right"> -->
<!-- 				<p:commandButton value="Da" oncomplete="PF('cfddWidget').hide();" -->
<!-- 					action="#{doktorskeDisertacijeView.deleteFileRezultat}" -->
<!-- 					update="popisRadovaDTForm" /> -->
<!-- 				<p:commandButton value="Ne" oncomplete="PF('cfddWidget').hide();" -->
<!-- 					action="#{doktorskeDisertacijeView.cancelFileDelete}" /> -->
<!-- 			</h:panelGroup> -->
<!-- 		</h:form> -->
<!-- 	</p:confirmDialog> -->

	<p:dialog id="newDDDialog" header="Novi popis"
		widgetVar="newDDDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="newDDDialogForm">
			<p:panel id="newDDDialogPanel">

				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="displaynovi" columns="3" cellpadding="4" border="0">

					<p:outputLabel value="Autor:" for="autorNoviDDView" />
					<p:inputTextarea id="autorNoviDDView"
						value="#{doktorskeDisertacijeView.novaEvPopisRadova.autor}"
						cols="50" rows="1" maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="autorNoviDDView" display="icon" />

					<p:outputLabel value="Naslov:" for="naslovNoviDDView" />
					<p:inputTextarea id="naslovNoviDDView"
						value="#{doktorskeDisertacijeView.novaEvPopisRadova.naslov}"
						cols="50" rows="1" maxlength="250" required="true">
						<f:validateLength maximum="255" />
					</p:inputTextarea>
					<p:message for="naslovNoviDDView" display="icon" />

					<p:outputLabel value="Godina:" for="godinaNoviDDView" />
					<p:spinner id="godinaNoviDDView"
						value="#{doktorskeDisertacijeView.novaEvPopisRadova.godina}"
						min="0" max="9999" style="align:center;" size="5" required="true">

						<f:validator binding="#{yearFromToCurrentPeriodValidator}" />
					</p:spinner>
					<p:message for="godinaNoviDDView" display="icon" />

					<p:outputLabel value="Ustanova:" for="ustanovaNoviDDView" />
					<p:inputTextarea id="ustanovaNoviDDView"
						value="#{doktorskeDisertacijeView.novaEvPopisRadova.ustanova}"
						cols="50" rows="1" maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="ustanovaNoviDDView" display="icon" />

					<p:outputLabel value="Mentor:" for="mentorNoviDDView" />
					<p:inputTextarea id="mentorNoviDDView"
						value="#{doktorskeDisertacijeView.novaEvPopisRadova.mentor}"
						cols="50" rows="1" maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="mentorNoviDDView" display="icon" />

					<ui:include src="fileUploadFormRow.xhtml" />
				</h:panelGrid>
			</p:panel>
			<div align="center">
				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{doktorskeDisertacijeView.insert()}"
					update="newDDDialogPanel,popisRadovaDTForm"
					oncomplete="setMsgfadeOut('msgsNew')" class="bttn-dialog-save" />

				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="newDDDialogWidget.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>


	<p:dialog id="editDDDialog" header="Promjena popisa"
		widgetVar="editDDDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="editDDForm">
			<p:panel id="editDDPanel">

				<p:messages id="msgsView" showDetail="true" />
				<h:panelGrid id="editDDPanelGrid" columns="3" cellpadding="4"
					border="0">

					<p:outputLabel value="Autor:" for="autorEditDDView" />
					<p:inputTextarea id="autorEditDDView"
						value="#{doktorskeDisertacijeView.odabranaEvPopisRadova.autor}"
						cols="50" rows="1" maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="autorEditDDView" display="icon" />

					<p:outputLabel value="Naslov:" for="naslovEditDDView" />
					<p:inputTextarea id="naslovEditDDView"
						value="#{doktorskeDisertacijeView.odabranaEvPopisRadova.naslov}"
						cols="50" rows="1" maxlength="100" required="true">
						<f:validateLength maximum="255" />
					</p:inputTextarea>
					<p:message for="naslovEditDDView" display="icon" />

					<p:outputLabel value="Godina:" for="godinaEditDDView" />
					<p:spinner id="godinaEditDDView"
						value="#{doktorskeDisertacijeView.odabranaEvPopisRadova.godina}"
						min="0" max="9999" style="align:center;" size="5" required="true">
						<f:validator binding="#{yearFromToCurrentPeriodValidator}" />
					</p:spinner>
					<p:message for="godinaEditDDView" display="icon" />

					<p:outputLabel value="Ustanova:" for="ustanovaEditDDView" />
					<p:inputTextarea id="ustanovaEditDDView"
						value="#{doktorskeDisertacijeView.odabranaEvPopisRadova.ustanova}"
						cols="50" rows="1" maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="ustanovaEditDDView" display="icon" />

					<p:outputLabel value="Mentor:" for="mentorEditDDView" />
					<p:inputTextarea id="mentorEditDDView"
						value="#{doktorskeDisertacijeView.odabranaEvPopisRadova.mentor}"
						cols="50" rows="1" maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="mentorEditDDView" display="icon" />

					<ui:include src="fileUploadFormRow.xhtml"></ui:include>
				</h:panelGrid>
			</p:panel>

			<div align="center">
				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{doktorskeDisertacijeView.update()}"
					oncomplete="setMsgfadeOut('msgsView')"
					update="editDDPanel,popisRadovaDTForm" class="bttn-dialog-save" />

				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="editDDDialogWidget.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>
	
	<p:dialog id="prkDDDialog" header="Unošenje statusa" rendered="true"
		widgetVar="prkDDDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkDDForm">

			<p:panel id="prkDDPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkDDPanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" />
					<p:selectOneRadio id="status"
						value="#{doktorskeDisertacijeView.odabranaEvPopisRadova.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>
				
				<p:inputTextarea rows="3" cols="50"
					value="#{doktorskeDisertacijeView.odabranaEvPopisRadova.komentarPrk}"
					placeholder="Komentari" />


			</p:panel>
			<div align="center">
				<br />
				
				<p:commandButton value="Spremi" style="width:30%" action="#{doktorskeDisertacijeView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="prkDDForm, popisRadovaDTForm" class="bttn-dialog-save" />

			</div>
		</h:form>
	</p:dialog>
	
	<script type="text/javascript">
	
		// HOTFIX Sirina retka sa ikonama delete, edit i prk je uvijek takva da ikone stanu jedan kraj druge,
		// umjesto fiksne najbolje da bude auto, a za to treba testirati strukturu i ovisno i prioritetima
		$('table.popis-dr-disertacija-wrapper > tbody > tr > td:first-child, ' +
		  'table.popis-dr-disertacija-wrapper > thead > tr > th:first-child').css('width', '6em', 'important')
	
	</script>
	
</ui:composition>