<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">


	<h1 style="font-size: 12" align="center">TABLICA 8: Popis
		znanstvenih radova proizašlih iz aktivnosti na projektu (S DOMAĆOM ILI
		MEĐUNARODNOM RECENZIJOM)</h1>
	<p:separator style="height:7px" />

	<h:form id="form_tablica_popisZnanstveniRadovi">

		<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
			<div align="center">
				<p:commandButton value="Da" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Ne" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</div>
		</p:confirmDialog>

		<p:dataTable value="#{znanstveniRadoviView.fillTable()}"
			var="znanstveniRad" type="ordered" rowIndexVar="rowIndex"
			rowKey="#{znanstveniRad.id}" id="tablica_znanstveniRadovi"
			tableStyleClass="popis-znanstveni-radovi-wrapper">

			<f:facet name="header">
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Novi" type="button" rendered="#{preventAction.rendered}"
					onclick="PF('novi_ZRViewdialog_var').show();#{znanstveniRadoviView.clean()}" />
				<br />
			</f:facet>

			<p:column escape="false" headerText="Opcije"
				rendered="#{preventAction.isRendered('OPCIJE')}"
				style="width:6em; align:center;">

				<p:commandButton disabled="#{preventAction.isDisabled('EDIT')}"
					value="" class="ikona-edit"
					rendered="#{preventAction.isRendered('EDIT')}" style="buttonNew"
					oncomplete="PF('edit_ZRViewDialog_var').show()"
					update="edit_ZRViewDialog">
					<f:setPropertyActionListener value="#{znanstveniRad}"
						target="#{znanstveniRadoviView.odabranaEvPopisZnRadova}" />
				</p:commandButton>

				<p:commandButton disabled="#{preventAction.isDisabled('DELETE')}"
					value="" class="ikona-delete"
					rendered="#{preventAction.isRendered('DELETE')}"
					update="form_tablica_popisZnanstveniRadovi">
					<f:setPropertyActionListener value="#{znanstveniRad}"
						target="#{znanstveniRadoviView.delete}" />
					<p:confirm header="Potvrda brisanja"
						message="Jeste sigurni da želite obrisati unešene podatke?"
						icon="ui-icon-alert">
					</p:confirm>
				</p:commandButton>

				<p:commandButton value="PRK"
					rendered="#{preventAction.isRendered('PRK')}" class="ikona-prk ikona-prk-pozicija"
					oncomplete="PF('prkZRDialogWidget').show()" update="prkZRDialog">
					<f:setPropertyActionListener value="#{znanstveniRad}"
						target="#{znanstveniRadoviView.odabranaEvPopisZnRadova}" />
				</p:commandButton>

			</p:column>

			<p:column escape="false" headerText="Br." style="width:2em"
				sortBy="#{znanstveniRad.broj}">
				<h:outputText escape="false" value="#{rowIndex + 1}" />
			</p:column>

			<p:column escape="false"
				headerText="Autori, naziv rada, naziv časopisa, broj, godište, izdavač, stranice"
				style="width:30em" sortBy="#{znanstveniRad.naziv}">
				<h:outputText escape="false" value="#{znanstveniRad.naziv}" />
			</p:column>

			<p:column escape="false" headerText="Godina objavljivanja"
				style="width:6em" sortBy="#{znanstveniRad.godinaObjavljivanja}">
				<h:outputText escape="false"
					value="#{znanstveniRad.godinaObjavljivanja}" />
			</p:column>

			<p:column escape="false" headerText="Recenzija" style="width:10em"
				sortBy="#{znanstveniRad.recenzija}">
				<h:outputText escape="false"
					value="#{znanstveniRadoviView.getDescription('ev_popis_zn_radova','recenzija',znanstveniRad.recenzija)}" />
			</p:column>

			<p:column escape="false"
				headerText="Kvartil predmetne kategorije (Q) prema WoS-u"
				style="width:8em" sortBy="#{znanstveniRad.kvartil}">
				<h:outputText escape="false" value="#{znanstveniRad.kvartil}" />
			</p:column>

			<p:column escape="false"
				headerText="Je li omogućen  otvoreni pristup  za ovu publikaciju?"
				style="width:8em">
				<h:outputText escape="false"
					value="#{znanstveniRadoviView.getDescription('ev_popis_zn_radova','otvoreni_pristup',znanstveniRad.otvoreniPristup)}" />
			</p:column>

			<p:column escape="false" headerText="Poveznica ili upload dokumenta">
				<h:outputLink value="#{znanstveniRad.poveznica}" target="blank"
					rendered="#{znanstveniRad.poveznica != null}">#{znanstveniRad.poveznica}</h:outputLink>
				<h:outputText escape="false" value="&lt;br&gt;"
					rendered="#{znanstveniRad.poveznica != null and znanstveniRad.file != null}" />
				<h:outputText escape="false" value="#{znanstveniRad.file.fileName}"
					rendered="#{znanstveniRad.file != null}" />
				<p:commandLink ajax="false" styleClass="down-link"
					rendered="#{znanstveniRad.file != null}"
					onclick="PrimeFaces.monitorDownload(start, stop);">
					<p:fileDownload value="#{znanstveniRad.file.streamedContent}" />
					<i class="fa fa-download"></i>
				</p:commandLink>
			</p:column>

			<f:facet name="footer">
			</f:facet>

		</p:dataTable>

	</h:form>
	<p:confirmDialog id="confirmFileDeleteDialog" header="Potvrda brisanja"
		message="Jeste li sigurni da želite pobrisati datoteku?"
		appendTo="@(body)" showEffect="fade" hideEffect="explode"
		widgetVar="cfddWidget" closable="false" closeOnEscape="true">
		<h:form>
			<h:panelGroup layout="block" style="text-align:right">
				<p:commandButton value="Da" oncomplete="PF('cfddWidget').hide();"
					action="#{znanstveniRadoviView.deleteFileRezultat}"
					update="form_tablica_popisZnanstveniRadovi" />
				<p:commandButton value="Ne" oncomplete="PF('cfddWidget').hide();"
					action="#{znanstveniRadoviView.cancelFileDelete}" />
			</h:panelGroup>
		</h:form>
	</p:confirmDialog>

	<p:dialog id="novi_ZRViewDialog" header="Novi popis"
		widgetVar="novi_ZRViewdialog_var" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="novi_ZRViewForm">
			<p:panel id="novi_ZRViewPanel">

				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="novi_ZRViewDisplay" columns="3" cellpadding="4"
					border="0">

					<p:outputLabel
						value="Autori, naziv rada, naziv časopisa, broj, godište, izdavač, stranice:"
						for="brNoviNaziv" />
					<p:inputTextarea rows="3" cols="50" id="brNoviNaziv"
						value="#{znanstveniRadoviView.novaEvPopisZnRadova.naziv}"
						maxlength="500" autoResize="true" required="true" />
					<p:message for="brNoviNaziv" display="icon" />

					<p:outputLabel value="Godina objavljivanja:"
						for="godinaObjavljivanjaNoviZR" />
					<p:spinner id="godinaObjavljivanjaNoviZR"
						value="#{znanstveniRadoviView.novaEvPopisZnRadova.godinaObjavljivanja}"
						min="0" max="9999" style="align:center;" size="5" required="true">

						<f:validator binding="#{yearFromToCurrentPeriodValidator}" />

					</p:spinner>
					<p:message for="godinaObjavljivanjaNoviZR" display="icon" />

					<p:outputLabel value="Recenzija:" for="recenzijaNoviZR" />

					<p:selectOneMenu id="recenzijaNoviZR"
						value="#{znanstveniRadoviView.lovObjectRecenzija}"
						panelStyle="width:180px" effect="fade" var="t" style="width:150px"
						required="true" filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_zn_radova','recenzija')}"
							var="lovObjectRecenzija"
							itemLabel="#{lovObjectRecenzija.description}"
							itemValue="#{lovObjectRecenzija}" />

						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>

					<p:message for="recenzijaNoviZR" display="icon" />

					<p:outputLabel
						value="Kvartil predmetne kategorije (Q) prema WoS-u:"
						for="kvartilNoviZR" />

					<p:selectOneMenu id="kvartilNoviZR"
						value="#{znanstveniRadoviView.lovObjectKvartil}"
						panelStyle="width:180px" effect="fade" var="t" style="width:150px"
						required="true" filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_zn_radova','kvartil')}"
							var="lovObjectKvartil"
							itemLabel="#{lovObjectKvartil.description}"
							itemValue="#{lovObjectKvartil}" />

						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>

					<p:message for="kvartilNoviZR" display="icon" />
					<p:outputLabel
						value="Je li omogućen  otvoreni pristup  za ovu publikaciju?"
						for="otvoreniPristupNoviZR" />
					<p:selectOneMenu id="otvoreniPristupNoviZR"
						value="#{znanstveniRadoviView.lovObjectOtvoreniPristup}"
						panelStyle="width:180px" effect="fade" var="t" style="width:60px"
						required="true" filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_zn_radova','otvoreni_pristup')}"
							var="lovObjectOtvoreniPristup"
							itemLabel="#{lovObjectOtvoreniPristup.description}"
							itemValue="#{lovObjectOtvoreniPristup}" />

						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>

					<p:message for="otvoreniPristupNoviZR" display="icon" />

					<ui:include src="fileUploadFormRow.xhtml" />

				</h:panelGrid>

			</p:panel>
			<div align="center">
				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{znanstveniRadoviView.insert()}"
					update="novi_ZRViewPanel,form_tablica_popisZnanstveniRadovi"
					oncomplete="setMsgfadeOut('msgsNew')" class="bttn-dialog-save" />

				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="novi_ZRViewdialog_var.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="edit_ZRViewDialog" header="Promjena popisa"
		widgetVar="edit_ZRViewDialog_var" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="edit_ZRViewForm">
			<p:panel id="edit_ButtonZRViewPanel">

				<p:messages id="msgsView" showDetail="true" />
				<h:panelGrid id="edit_ZRViewDisplay" columns="3" cellpadding="4"
					border="0">

					<p:outputLabel
						value="Autori, naziv rada, naziv časopisa, broj, godište, izdavač, stranice :"
						for="nazivEditZRView" />
					<p:inputTextarea rows="3" cols="50" id="nazivEditZRView"
						value="#{znanstveniRadoviView.odabranaEvPopisZnRadova.naziv}"
						maxlength="500" autoResize="true" required="true" />
					<p:message for="nazivEditZRView" display="icon" />


					<p:outputLabel value="Godina objavljivanja:"
						for="godinaObjavljivanjaEditZR" />
					<p:spinner id="godinaObjavljivanjaEditZR"
						value="#{znanstveniRadoviView.odabranaEvPopisZnRadova.godinaObjavljivanja}"
						min="0" max="9999" style="align:center;" size="5" required="true">

						<f:validator binding="#{yearFromToCurrentPeriodValidator}" />

					</p:spinner>
					<p:message for="godinaObjavljivanjaEditZR" display="icon" />

					<p:outputLabel value="Recenzija:" for="recenzijaEditZRView" />

					<p:selectOneMenu id="recenzijaEditZRView"
						value="#{znanstveniRadoviView.lovObjectRecenzija}"
						panelStyle="width:180px" effect="fade" var="t" style="width:150px"
						required="true" filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_zn_radova','recenzija')}"
							var="lovObjectRecenzija"
							itemLabel="#{lovObjectRecenzija.description}"
							itemValue="#{lovObjectRecenzija}" />

						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>

					<p:message for="recenzijaEditZRView" display="icon" />

					<p:outputLabel
						value="Kvartil predmetne kategorije (Q) prema WoS-u:"
						for="kvartilEditZRView" />

					<p:selectOneMenu id="kvartilEditZRView"
						value="#{znanstveniRadoviView.lovObjectKvartil}"
						panelStyle="width:180px" effect="fade" var="t" style="width:60px"
						required="true" filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_zn_radova','kvartil')}"
							var="lovObjectKvartil"
							itemLabel="#{lovObjectKvartil.description}"
							itemValue="#{lovObjectKvartil}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="kvartilEditZRView" display="icon" />

					<p:outputLabel
						value="Je li omogućen  otvoreni pristup  za ovu publikaciju?"
						for="otvoreniPristupEditZRView" />
					<p:selectOneMenu id="otvoreniPristupEditZRView"
						value="#{znanstveniRadoviView.lovObjectOtvoreniPristup}"
						panelStyle="width:180px" effect="fade" var="t" style="width:60px"
						required="true" filterMatchMode="startsWith"
						converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_popis_zn_radova','otvoreni_pristup')}"
							var="lovObjectOtvoreniPristup"
							itemLabel="#{lovObjectOtvoreniPristup.description}"
							itemValue="#{lovObjectOtvoreniPristup}" />

						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>

					<p:message for="otvoreniPristupEditZRView" display="icon" />

					<ui:include src="fileUploadFormRow.xhtml" />
				</h:panelGrid>

			</p:panel>
			<div align="center">

				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{znanstveniRadoviView.update()}"
					oncomplete="setMsgfadeOut('msgsView')"
					update="edit_ButtonZRViewPanel,form_tablica_popisZnanstveniRadovi"
					class="bttn-dialog-save" />

				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="novi_ZRViewdialog_var.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />

			</div>
		</h:form>
	</p:dialog>
	<p:dialog id="prkZRDialog" header="Unošenje statusa" rendered="true"
		widgetVar="prkZRDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkZRForm">

			<p:panel id="prkZRPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkZRPanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" />
					<p:selectOneRadio id="status"
						value="#{znanstveniRadoviView.odabranaEvPopisZnRadova.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>

				<p:inputTextarea rows="3" cols="50"
					value="#{znanstveniRadoviView.odabranaEvPopisZnRadova.komentarPrk}"
					placeholder="Komentari" />


			</p:panel>
			<div align="center">
				<br />

				<p:commandButton value="Spremi" style="width:30%"
					action="#{znanstveniRadoviView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="prkZRForm, form_tablica_popisZnanstveniRadovi"
					class="bttn-dialog-save" />

			</div>
		</h:form>
	</p:dialog>
	
	<script type="text/javascript">
	
		// HOTFIX Sirina retka sa ikonama delete, edit i prk je uvijek takva da ikone stanu jedan kraj druge,
		// umjesto fiksne najbolje da bude auto, a za to treba testirati strukturu i ovisno i prioritetima
		$('table.popis-znanstveni-radovi-wrapper > tbody > tr > td:first-child, ' +
		  'table.popis-znanstveni-radovi-wrapper > thead > tr > th:first-child').css('width', '6em', 'important')
	
	</script>
	
</ui:composition>
