<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">


	<style>
.panelGridCenter td, .panelGridCenter tr {
	text-align: justify;
}

/*rfi-za required fields maknute zvjezdice*/
.ui-outputlabel-rfi {
	display: none;
}
</style>

	<h1 align="center" style="font-size: 50px">Osobni profil korisnika</h1>

	<h:form id="pregledKorisnikaForm">


		<h:panelGrid columns="2" cellpadding="5" styleClass="panelGridCenter">

			<p:outputLabel value="Redni broj korisnika:" for="rbKorisnika"
				style="font-weight:bold;" />
			<p:inputText id="rbKorisnika" readonly="true" size="80"
				value="#{userView.user.id}" />

			<p:outputLabel value="Prezime korisnika:" for="prezimeKorisnika"
				style="font-weight:bold;" />
			<p:inputText id="prezimeKorisnika" readonly="true" size="80"
				value="#{userView.user.userData.surname}" />

			<p:outputLabel value="Ime korisnika:" for="imeKorisnika"
				style="font-weight:bold;" />
			<p:inputText id="imeKorisnika" readonly="true" size="80"
				value="#{userView.user.userData.name}" />

			<p:outputLabel value="Titula korisnika:" for="titulaKorisnika"
				style="font-weight:bold;" />
			<p:inputText id="titulaKorisnika" readonly="true" size="80"
				value="#{userView.user.userData.title}" />

			<p:outputLabel value="Akademski stupanj korisnika:"
				for="akadStKorisnika" style="font-weight:bold;" />
			<p:inputText id="akadStKorisnika" readonly="true" size="80"
				value="#{userView.user.userData.degree}" />

			<p:outputLabel value="Ustanova:" for="ustanovaKorisnika"
				style="font-weight:bold;" />
			<p:inputText id="ustanovaKorisnika" readonly="true" size="80"
				value="#{userView.user.userData.institution.name}" />

			<p:outputLabel value="Telefon ustanove:" for="telUstanove"
				style="font-weight:bold;" />
			<p:inputTextarea id="telUstanove"
				value="#{userView.user.userData.institution.phone}" cols="83"
				rows="2" readonly="true">
			</p:inputTextarea>

			<p:outputLabel value="E-mail korisnika:" for="emailKorisnika"
				style="font-weight:bold;" />
			<p:inputText id="emailKorisnika" readonly="true" size="80"
				value="#{userView.user.userData.email}" />

			<p:outputLabel value="Username korisnika:" for="usernameKorisnika"
				style="font-weight:bold;" />
			<p:inputText id="usernameKorisnika" readonly="true" size="80"
				value="#{userView.user.username}" />

			<p:outputLabel value="Password korisnika:" for="passKorisnika"
				style="font-weight:bold;" />
			<p:inputText id="passKorisnika" readonly="true" size="80"
				value="#{userView.user.password}" />

			<p:outputLabel value="Uloge korisnika:" style="font-weight:bold;" />

			<h:panelGrid columns="12" cellpadding="4">
				<h:outputText value="ADM" />
				<h:commandButton class="#{userView.user.rolaADM}" />

				<h:outputText value="PRK" />
				<h:commandButton class="#{userView.user.rolaPRK}" />

				<h:outputText value="VOD" />
				<h:commandButton class="#{userView.user.rolaVOD}" />

				<h:outputText value="EVL" />
				<h:commandButton class="#{userView.user.rolaEVL}" />

				<h:outputText value="COV" />
				<h:commandButton class="#{userView.user.rolaCOV}" />

				<h:outputText value="CUO" />
				<h:commandButton class="#{userView.user.rolaCUO}" />

			</h:panelGrid>

		</h:panelGrid>
		<!-- 		<p:dataTable id="kvaciceTable" value="#{usersView.usersRoles}" -->
		<!-- 			var="userRole" rowkey="#{userRole.id}"> -->

		<!-- 			<p:column headerText="ADM" style="width:5em"> -->
		<!-- 				<h:commandButton class="#{userRole.role.id == 6 ? 'ikona-kvacica-crna' : 'a'}"/> -->
		<!-- 			</p:column> -->

		<!-- 			<p:column headerText="PRK" style="width:5em"> -->
		<!-- 				<h:commandButton class="#{userRole.role.id == 1 ? 'ikona-kvacica-crna' : 'p'}"/> -->
		<!-- 			</p:column> -->

		<!-- 			<p:column headerText="VOD" style="width:5em"> -->
		<!-- 				<h:commandButton class="#{userRole.role.id == 2 ? 'ikona-kvacica-crna' : 'v'}"/> -->
		<!-- 			</p:column> -->

		<!-- 			<p:column headerText="EVL" style="width:5em"> -->
		<!-- 				<h:commandButton class="#{userRole.role.id == 3 ? 'ikona-kvacica-crna' : 'e'}"/> -->
		<!-- 			</p:column> -->

		<!-- 			<p:column headerText="COV" style="width:5em"> -->
		<!-- 				<h:commandButton class="#{userRole.role.id == 4 ? 'ikona-kvacica-crna' : 'v'}"/> -->
		<!-- 			</p:column> -->

		<!-- 			<p:column headerText="CUO" style="width:5em"> -->
		<!-- 				<h:commandButton class="#{userRole.role.id == 5 ? 'ikona-kvacica-crna' : 'u'}"/> -->
		<!-- 			</p:column> -->

		<!-- 		</p:dataTable> -->

		<p:panelGrid columns="2" cellpadding="5" styleClass="panelGridCenter">

			<!-- Popis projekata jednog korisnika -->
			<p:outputLabel value="Projekti korisnika:" style="font-weight:bold;" />
			<br />
			<p:dataList value="#{userView.projektiKorisnikaList}" var="projekt"
				styleClass="proj-koris-wrapper">

				<!-- otvaranje jednog projekta kao link -->
				<p:commandLink styleClass="down-link" ajax="true"
					action="#{userView.openSelectedProject()}">
					<h:outputText value="#{projekt.name}" />
					<f:setPropertyActionListener value="#{projekt}"
						target="#{sessionBean.currentProject}" />
				</p:commandLink>
			</p:dataList>
		</p:panelGrid>


	</h:form>
</ui:composition>