<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">

<p:growl autoUpdate="true" id="globalMsgs" showDetail="true"
        widgetVar="globalMsgsWidget" life="5000" />
	<p:layout>
		<p:layoutUnit position="center">
			<h:form id="projectsDTForm">
				<p:messages id="msgs" />
				<p:dataTable id="projectsDT" var="project"
					value="#{projectsView.projects}" rowKey="#{project.id}"
					emptyMessage="Nema podataka prema odabranom filteru"
					selectionMode="single" selection="#{sessionBean.currentProject}">

					<!-- 				listener="#{menuController.menuAction('popisEvidencija','1')}"> -->
					<p:ajax event="rowSelect" update=""
						listener="#{menuController.redirectFromProject}">
					</p:ajax>

					<p:column headerText="Rb." sortBy="#{project.id}" style="width:8em"
						filterBy="#{project.id}" filterMatchMode="contains">
						<h:outputText value="#{project.id}" style="align:center" />
					</p:column>

					<p:column escape="false" headerText="Natječaj&lt;hr&gt;Praćenje od/do" style="width:17em"
							filterBy="#{project.tenderType.code}" filterMatchMode="contains">
						<h:outputText escape="false" style="align:center"
							value="#{project.tenderType.code}-#{project.tenderDeadline}&lt;hr&gt;&lt;smaller&gt;#{projectsView.dateFrom} - #{projectsView.dateTo}" />
					</p:column>

					<p:column escape="false"
						headerText="Šifra projekta&lt;hr&gt;Tekuće Fin. KN&lt;/div&gt;"
						style="width:17em" sortBy="#{project.code}" filterBy="#{project.code}" filterMatchMode="contains">
						<h:outputText escape="false" value="#{project.code}&lt;hr&gt;&lt;smaller&gt;#{projectsView.approvedResources}" />
					</p:column>
					

					<p:column escape="false"
						headerText="&lt;div&gt;Naziv&lt;hr&gt;Zn.područje&lt;/div&gt;"
						sortBy="#{project.name}" filterBy="#{project.name}" 
						filterMatchMode="contains">
						<h:outputText escape="false"
							value="#{project.name}&lt;hr&gt;&lt;smaller&gt;#{project.majorScientificField.name}&lt;/smaller&gt;" />
					</p:column>

					<p:column escape="false" headerText="Voditelj&lt;hr&gt;Zadužen PRK"
						style="width:15em" filterBy="#{project.leader.userData.name}" filterMatchMode="contains">
						<h:outputText escape="false"
							value="#{project.leader.userData.name} #{project.leader.userData.surname}" />
					</p:column>

				</p:dataTable>
			</h:form>
		</p:layoutUnit>
	</p:layout>

</ui:composition>