<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	
	<h:form id="rezEvalForm">
		<p:dataTable id="rezEvalTable" value="#{popisEvidencijaView.evalIzvjescaList}"
				var="evalIzvj" rowkey="#{evalIzvj.id}" >
				
			<p:column headerText="Evaluator"  style="width:5em" >
				<h:outputText value="#{evalIzvj.user.userData.name} #{evalIzvj.user.userData.surname}"/>
			</p:column>
			
			<p:column headerText="A" style="width:1em;text-align:center" >
				<h:commandButton class="#{evalIzvj.zavOcjenaA != false ? 'ikona-kvacica' : 'display-none'}"/>
			</p:column>
		
			<p:column headerText="B" style="width:1em;text-align:center">
				<h:commandButton class="#{evalIzvj.zavOcjenaB != false ? 'ikona-kvacica' : 'display-none'}"/>
			</p:column>
			
			<p:column headerText="C" style="width:1em;text-align:center">
				<h:commandButton class="#{evalIzvj.zavOcjenaC != false ? 'ikona-kvacica' : 'display-none'}"/>
			</p:column>
			
			<p:column headerText="D" style="width:1em;text-align:center">
				<h:commandButton class="#{evalIzvj.zavOcjenaD != false ? 'ikona-kvacica' : 'display-none'}"/>
			</p:column>
			
		</p:dataTable>
	</h:form>
	</ui:composition>