<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h4>Završna ocjena:</h4>
	
	<h:form id="zavrsnaOcjenaForm">
		<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
		
			<p:selectBooleanCheckbox
				value="#{rezultatiVrednovanjaView.selectedEvRezVrednovanjaIzv.zavOcjenaA}" />
			<h:outputText
				value="A - Odličan napredak (projekt je u potpunosti ispunio svoje ciljeve za zadano razdoblje ili je premašio očekivanja)." />

			<p:selectBooleanCheckbox
				value="#{rezultatiVrednovanjaView.selectedEvRezVrednovanjaIzv.zavOcjenaB}" />
			<h:outputText
				value="B - Dobar napredak (projekt je ostvario većinu ciljeva za zadano razdoblje)." />

			<p:selectBooleanCheckbox
				value="#{rezultatiVrednovanjaView.selectedEvRezVrednovanjaIzv.zavOcjenaC}" />
			<h:outputText
				value="C - Prihvatljivi napredak (projekt je ostvario neke od svojih ciljeva, no postoje i relevantna odstupanja u provedbi koja se odražavaju i na planirane aktivnosti)." />

			<p:selectBooleanCheckbox
				value="#{rezultatiVrednovanjaView.selectedEvRezVrednovanjaIzv.zavOcjenaD}" />
			<h:outputText
				value="D - Nezadovoljavajući napredak (projekt nije uspio ostvariti ključne ciljeve u zadanom razdoblju i/ili se uopće ne provodi prema planu i ne predlaže se nastavak financiranja)." />
		
		</h:panelGrid>

		<p:inputTextarea rows="6" cols="100"
			value="#{rezultatiVrednovanjaView.selectedEvRezVrednovanjaIzv.komentar}"
			placeholder="Komentari i obrazloženje ocjene" />
		<br />
		<p:commandButton 
					value="Spremi" style="width:15%"
					action="#{rezultatiVrednovanjaView.save()}"
					update="zavrsnaOcjenaForm"
					oncomplete="setMsgfadeOut('msgsNew')" class="bttn-dialog-save" />
	</h:form>				
</ui:composition>