<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h1 align="center">TABLICA 1: Rezultati (OBVEZNA TABLICA)</h1>
	<p:separator />

	<h:form id="rezultatiDTForm">

		<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
			<div align="center">
				<p:commandButton value="Da" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Ne" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</div>
		</p:confirmDialog>



		<p:dataTable id="rezultatiDT" value="#{rezultatiView.fillTable()}"
			var="rezultat" type="ordered" rowKey="#{rezultat.id}"
			rowIndexVar="rowIndex" widgetVar="rezultatiDTWidget"
			tableStyleClass="rezultati-wrapper">



			<f:facet name="header">
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Novi" rendered="#{preventAction.rendered}"
					onclick="PF('newRezultatWidget').show();#{rezultatiView.clean()}" />
				<br />
			</f:facet>

			<p:column escape="false" headerText="Opcije"
				rendered="#{preventAction.isRendered('OPCIJE')}"
				style="width:6em; align:center;">

				<p:commandButton disabled="#{preventAction.isDisabled('EDIT')}"
					value="" class="ikona-edit"
					rendered="#{preventAction.isRendered('EDIT')}"
					oncomplete="PF('editRezultatDialogWidget').show()"
					update="editRezultatDialog">
					<f:setPropertyActionListener value="#{rezultat}"
						target="#{rezultatiView.selectedRezultat}" />
				</p:commandButton>

				<p:commandButton disabled="#{preventAction.isDisabled('DELETE')}"
					value="" rendered="#{preventAction.isRendered('DELETE')}"
					class="ikona-delete" update="rezultatiDTForm">
					<f:setPropertyActionListener value="#{rezultat}"
						target="#{rezultatiView.delete}" />
					<p:confirm header="Potvrda brisanja"
						message="Jeste sigurni da želite obrisati unešene podatke?"
						icon="ui-icon-alert">
					</p:confirm>
				</p:commandButton>

				<p:commandButton value="PRK"
					rendered="#{preventAction.isRendered('PRK')}" class="ikona-prk ikona-prk-pozicija"
					oncomplete="PF('prkRezDialogWidget').show()" update="prkRezDialog">
					<f:setPropertyActionListener value="#{rezultat}"
						target="#{rezultatiView.selectedRezultat}" />
				</p:commandButton>

			</p:column>
			<p:column escape="false" headerText="Br.cilja" style="width:6em"
				sortBy="#{rezultat.brCilja}">
				<h:outputText escape="false" value="#{rezultat.brCilja}" />
			</p:column>

			<p:column escape="false" headerText="Br.rezultata" style="width:8em"
				sortBy="#{rezultat.brRezultata}">
				<h:outputText escape="false" value="#{rezultat.brRezultata}" />
			</p:column>

			<p:column escape="false" headerText="Naziv rezultata"
				style="width:20em" sortBy="#{rezultat.naziv}">
				<h:outputText escape="false" value="#{rezultat.naziv}" />
			</p:column>

			<p:column escape="false" headerText="Zadužena osoba"
				style="width:15em" sortBy="#{rezultat.zaduzenaOsoba}">
				<h:outputText escape="false" value="#{rezultat.zaduzenaOsoba}" />
			</p:column>

			<p:column escape="false" headerText="Oznaka diseminacije"
				style="width:12em"
				sortBy="#{rezultat.oznakaDiseminacije.description}">
				<h:outputText escape="false"
					value="#{rezultat.oznakaDiseminacije.description}" />
			</p:column>

			<p:column escape="false" headerText="Ostvareno" style="width:7em"
				sortBy="#{rezultat.postignuto.description}">
				<h:outputText escape="false"
					value="#{rezultat.postignuto.description}" />
			</p:column>

			<p:column escape="false" headerText="Datum realizacije"
				style="width:10em">
				<h:outputText escape="false" value="#{rezultat.datumRealizacije}" />
			</p:column>

			<p:column escape="false" headerText="Komentari"
				sortBy="#{rezultat.komentar}">
				<h:outputText escape="false" value="#{rezultat.komentar}" />
			</p:column>

			<p:column escape="false" headerText="Poveznica ili upload dokumenta">
				<h:outputLink value="#{rezultat.poveznica}" target="blank"
					rendered="#{rezultat.poveznica != null}">#{rezultat.poveznica}</h:outputLink>
				<h:outputText escape="false" value="&lt;br&gt;"
					rendered="#{rezultat.poveznica != null and rezultat.file != null}" />
				<h:outputText escape="false" value="#{rezultat.file.fileName}"
					rendered="#{rezultat.file != null}" />
				<p:commandLink styleClass="down-link"
					rendered="#{rezultat.file != null}" ajax="false"
					onclick="PrimeFaces.monitorDownload(start, stop);">
					<p:fileDownload value="#{rezultat.file.streamedContent}" />
					<i class="fa fa-download"></i>
				</p:commandLink>
			</p:column>
			<f:facet name="footer"></f:facet>
		</p:dataTable>
	</h:form>

	<p:confirmDialog id="confirmFileDeleteDialog" header="Potvrda brisanja"
		message="Jeste li sigurni da želite obrisati datoteku?"
		appendTo="@(body)" showEffect="fade" hideEffect="explode"
		widgetVar="cfddWidget" closable="false" closeOnEscape="true">
		<h:form>
			<h:panelGroup layout="block" style="text-align:right">
				<p:commandButton value="Da" oncomplete="PF('cfddWidget').hide();"
					action="#{rezultatiView.deleteFileRezultat}"
					update="rezultatiDTForm" />
				<p:commandButton value="Ne" oncomplete="PF('cfddWidget').hide();"
					action="#{rezultatiView.cancelFileDelete}" />
			</h:panelGroup>
		</h:form>
	</p:confirmDialog>

	<p:dialog id="newRezultatDialog" header="Novi rezultat" rendered="true"
		widgetVar="newRezultatWidget" resizable="false" showEffect="fade"
		hideEffect="fade" closeOnEscape="true" closable="true">
		<h:form id="newRezultatForm">

			<p:panel id="newRezultatPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="newRezultatPanelGrid" columns="3" cellpadding="4"
					border="0">

					<p:outputLabel value="Br.cilja:" for="brCiljaNew" />
					<p:inputText id="brCiljaNew"
						value="#{rezultatiView.newRezultat.brCilja}" size="20"
						maxlength="15" required="true">
						<f:validateLength maximum="15" />
					</p:inputText>
					<p:message for="brCiljaNew" display="icon" />

					<p:outputLabel value="Broj rezultata:" for="brRezultataNew" />
					<p:inputText id="brRezultataNew"
						value="#{rezultatiView.newRezultat.brRezultata}" size="20"
						maxlength="15" required="true">
						<f:validateLength maximum="15" />
					</p:inputText>
					<p:message for="brRezultataNew" display="icon" />

					<p:outputLabel value="Naziv rezultata:" for="nazivNew" />
					<p:inputTextarea id="nazivNew"
						value="#{rezultatiView.newRezultat.naziv}" cols="50" rows="1"
						maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="nazivNew" display="icon" />

					<p:outputLabel value="Zadužena osoba:" for="zaduzenaOsobaNew" />
					<p:inputTextarea id="zaduzenaOsobaNew"
						value="#{rezultatiView.newRezultat.zaduzenaOsoba}" cols="50"
						rows="1" maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="zaduzenaOsobaNew" display="icon" />

					<p:outputLabel value="Oznaka diseminacije:"
						for="oznakaDiseminacijeNew" />
					<p:selectOneMenu id="oznakaDiseminacijeNew"
						value="#{rezultatiView.lovObjectOD}" panelStyle="width:90px"
						effect="fade" var="t" style="width:160px"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems itemValue="#{lovObjectOD}"
							value="#{selectOneMenu.getObjects('ev_rezultati','oznaka_diseminacije')}"
							var="lovObjectOD" itemLabel="#{lovObjectOD.code}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="oznakaDiseminacijeNew" display="icon" />

					<p:outputLabel value="Ostvareno:" for="postignutoTPNew" />
					<p:selectOneMenu id="postignutoTPNew"
						value="#{rezultatiView.lovObjectPos}" panelStyle="width:60px"
						effect="fade" var="t" style="width:60px"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems itemValue="#{lovObjectPos}"
							value="#{selectOneMenu.getObjects('ev_rezultati','postignuto')}"
							var="lovObjectPos" itemLabel="#{lovObjectPos.description}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="postignutoTPNew" display="icon" />

					<p:outputLabel value="Datum realizacije (MM/GGGG):"
						for="datumRealizacijeNew" />
					<p:inputMask id="datumRealizacijeNew"
						value="#{rezultatiView.newRezultat.datumRealizacije}" size="20"
						maxlength="7" required="true" mask="99/9999">
						<f:validateLength maximum="7" />
						<f:validator binding="#{dateInMonthRangeValidator}" />
					</p:inputMask>
					<p:message for="datumRealizacijeNew" display="icon" />

					<p:outputLabel value="Komentar:" for="komentarNew" />
					<p:inputTextarea rows="3" cols="50" id="komentarNew"
						value="#{rezultatiView.newRezultat.komentar}" maxlength="100"
						autoResize="true" />
					<p:message for="komentarNew" display="icon" />

					<ui:include src="fileUploadFormRow.xhtml" />
				</h:panelGrid>


			</p:panel>
			<div align="center">
				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%" action="#{rezultatiView.save()}"
					oncomplete="setMsgfadeOut('msgsView')"
					update="newRezultatPanel,rezultatiDTForm" class="bttn-dialog-save" />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="PF('newRezultatWidget').hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="editRezultatDialog" header="Odabrani rezultat"
		widgetVar="editRezultatDialogWidget" resizable="false"
		showEffect="fade" hideEffect="explode" closeOnEscape="true"
		closable="true" rendered="true">

		<h:form id="editRezultatForm">
			<p:panel id="editRezultatPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="editRezultatPanelGrid" columns="3" cellpadding="4"
					border="0">

					<p:outputLabel value="Br.cilja:" for="brCiljaView" />
					<p:inputText id="brCiljaView"
						value="#{rezultatiView.selectedRezultat.brCilja}" size="20"
						maxlength="15" required="true">
						<f:validateLength maximum="15" />
					</p:inputText>
					<p:message for="brCiljaView" display="icon" />

					<p:outputLabel value="Broj rezultata:" for="brRezultataView" />
					<p:inputText id="brRezultataView"
						value="#{rezultatiView.selectedRezultat.brRezultata}" size="20"
						maxlength="15" required="true">
						<f:validateLength maximum="15" />
					</p:inputText>
					<p:message for="brRezultataView" display="icon" />

					<p:outputLabel value="Naziv rezultata:" for="nazivView" />
					<p:inputTextarea id="nazivView"
						value="#{rezultatiView.selectedRezultat.naziv}" cols="50" rows="1"
						maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="nazivView" display="icon" />

					<p:outputLabel value="Zadužena osoba:" for="zaduzenaOsobaView" />
					<p:inputTextarea id="zaduzenaOsobaView"
						value="#{rezultatiView.selectedRezultat.zaduzenaOsoba}" cols="50"
						rows="1" maxlength="100" required="true">

						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="zaduzenaOsobaView" display="icon" />

					<p:outputLabel value="Oznaka diseminacije:"
						for="oznakaDiseminacijeView" />
					<p:selectOneMenu id="oznakaDiseminacijeView"
						value="#{rezultatiView.lovObjectOD}" panelStyle="width:90px"
						effect="fade" var="t" style="width:160px"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_rezultati','oznaka_diseminacije')}"
							var="lovObjectOD" itemLabel="#{lovObjectOD.code}"
							itemValue="#{lovObjectOD}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="oznakaDiseminacijeView" display="icon" />

					<p:outputLabel value="Ostvareno:" for="postignutoTPView" />
					<p:selectOneMenu id="postignutoTPView"
						value="#{rezultatiView.lovObjectPos}" panelStyle="width:60px"
						effect="fade" var="t" style="width:60px"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_rezultati','postignuto')}"
							var="lovObjectPos" itemLabel="#{lovObjectPos.description}"
							itemValue="#{lovObjectPos}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="postignutoTPView" display="icon" />

					<p:outputLabel value="Datum realizacije (MM/GGGG):"
						for="datumRealizacijeView" />
					<p:inputMask id="datumRealizacijeView"
						value="#{rezultatiView.selectedRezultat.datumRealizacije}"
						size="20" maxlength="7" required="true" mask="99/9999">
						<f:validateLength maximum="7" />

						<f:validator binding="#{dateInMonthRangeValidator}" />
					</p:inputMask>
					<p:message for="datumRealizacijeView" display="icon" />

					<p:outputLabel value="Komentar:" for="komentarView" />
					<p:inputTextarea rows="3" cols="50" id="komentarView"
						value="#{rezultatiView.selectedRezultat.komentar}" maxlength="100"
						autoResize="true" />
					<p:message for="komentarView" display="icon" />

					<ui:include src="fileUploadFormRow.xhtml" />
				</h:panelGrid>
			</p:panel>

			<div align="center">
				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%" action="#{rezultatiView.update()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="editRezultatPanel,rezultatiDTForm" class="bttn-dialog-save" />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="PF('editRezultatDialogWidget').hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="prkRezDialog" header="Unošenje statusa" rendered="true"
		widgetVar="prkRezDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkRezForm">

			<p:panel id="prkRezPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkRezultatPanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" />
					<p:selectOneRadio id="status"
						value="#{rezultatiView.selectedRezultat.status_prk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>

				<p:inputTextarea rows="3" cols="50"
					value="#{rezultatiView.selectedRezultat.komentarPrk}"
					placeholder="Komentari" />


			</p:panel>
			<div align="center">
				<br />

				<p:commandButton value="Spremi" style="width:30%"
					action="#{rezultatiView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="prkRezForm,rezultatiDTForm" class="bttn-dialog-save" />

			</div>
		</h:form>
	</p:dialog>

	<script type="text/javascript">
	
		// HOTFIX Sirina retka sa ikonama delete, edit i prk je uvijek takva da ikone stanu jedan kraj druge,
		// umjesto fiksne najbolje da bude auto, a za to treba testirati strukturu i ovisno i prioritetima
		$('table.rezultati-wrapper > tbody > tr > td:first-child, ' +
		  'table.rezultati-wrapper > thead > tr > th:first-child').css('width', '6em', 'important')
	
	</script>

</ui:composition>
