<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<h1 align="center" style="font-size: 30px; color: red;">Izjava o
		čuvanju povjerljivosti i izbjegavanju sukoba interesa (za
		vrednovatelje projekata)</h1>
	<h:form id="sukobInteresa">
		<h1 style="font-size: 20px; color: red;">1. Čuvanje
			povjerljivosti</h1>
		<p style="font-size: 20px; text-align: justify;">Sudionici u
			postupku vrednovanja Hrvatske zaklade za znanost obvezuju se strogo
			poštovati povjerljivost svih podataka koji će im biti dani na uvid
			tijekom postupka vrednovanja za trajanja vrednovanja i nakon njegovog
			završetka.</p>
		<p style="font-size: 20px; text-align: justify;">Vrednovateljima
			nije dopušteno raspravljati o projektima s osobama koje nisu
			uključene u postupak vrednovanja, niti sa sudionicima u postupku
			vrednovanja. Nije dozvoljen razgovor o projektima s voditeljima
			projekata. Svaki sudionik u postupku vrednovanja osobno je odgovoran
			za povjerljivost informacija kojima raspolaže u vezi s projektima
			koji su u postupku vrednovanja, kao i za sve dokumente vezane uz
			sadržaj projekta te ne smije odavati bilo kakve informacije o
			projektima</p>

		<p:separator
			style="background-color: #FF0000;border-color:#FF0000;height:20px" />
		<p style="font-size: 20px; text-align: justify; font-style: italic;">Potvrđujem
			da ću štititi povjerljivost svih materijala i informacija koji će mi
			biti dani na uvid u svrhu vrednovanja projekata te da neću
			umnožavati, citirati ili koristiti materijale u bilo koje druge svrhe
			niti ću o njima razgovarati s osobama koje nisu uključene u postupak
			vrednovanja projekta.</p>
		<p:separator
			style="background-color: #FF0000;border-color:#FF0000;height:20px" />
		<br />

		<p:panelGrid columns="5" style="margin-bottom:10px" cellpadding="5">
			<p style="font-size: 20px; font-weight: bold;">Prihvaćam uvjete
				čuvanja povjerljivosti (molimo označiti):</p>
			<p:selectBooleanCheckbox
				value="#{sukobInteresaView.selectedSukobInteresa.uvjetPovjerljivostiDa}"/>
			<h:outputText value="DA" />
			<p:selectBooleanCheckbox
				value="#{sukobInteresaView.selectedSukobInteresa.uvjetPovjerljivostiNe}" >
				<p:ajax listener="#{sukobInteresaView.odgovorNE()}"/>
			</p:selectBooleanCheckbox>
			<h:outputText value="NE" />
		</p:panelGrid>

		<h1 style="font-size: 20px; color: red;">2. Izbjegavanje sukoba
			interesa</h1>

		<p style="font-size: 20px;">
			<b>Utvrđeni sukob interesa</b> podrazumijeva isključivanje stručnjaka
			iz bilo koje razine postupka vrednovanja. Iz postupka vrednovanja
			projekata odmah će biti isključena osoba:
		</p>

		<p style="font-size: 20px; text-align: justify;">1. koja je s
			voditeljem projekta u izravnoj znanstvenoj konkurenciji kad je riječ
			o projektima koji se bave istom ili srodnom temom</p>
		<p style="font-size: 20px; text-align: justify;">2. zaposlena na
			istoj ustrojbenoj jedinici (odsjek, katedra, zavod, centar, klinika,
			klinički zavod, i dr.) kao i voditelj projekta čiji projekt vrednuje</p>
		<p style="font-size: 20px; text-align: justify;">3. koja je
			voditelju projekta direktan srodnik, posvojenik, bračni odnosno
			izvanbračni partner</p>
		<p style="font-size: 20px; text-align: justify;">4. koja je u
			posljednje dvije godine s voditeljem projekta u odnosu učenik –
			učitelj ili u drugom odnosu međuovisnosti</p>
		<p style="font-size: 20px; text-align: justify;">5. koja sudjeluje
			u upravljačkim strukturama ustanove u kojoj je zaposlen voditelj
			projekta ili u kojoj se provodi projekt (rektori, dekani, ravnatelji
			instituta i sl.)</p>
		<p style="font-size: 20px; text-align: justify;">6. koja ima
			osobne gospodarske interese u području istraživanja projekta koji
			vrednuje</p>
		<p style="font-size: 20px; text-align: justify;">Sve osobe
			uključene u vrednovanje moraju u slučaju sukoba interesa prema
			točkama 1 – 6 o tome obavijestiti Ured Zaklade koji organizira
			vrednovanje.</p>


		<p style="font-size: 20px;">
			<b>Mogući sukob interesa</b> osoba uključenih u vrednovanje ovisit će
			o procjeni Zaklade, no obveza je svih osoba uključenih u vrednovanje
			izvijestiti djelatnika Ureda Zaklade koji organizira postupak
			vrednovanja o okolnostima koje mogu utjecati na objektivnost
			vrednovanja.
		</p>
		<p:separator
			style="background-color: #FF0000;border-color:#FF0000;height:20px" />


		<p style="font-size: 20px; text-align: justify;">Mogući sukob
			interesa definira se kao:</p>

		<p style="font-size: 20px; text-align: justify;">7. osobne veze
			ili financijski interesi s voditeljem projekta koje nisu opisane u
			točki 3. ovog dokumenta</p>
		<p style="font-size: 20px; text-align: justify;">8. buduće
			zaposlenje u ustanovi voditelja projekta, osim u funkciji opisanoj u
			točki 5. ovog dokumenta</p>
		<p style="font-size: 20px; text-align: justify;">9. zajedničke
			publikacije, projekti, planirana suradnja ili zajednički interesi,
			npr. zajednička poduzetnička aktivnost s voditeljem u zadnje tri
			godine</p>
		<p style="font-size: 20px; text-align: justify;">10. priprema ili
			provedba projekta u području koje je usko vezano uz projekt koji se
			vrednuje (konkurencija)</p>
		<p style="font-size: 20px; text-align: justify;">11. sudjelovanje
			u drugom nacionalnom ili međunarodnom tijelu koje je odlučivalo ili
			će u sljedećih 12 mjeseci odlučivati o napredovanju ili procjeni
			drugog projektnog prijedloga voditelja projekta</p>
		<p style="font-size: 20px; text-align: justify;">12. bilo koja
			subjektivna okolnost zbog koje osoba uključena u vrednovanje
			procjenjuje da ne može osigurati nepristranost tijekom vrednovanja.</p>
		<br />
		<p style="font-size: 20px; text-align: justify; font-style: italic;">Ako
			je potvrđen mogući sukob interesa prema točkama 7 – 12, Ured Zaklade
			i odbor za vrednovanje odlučuju o sudjelovanju u vrednovanju.</p>

		<p:separator
			style="background-color: #FF0000;border-color:#FF0000;height:20px" />
		<p style="font-size: 20px; text-align: justify; font-style: italic;">Potvrđujem
			da sam pročitao/la i razumio/la pravila koja u ovom dokumentu
			definiraju utvrđene i moguće sukobe interesa u postupku vrednovanja,
			a koja su u skladu s Pravilnikom o izbjegavanju sukoba interesa u
			postupku vrednovanja.</p>
		<p:separator
			style="background-color: #FF0000;border-color:#FF0000;height:20px" />

		<p style="font-size: 20px; text-align: justify; font-weight: bold;">
			Izjavljujem da moje sudjelovanje u vrednovanju projekta [voditelj,
			naziv, <i>povlači iz sustava</i>] predstavlja:
		</p>
		<p:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
			<p:selectBooleanCheckbox value="#{sukobInteresaView.selectedSukobInteresa.sudjelovanjeUtvrdjeniSukob}">
				<p:ajax listener="#{sukobInteresaView.odgovor1()}"/>
			</p:selectBooleanCheckbox>
			<h:outputText value="utvrđeni sukob interesa" />

			<p:selectBooleanCheckbox value="#{sukobInteresaView.selectedSukobInteresa.sudjelovanjeMoguciSukob}">
				<p:ajax listener="#{sukobInteresaView.odgovor2()}"/>
			</p:selectBooleanCheckbox>
			<h:outputText
				value="mogući sukob interesa po točki/ama: [polje za slobodan unos]" />

			<p:selectBooleanCheckbox value="#{sukobInteresaView.selectedSukobInteresa.sudjelovanjeNemaSukob}" >
				<p:ajax listener="#{sukobInteresaView.odgovor3()}"/>
				<p:ajax listener="#{menuController.goToPopisEvidencija()}"/>
			</p:selectBooleanCheckbox>
			<h:outputText
				value="ne predstavlja sukob interesa ni po jednoj točki" />
		</p:panelGrid>

<!-- 		<p:commandButton value="Spremi" action="#{sukobInteresaView.save()}" update="sukobInteresa"  -->
<!-- 				class="bttn-dialog-save" oncomplete="setMsgfadeOut('msgsNew')"/> -->

	</h:form>

</ui:composition>