<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h1 style="font-size: 12" align="center">TABLICA 2: Točke provjere
		(OBVEZNA TABLICA)</h1>
	<p:separator style="height:7px" />

	<h:form id="form_tablica_tockeProvjere">



		<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
			<div align="center">
				<p:commandButton value="Da" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Ne" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</div>
		</p:confirmDialog>

		<p:dataTable value="#{tockeProvjereView.fillTable()}"
			var="tockaProvjere" type="ordered" rowKey="#{tockaProvjere.id}"
			id="tockeProvjereDT" tableStyleClass="tocka-provjere-wrapper">

			<f:facet name="header">
				<p:commandButton rendered="#{preventAction.rendered}"
					disabled="#{!preventAction.periodActive}" value="Novi"
					onclick="PF('singleDialog_new').show(); #{tockeProvjereView.clean()}" />
				<br />
			</f:facet>

			<p:column escape="false" headerText="Opcije"
				rendered="#{preventAction.isRendered('OPCIJE')}"
				style="width:5em; align:center;">

				<p:commandButton disabled="#{preventAction.isDisabled('EDIT')}"
					value="" class="ikona-edit"
					rendered="#{preventAction.isRendered('EDIT')}"
					oncomplete="PF('singleDialog_edit').show()" update="edit_dialog">
					<f:setPropertyActionListener value="#{tockaProvjere}"
						target="#{tockeProvjereView.currentRow}" />
				</p:commandButton>

				<p:commandButton disabled="#{preventAction.isDisabled('DELETE')}"
					value="" class="ikona-delete"
					rendered="#{preventAction.isRendered('DELETE')}"
					update="form_tablica_tockeProvjere">
					<f:setPropertyActionListener value="#{tockaProvjere}"
						target="#{tockeProvjereView.delete}" />
					<p:confirm header="Potvrda brisanja"
						message="Jeste sigurni da želite obrisati unešene podatke?"
						icon="ui-icon-alert">
					</p:confirm>
				</p:commandButton>

				<p:commandButton value="PRK"
					rendered="#{preventAction.isRendered('PRK')}" class="ikona-prk ikona-prk-pozicija"
					oncomplete="PF('prkTPDialogWidget').show()" update="prkTPDialog">
					<f:setPropertyActionListener value="#{tockaProvjere}"
						target="#{tockeProvjereView.currentRow}" />
				</p:commandButton>

			</p:column>

			<p:column escape="false" headerText="Br.cilja" style="width:6em"
				sortBy="#{tockaProvjere.brCilja}">
				<h:outputText escape="false" value="#{tockaProvjere.brCilja}" />
			</p:column>

			<p:column escape="false" headerText="Br.točke provjere"
				style="width:6em" sortBy="#{tockaProvjere.brTockeProvjere}">
				<h:outputText escape="false"
					value="#{tockaProvjere.brTockeProvjere}" />
			</p:column>

			<p:column escape="false" headerText="Naziv točke provjere"
				style="width:12em" sortBy="#{tockaProvjere.naziv}">
				<h:outputText escape="false" value="#{tockaProvjere.naziv}" />
			</p:column>

			<p:column escape="false" headerText="Zadužena osoba"
				style="width:12em" sortBy="#{tockaProvjere.zaduzenaOsoba}">
				<h:outputText escape="false" value="#{tockaProvjere.zaduzenaOsoba}" />
			</p:column>

			<p:column escape="false" headerText="Ostvareno" style="width:4em"
				sortBy="#{tockaProvjere.postignuto}">
				<h:outputText escape="false"
					value="#{tockeProvjereView.getDescription('ev_tocke_provjere','postignuto',tockaProvjere.postignuto)}" />
			</p:column>

			<p:column escape="false" headerText="Datum realizacije"
				style="width:7em" sortBy="#{tockaProvjere.datumRealizacije}">
				<h:outputText escape="false"
					value="#{tockaProvjere.datumRealizacije}" />
			</p:column>

			<p:column escape="false" headerText="Komentari" style="width:20em"
				sortBy="#{tockaProvjere.komentari}">
				<h:outputText escape="false" value="#{tockaProvjere.komentari}" />
			</p:column>

		</p:dataTable>

	</h:form>

	<p:dialog id="new_dialog" header="Nova točka provjere"
		widgetVar="singleDialog_new" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="form_new">
			<p:panel id="new_panel">

				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="displaynew" columns="3" cellpadding="4" border="0">

					<p:outputLabel value="Br.cilja:" for="brCiljaNew" />
					<p:inputText id="brCiljaNew"
						value="#{tockeProvjereView.novaEvTockaProvjere.brCilja}" size="20"
						maxlength="50" required="true">
						<f:validateLength maximum="15" />
					</p:inputText>
					<p:message for="brCiljaNew" display="icon" />

					<p:outputLabel value="Br.točke provjere:" for="brTPNew" />
					<p:inputText id="brTPNew"
						value="#{tockeProvjereView.novaEvTockaProvjere.brTockeProvjere}"
						size="20" maxlength="100" required="true">
						<f:validateLength maximum="15" />
					</p:inputText>
					<p:message for="brTPNew" display="icon" />

					<p:outputLabel value="Naziv točke provjere:" for="nazivTPNew" />
					<p:inputTextarea id="nazivTPNew"
						value="#{tockeProvjereView.novaEvTockaProvjere.naziv}" cols="50"
						rows="1" maxlength="100" required="true">
						<f:validateLength maximum="255" />
					</p:inputTextarea>
					<p:message for="nazivTPNew" display="icon" />

					<p:outputLabel value="Zadužena osoba:" for="zaduzenaOsobaTPNew" />
					<p:inputTextarea id="zaduzenaOsobaTPNew"
						value="#{tockeProvjereView.novaEvTockaProvjere.zaduzenaOsoba}"
						cols="50" rows="1" size="20" maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="zaduzenaOsobaTPNew" display="icon" />

					<p:outputLabel value="Ostvareno:" for="postignutoTPNew" />

					<p:selectOneMenu id="postignutoTPNew"
						value="#{tockeProvjereView.lovObject}" panelStyle="width:180px"
						effect="fade" var="t" style="width:60px" required="true"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_tocke_provjere','postignuto')}"
							var="lovObject" itemLabel="#{lovObject.description}"
							itemValue="#{lovObject}" />

						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>

					<p:message for="postignutoTPNew" display="icon" />

					<p:outputLabel value="Datum realizacije (MM/GGGG):"
						for="datumRealizacijeTPNew" />
					<p:inputMask id="datumRealizacijeTPNew"
						value="#{tockeProvjereView.novaEvTockaProvjere.datumRealizacije}"
						mask="99/9999">
						<f:validator binding="#{dateInMonthRangeValidator}" />
					</p:inputMask>
					<p:message for="datumRealizacijeTPNew" display="icon" />

					<p:outputLabel value="Komentari:" for="komentariTPNew" />
					<p:inputTextarea rows="3" cols="50" id="komentariTPNew"
						value="#{tockeProvjereView.novaEvTockaProvjere.komentari}"
						maxlength="100" autoResize="true" />
					<p:message for="komentariTPNew" display="icon" />

				</h:panelGrid>

			</p:panel>

			<div align="center">

				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{tockeProvjereView.insert()}"
					update="new_panel,form_tablica_tockeProvjere"
					oncomplete="setMsgfadeOut('msgsNew')" class="bttn-dialog-save" />

				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="singleDialog_new.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />

			</div>
		</h:form>
	</p:dialog>

	<p:dialog id="edit_dialog" header="Odabrana točka provjere"
		widgetVar="singleDialog_edit" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="form_edit">
			<p:panel id="edit_panel">

				<p:messages id="msgsView" showDetail="true" />
				<h:panelGrid id="displayView" columns="3" cellpadding="4" border="0">

					<p:outputLabel value="Br.cilja:" for="brCiljaView" />
					<p:inputText id="brCiljaView"
						value="#{tockeProvjereView.odabranaEvTockaProvjere.brCilja}"
						size="20" maxlength="50" required="true">
						<f:validateLength maximum="15" />
					</p:inputText>
					<p:message for="brCiljaView" display="icon" />

					<p:outputLabel value="Br.točke provjere:" for="brTPView" />
					<p:inputText id="brTPView"
						value="#{tockeProvjereView.odabranaEvTockaProvjere.brTockeProvjere}"
						size="20" maxlength="100" required="true">
						<f:validateLength maximum="15" />
					</p:inputText>
					<p:message for="brTPView" display="icon" />

					<p:outputLabel value="Naziv točke provjere:" for="nazivTPView" />
					<p:inputTextarea id="nazivTPView"
						value="#{tockeProvjereView.odabranaEvTockaProvjere.naziv}"
						cols="50" rows="1" maxlength="100" required="true">
						<f:validateLength maximum="255" />
					</p:inputTextarea>
					<p:message for="nazivTPView" display="icon" />

					<p:outputLabel value="Zadužena osoba:" for="zaduzenaOsobaTPView" />
					<p:inputTextarea id="zaduzenaOsobaTPView"
						value="#{tockeProvjereView.odabranaEvTockaProvjere.zaduzenaOsoba}"
						cols="50" rows="1" maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="zaduzenaOsobaTPView" display="icon" />

					<p:outputLabel value="Ostvareno:" for="postignutoTPView" />
					<p:selectOneMenu id="postignutoTPView"
						value="#{tockeProvjereView.lovObject}" panelStyle="width:180px"
						effect="fade" var="t" style="width:60px" required="true"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_tocke_provjere','postignuto')}"
							var="lovObject" itemLabel="#{lovObject.description}"
							itemValue="#{lovObject}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="postignutoTPView" display="icon" />

					<p:outputLabel value="Datum realizacije (MM/GGGG):"
						for="datumRealizacijeTPView" />
					<p:inputMask id="datumRealizacijeTPView"
						value="#{tockeProvjereView.odabranaEvTockaProvjere.datumRealizacije}"
						mask="99/9999">
						<f:validator binding="#{dateInMonthRangeValidator}" />
					</p:inputMask>
					<p:message for="datumRealizacijeTPView" display="icon" />

					<p:outputLabel value="Komentari:" for="komentariTPView" />
					<p:inputTextarea rows="3" cols="50" id="komentariTPView"
						value="#{tockeProvjereView.odabranaEvTockaProvjere.komentari}"
						maxlength="100" autoResize="true" />
					<p:message for="komentariTPView" display="icon" />

				</h:panelGrid>
			</p:panel>

			<div align="center">
				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{tockeProvjereView.update()}"
					oncomplete="setMsgfadeOut('msgsView')"
					update="edit_panel,form_tablica_tockeProvjere"
					class="bttn-dialog-save" />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%"
					onclick="singleDialog_edit.hide();" immediate="true"
					class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>




	<p:dialog id="prkTPDialog" header="Unošenje statusa" rendered="true"
		widgetVar="prkTPDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkTPForm">

			<p:panel id="prkTPPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkTPPanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" />
					<p:selectOneRadio id="status"
						value="#{tockeProvjereView.odabranaEvTockaProvjere.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>

				<p:inputTextarea rows="3" cols="50"
					value="#{tockeProvjereView.odabranaEvTockaProvjere.komentarPrk}"
					placeholder="Komentari" />


			</p:panel>
			<div align="center">
				<br />

				<p:commandButton value="Spremi" style="width:30%"
					action="#{tockeProvjereView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="prkTPForm, form_tablica_tockeProvjere"
					class="bttn-dialog-save" />

			</div>
		</h:form>
	</p:dialog>

	<script type="text/javascript">
	
		// HOTFIX Sirina retka sa ikonama delete, edit i prk je uvijek takva da ikone stanu jedan kraj druge,
		// umjesto fiksne najbolje da bude auto, a za to treba testirati strukturu i ovisno i prioritetima
		$('table.tocka-provjere-wrapper > tbody > tr > td:first-child, ' +
		  'table.tocka-provjere-wrapper > thead > tr > th:first-child').css('width', '6em', 'important')
	
	</script>

</ui:composition>
