<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
<script type="text/javascript">
$("uploadIzvjescaForm:O_IZVJESCE").prop('disabled',true);
</script>
	<h2>UPLOAD IZVJEŠĆA</h2>
	<p:separator />

	<p:growl autoUpdate="true" id="globalMsgs" showDetail="true"
		widgetVar="globalMsgsWidget" life="5000" />

	<h:form id="uploadIzvjescaForm">
		<h1>Dokumenti za opisno izvješće:</h1>
		<br />
		* Obvezan upload dokumenata koji su označeni zvijezdicom 
		<br />
		<p:panel id="glavniPanel" styleClass="file-upload-panel">
			<h:panelGrid id="glavniPanelGrid" columns="3" cellpadding="4"
				border="0">
				
				Obrazac opisno izvješće * (.pdf max:5MB)
				<p:fileUpload mode="advanced" auto="true" multiple="false"
					id="O_IZVJESCE" required="true" fileLimit="1"
					allowTypes="/(\.|\/)(pdf)$/" sizeLimit="5242880"
					styleClass="minimal-advanced"
					invalidFileMessage="Nedozvoljeni tip datoteke!"
					invalidSizeMessage="Veličina datoteke je iznad dozvoljene vrijednosti!"
					fileUploadListener="#{uploadIzvjescaView.handleFileUpload}"
					value="#{uploadIzvjescaView.newFile}" label="Dokument"
					uploadLabel="Podizanje..." update="uploadIzvjescaForm" 
					disabled="${uploadIzvjescaView.oIzvjesceDisabled}"/>
				<p:outputPanel>
					<h:outputText id="fileName1"
						value="#{uploadIzvjescaView.opisnoIzvjesce.fileName}" />
					<p:commandLink styleClass="down-link" ajax="false"
						rendered="#{uploadIzvjescaView.opisnoIzvjesce != null}"
						onclick="PrimeFaces.monitorDownload(start, stop);">
						<p:fileDownload
							value="#{uploadIzvjescaView.opisnoIzvjesce.streamedContent}" />
						<i class="fa fa-download"></i>
					</p:commandLink>
					<p:commandLink styleClass="del-link"
						disabled="#{ !preventAction.renderedSpremiPDFOpIzvj }"
						rendered="#{uploadIzvjescaView.opisnoIzvjesce.fileName != null}"
						action="#{uploadIzvjescaView.markForDeleteOIzvjesce()}" update="@(form)"
						oncomplete="setMsgfadeOut('msgsView');">
						<i class="fa fa-trash-o"></i>
					</p:commandLink>
				</p:outputPanel>
				
				Financijsko izvješće * (.xls, .xlsx max:5Mb)
				<p:fileUpload mode="advanced" auto="true" multiple="false"
					id="F_IZVJESCE" required="true" fileLimit="1" sizeLimit="5242880"
					styleClass="minimal-advanced" allowTypes="/(\.|\/)(xls|xlsx)$/"
					invalidFileMessage="Nedozvoljeni tip datoteke!"
					invalidSizeMessage="Veličina datoteke je iznad dozvoljene vrijednosti!"
					fileUploadListener="#{uploadIzvjescaView.handleFileUpload}"
					value="#{uploadIzvjescaView.newFile}" label="Dokument"
					uploadLabel="Podizanje..." update="uploadIzvjescaForm" 
					disabled="${uploadIzvjescaView.fIzvjesceDisabled}"/>
				<p:outputPanel>
					<h:outputText id="fileName2"
						value="#{uploadIzvjescaView.financijskoIzvjesce.fileName}" />
					<p:commandLink styleClass="down-link" ajax="false"
						rendered="#{uploadIzvjescaView.financijskoIzvjesce != null}"
						onclick="PrimeFaces.monitorDownload(start, stop);">
						<p:fileDownload
							value="#{uploadIzvjescaView.financijskoIzvjesce.streamedContent}" />
						<i class="fa fa-download"></i>
					</p:commandLink>
					<p:commandLink styleClass="del-link"
						disabled="#{ !preventAction.renderedSpremiPDFOpIzvj }"
						rendered="#{uploadIzvjescaView.financijskoIzvjesce.fileName != null}"
						action="#{uploadIzvjescaView.markForDeleteFIzvjesce()}" update="@(form)"
						oncomplete="setMsgfadeOut('msgsView');">
						<i class="fa fa-trash-o"></i>
					</p:commandLink>
				</p:outputPanel>
				
				Registar opreme * (.xls, .xlsx max:5MB)
				<p:fileUpload mode="advanced" auto="true" multiple="false"
					id="R_OPREME" required="true" fileLimit="1"
					allowTypes="/(\.|\/)(xls|xlsx)$/" sizeLimit="5242880"
					styleClass="minimal-advanced"
					invalidFileMessage="Nedozvoljeni tip datoteke!"
					invalidSizeMessage="Veličina datoteke je iznad dozvoljene vrijednosti!"
					fileUploadListener="#{uploadIzvjescaView.handleFileUpload}"
					value="#{uploadIzvjescaView.newFile}" label="Dokument"
					uploadLabel="Podizanje..." update="uploadIzvjescaForm" 
					disabled="${uploadIzvjescaView.rOpremeDisabled}"/>
				<p:outputPanel>
					<h:outputText id="fileName3"
						value="#{uploadIzvjescaView.registarOpreme.fileName}" />
					<p:commandLink styleClass="down-link" ajax="false"
						rendered="#{uploadIzvjescaView.registarOpreme != null}"
						onclick="PrimeFaces.monitorDownload(start, stop);">
						<p:fileDownload
							value="#{uploadIzvjescaView.registarOpreme.streamedContent}" />
						<i class="fa fa-download"></i>
					</p:commandLink>
					<p:commandLink styleClass="del-link"
						disabled="#{ !preventAction.renderedSpremiPDFOpIzvj }"
						rendered="#{uploadIzvjescaView.registarOpreme.fileName != null}"
						action="#{uploadIzvjescaView.markForDeleteROpreme()}" update="@(form)"
						oncomplete="setMsgfadeOut('msgsView');">
						<i class="fa fa-trash-o"></i>
					</p:commandLink>
				</p:outputPanel>
				
				Računi * (.pdf, .zip, .7z max:20MB)
				<p:fileUpload mode="advanced" auto="true" multiple="false"
					id="RACUNI" required="true" fileLimit="1"
					allowTypes="/(\.|\/)(pdf|zip|7z)$/" sizeLimit="20971520"
					styleClass="minimal-advanced"
					invalidFileMessage="Nedozvoljeni tip datoteke!"
					invalidSizeMessage="Veličina datoteke je iznad dozvoljene vrijednosti!"
					fileUploadListener="#{uploadIzvjescaView.handleFileUpload}"
					value="#{uploadIzvjescaView.newFile}" label="Dokument"
					uploadLabel="Podizanje..." update="uploadIzvjescaForm" 
					disabled="${uploadIzvjescaView.racuniDisabled}"/>
				<p:outputPanel>
					<h:outputText id="fileName4"
						value="#{uploadIzvjescaView.racuni.fileName}" />
					<p:commandLink styleClass="down-link" ajax="false"
						rendered="#{uploadIzvjescaView.racuni != null}"
						onclick="PrimeFaces.monitorDownload(start, stop);">
						<p:fileDownload
							value="#{uploadIzvjescaView.racuni.streamedContent}" />
						<i class="fa fa-download"></i>
					</p:commandLink>
					<p:commandLink styleClass="del-link"
						disabled="#{ !preventAction.renderedSpremiPDFOpIzvj }"
						rendered="#{uploadIzvjescaView.racuni.fileName != null}"
						action="#{uploadIzvjescaView.markForDeleteRacuni()}" update="@(form)"
						oncomplete="setMsgfadeOut('msgsView');">
						<i class="fa fa-trash-o"></i>
					</p:commandLink>
				</p:outputPanel>
				
				Kartica konta * (.pdf max:5MB)
				<p:fileUpload mode="advanced" auto="true" multiple="false"
					id="K_KONTA" required="true" fileLimit="1"
					allowTypes="/(\.|\/)(pdf)$/" sizeLimit="5242880"
					styleClass="minimal-advanced"
					invalidFileMessage="Nedozvoljeni tip datoteke!"
					invalidSizeMessage="Veličina datoteke je iznad dozvoljene vrijednosti!"
					fileUploadListener="#{uploadIzvjescaView.handleFileUpload}"
					value="#{uploadIzvjescaView.newFile}" label="Dokument"
					uploadLabel="Podizanje..." update="uploadIzvjescaForm" 
					disabled="${uploadIzvjescaView.kKontaDisabled}"/>
				<p:outputPanel>
					<h:outputText id="fileName5"
						value="#{uploadIzvjescaView.karticaKonta.fileName}" />
					<p:commandLink styleClass="down-link" ajax="false"
						rendered="#{uploadIzvjescaView.karticaKonta != null}"
						onclick="PrimeFaces.monitorDownload(start, stop);">
						<p:fileDownload
							value="#{uploadIzvjescaView.karticaKonta.streamedContent}" />
						<i class="fa fa-download"></i>
					</p:commandLink>
					<p:commandLink styleClass="del-link"
						disabled="#{ !preventAction.renderedSpremiPDFOpIzvj }"
						rendered="#{uploadIzvjescaView.karticaKonta.fileName != null}"
						action="#{uploadIzvjescaView.markForDeleteKKonta()}" update="@(form)"
						oncomplete="setMsgfadeOut('msgsView');">
						<i class="fa fa-trash-o"></i>
					</p:commandLink>
				</p:outputPanel>
				
				Ostalo 1 (.pdf, .xls, .xlsx, .doc, .docx, .jpeg, .gif max:5MB)
				<p:fileUpload mode="advanced" auto="true" multiple="false"
					id="OSTALO1" required="true" fileLimit="1"
					allowTypes="/(\.|\/)(pdf|xls|xlsx|doc|docx|jpeg|jpg|gif)$/"
					sizeLimit="5242880" styleClass="minimal-advanced"
					invalidFileMessage="Nedozvoljeni tip datoteke!"
					invalidSizeMessage="Veličina datoteke je iznad dozvoljene vrijednosti!"
					fileUploadListener="#{uploadIzvjescaView.handleFileUpload}"
					value="#{uploadIzvjescaView.newFile}" label="Dokument"
					uploadLabel="Podizanje..." update="uploadIzvjescaForm" 
					disabled="${uploadIzvjescaView.ostalo1Disabled}"/>
				<p:outputPanel>
					<h:outputText id="fileName6"
						value="#{uploadIzvjescaView.ostalo1.fileName}" />
					<p:commandLink styleClass="down-link" ajax="false"
						rendered="#{uploadIzvjescaView.ostalo1 != null}"
						onclick="PrimeFaces.monitorDownload(start, stop);">
						<p:fileDownload
							value="#{uploadIzvjescaView.ostalo1.streamedContent}" />
						<i class="fa fa-download"></i>
					</p:commandLink>
					<p:commandLink styleClass="del-link"
						disabled="#{ !preventAction.renderedSpremiPDFOpIzvj }"
						rendered="#{uploadIzvjescaView.ostalo1.fileName != null}"
						action="#{uploadIzvjescaView.markForDeleteOstalo1()}" update="@(form)"
						oncomplete="setMsgfadeOut('msgsView');">
						<i class="fa fa-trash-o"></i>
					</p:commandLink>
				</p:outputPanel>
				
				Ostalo 2 (.pdf, .xls, .xlsx, .doc, .docx, .jpeg, .gif max:5MB)
				<p:fileUpload mode="advanced" auto="true" multiple="false"
					id="OSTALO2" required="true" fileLimit="1"
					allowTypes="/(\.|\/)(pdf|xls|xlsx|doc|docx|jpeg|jpg|gif)$/"
					sizeLimit="5242880" styleClass="minimal-advanced"
					invalidFileMessage="Nedozvoljeni tip datoteke!"
					invalidSizeMessage="Veličina datoteke je iznad dozvoljene vrijednosti!"
					fileUploadListener="#{uploadIzvjescaView.handleFileUpload}"
					value="#{uploadIzvjescaView.newFile}" label="Dokument"
					uploadLabel="Podizanje..." update="uploadIzvjescaForm" 
					disabled="${uploadIzvjescaView.ostalo2Disabled}"/>
				<p:outputPanel>
					<h:outputText id="fileName7"
						value="#{uploadIzvjescaView.ostalo2.fileName}" />
					<p:commandLink styleClass="down-link" ajax="false"
						rendered="#{uploadIzvjescaView.ostalo2 != null}"
						onclick="PrimeFaces.monitorDownload(start, stop);">
						<p:fileDownload
							value="#{uploadIzvjescaView.ostalo2.streamedContent}" />
						<i class="fa fa-download"></i>
					</p:commandLink>
					<p:commandLink styleClass="del-link"
						disabled="#{ !preventAction.renderedSpremiPDFOpIzvj }"
						rendered="#{uploadIzvjescaView.ostalo2.fileName != null}"
						action="#{uploadIzvjescaView.markForDeleteOstalo2()}" update="@(form)"
						oncomplete="setMsgfadeOut('msgsView');">
						<i class="fa fa-trash-o"></i>
					</p:commandLink>
				</p:outputPanel>
				
				Ostalo 3 (.pdf, .xls, .xlsx, .doc, .docx, .jpeg, .gif max:5MB)
				<p:fileUpload mode="advanced" auto="true" multiple="false"
					id="OSTALO3" required="true" fileLimit="1"
					allowTypes="/(\.|\/)(pdf|xls|xlsx|doc|docx|jpeg|jpg|gif)$/"
					sizeLimit="5242880" styleClass="minimal-advanced"
					invalidFileMessage="Nedozvoljeni tip datoteke!"
					invalidSizeMessage="Veličina datoteke je iznad dozvoljene vrijednosti!"
					fileUploadListener="#{uploadIzvjescaView.handleFileUpload}"
					value="#{uploadIzvjescaView.newFile}" label="Dokument"
					uploadLabel="Podizanje..." update="uploadIzvjescaForm" 
					disabled="${uploadIzvjescaView.ostalo3Disabled}"/>
				<p:outputPanel>
					<h:outputText id="fileName8"
						value="#{uploadIzvjescaView.ostalo3.fileName}" />
					<p:commandLink styleClass="down-link" ajax="false"
						rendered="#{uploadIzvjescaView.ostalo3 != null}"
						onclick="PrimeFaces.monitorDownload(start, stop);">
						<p:fileDownload
							value="#{uploadIzvjescaView.ostalo3.streamedContent}" />
						<i class="fa fa-download"></i>
					</p:commandLink>
					<p:commandLink styleClass="del-link"
						disabled="#{ !preventAction.renderedSpremiPDFOpIzvj }"
						rendered="#{uploadIzvjescaView.ostalo3.fileName != null}"
						action="#{uploadIzvjescaView.markForDeleteOstalo3()}" update="@(form)"
						oncomplete="setMsgfadeOut('msgsView');">
						<i class="fa fa-trash-o"></i>
					</p:commandLink>
				</p:outputPanel>
				
				Ostalo 4 (.pdf, .xls, .xlsx, .doc, .docx, .jpeg, .gif max:5MB)
				<p:fileUpload mode="advanced" auto="true" multiple="false"
					id="OSTALO4" required="true" fileLimit="1"
					allowTypes="/(\.|\/)(pdf|xls|xlsx|doc|docx|jpeg|jpg|gif)$/"
					sizeLimit="5242880" styleClass="minimal-advanced"
					invalidFileMessage="Nedozvoljeni tip datoteke!"
					invalidSizeMessage="Veličina datoteke je iznad dozvoljene vrijednosti!"
					fileUploadListener="#{uploadIzvjescaView.handleFileUpload}"
					value="#{uploadIzvjescaView.newFile}" label="Dokument"
					uploadLabel="Podizanje..." update="uploadIzvjescaForm" 
					disabled="${uploadIzvjescaView.ostalo4Disabled}"/>
				<p:outputPanel>
					<h:outputText id="fileName9"
						value="#{uploadIzvjescaView.ostalo4.fileName}" />
					<p:commandLink styleClass="down-link" ajax="false"
						rendered="#{uploadIzvjescaView.ostalo4 != null}"
						onclick="PrimeFaces.monitorDownload(start, stop);">
						<p:fileDownload
							value="#{uploadIzvjescaView.ostalo4.streamedContent}" />
						<i class="fa fa-download"></i>
					</p:commandLink>
					<p:commandLink styleClass="del-link"
						disabled="#{ !preventAction.renderedSpremiPDFOpIzvj }"
						rendered="#{uploadIzvjescaView.ostalo4.fileName != null}"
						action="#{uploadIzvjescaView.markForDeleteOstalo4()}" update="@(form)"
						oncomplete="setMsgfadeOut('msgsView');">
						<i class="fa fa-trash-o"></i>
					</p:commandLink>
				</p:outputPanel>
				
				Ostalo 5 (.pdf, .xls, .xlsx, .doc, .docx, .jpeg, .gif max:5MB)
				<p:fileUpload mode="advanced" auto="true" multiple="false"
					id="OSTALO5" required="true" fileLimit="1"
					allowTypes="/(\.|\/)(pdf|xls|xlsx|doc|docx|jpeg|jpg|gif)$/"
					sizeLimit="5242880" styleClass="minimal-advanced"
					invalidFileMessage="Nedozvoljeni tip datoteke!"
					invalidSizeMessage="Veličina datoteke je iznad dozvoljene vrijednosti!"
					fileUploadListener="#{uploadIzvjescaView.handleFileUpload}"
					value="#{uploadIzvjescaView.newFile}" label="Dokument"
					uploadLabel="Podizanje..." update="uploadIzvjescaForm" 
					disabled="${uploadIzvjescaView.ostalo5Disabled}"/>
				<p:outputPanel>
					<h:outputText id="fileName10"
						value="#{uploadIzvjescaView.ostalo5.fileName}" />
					<p:commandLink styleClass="down-link" ajax="false"
						rendered="#{uploadIzvjescaView.ostalo5 != null}"
						onclick="PrimeFaces.monitorDownload(start, stop);">
						<p:fileDownload
							value="#{uploadIzvjescaView.ostalo5.streamedContent}" />
						<i class="fa fa-download"></i>
					</p:commandLink>
					<p:commandLink styleClass="del-link"
						disabled="#{ !preventAction.renderedSpremiPDFOpIzvj }"
						rendered="#{uploadIzvjescaView.ostalo5.fileName != null}"
						action="#{uploadIzvjescaView.markForDeleteOstalo5()}" update="@(form)"
						oncomplete="setMsgfadeOut('msgsView');">
						<i class="fa fa-trash-o"></i>
					</p:commandLink>
				</p:outputPanel>
			</h:panelGrid>
		</p:panel>

		<h1>Dokumenti za naredno projektno razdoblje:</h1>
		<p:panel id="drugiPanel" styleClass="file-upload-panel">
			<h:panelGrid id="drugiPanelGrid" columns="3" cellpadding="4"
				border="0">
				
				Prijedlog financijskog plana za naredno razdoblje * (.xls, .xlsx max:5mb)
				<p:fileUpload mode="advanced" auto="true" multiple="false"
					id="P_F_PLANA" required="true" fileLimit="1"
					allowTypes="/(\.|\/)(xlsx|xls)$/" sizeLimit="5242880"
					styleClass="minimal-advanced"
					invalidFileMessage="Nedozvoljeni tip datoteke!"
					invalidSizeMessage="Veličina datoteke je iznad dozvoljene vrijednosti!"
					fileUploadListener="#{uploadIzvjescaView.handleFileUpload}"
					value="#{uploadIzvjescaView.newFile}" label="Dokument"
					uploadLabel="Podizanje..." update="uploadIzvjescaForm" 
					disabled="${uploadIzvjescaView.pFPlanaDisabled}"/>
				<p:outputPanel>
					<h:outputText id="fileName11"
						value="#{uploadIzvjescaView.financijskiPlan.fileName}" />
					<p:commandLink styleClass="down-link" ajax="false"
						rendered="#{uploadIzvjescaView.financijskiPlan != null}"
						onclick="PrimeFaces.monitorDownload(start, stop);">
						<p:fileDownload
							value="#{uploadIzvjescaView.financijskiPlan.streamedContent}" />
						<i class="fa fa-download"></i>
					</p:commandLink>
					<p:commandLink styleClass="del-link"
						disabled="#{ !preventAction.renderedSpremiPDFOpIzvj }"
						rendered="#{uploadIzvjescaView.financijskiPlan.fileName != null}"
						action="#{uploadIzvjescaView.markForDeletePFPlana()}" update="@(form)"
						oncomplete="setMsgfadeOut('msgsView');">
						<i class="fa fa-trash-o"></i>
					</p:commandLink>
				</p:outputPanel>
				
				Prijedlog Radnog plana za naredno razdoblje * (.pdf, .doc, .docx max:5mb)
				<p:fileUpload mode="advanced" auto="true" multiple="false"
					id="P_R_PLANA" required="true" fileLimit="1"
					allowTypes="/(\.|\/)(pdf|doc|docx)$/" sizeLimit="5242880"
					styleClass="minimal-advanced"
					invalidFileMessage="Nedozvoljeni tip datoteke!"
					invalidSizeMessage="Veličina datoteke je iznad dozvoljene vrijednosti!"
					fileUploadListener="#{uploadIzvjescaView.handleFileUpload}"
					value="#{uploadIzvjescaView.newFile}" label="Dokument"
					uploadLabel="Podizanje..." update="uploadIzvjescaForm" 
					disabled="${uploadIzvjescaView.pRPlanaDisabled}"/>
				<p:outputPanel>
					<h:outputText id="fileName12"
						value="#{uploadIzvjescaView.radniPlan.fileName}" />
					<p:commandLink styleClass="down-link" ajax="false"
						rendered="#{uploadIzvjescaView.radniPlan != null}"
						onclick="PrimeFaces.monitorDownload(start, stop);">
						<p:fileDownload
							value="#{uploadIzvjescaView.radniPlan.streamedContent}" />
						<i class="fa fa-download"></i>
					</p:commandLink>
					<p:commandLink styleClass="del-link"
						disabled="#{ !preventAction.renderedSpremiPDFOpIzvj }"
						rendered="#{uploadIzvjescaView.radniPlan.fileName != null}"
						action="#{uploadIzvjescaView.markForDeletePRPlana()}" update="@(form)"
						oncomplete="setMsgfadeOut('msgsView');">
						<i class="fa fa-trash-o"></i>
					</p:commandLink>
				</p:outputPanel>
			</h:panelGrid>
		</p:panel>

		<p:commandButton value="Spremi" id="spremiUploadFiles"
			actionListener="#{uploadIzvjescaView.saveUploadFiles}"
			update="uploadIzvjescaForm"
			disabled="#{ !preventAction.renderedSpremiPDFOpIzvj }" />
	</h:form>
</ui:composition>
