<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h1 style="font-size: 12" align="center">TABLICA 5: Usavršavanje
		(NIJE OBVEZNA)</h1>

	<p:separator style="height:7px" />

	<h:form id="form_tablica_usavrsavanje">

		<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
			<div align="center">
				<p:commandButton value="Da" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Ne" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</div>
		</p:confirmDialog>

		<p:dataTable value="#{usavrsavanjeView.fillTable()}"
			var="usavrsavanja" type="ordered" selectionMode="single"
			rowKey="#{usavrsavanja.id}" id="tablica_usavrsavanje"
			selection="#{usavrsavanjeView.odabranaEvUsavrsavanje}"
			rowIndexVar="rowIndex" tableStyleClass="usavrsavanje-wrapper">

			<f:facet name="header">
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Novi" rendered="#{preventAction.rendered}"
					onclick="PF('tabl5Dialog').show(); #{usavrsavanjeView.clean()}" />
				<br />
			</f:facet>

			<p:column escape="false" headerText="Opcije"
				rendered="#{preventAction.isRendered('OPCIJE')}"
				style="width:6em; align:center;">


				<p:commandButton disabled="#{preventAction.isDisabled('EDIT')}"
					value="" class="ikona-edit" style="buttonNew"
					rendered="#{preventAction.isRendered('EDIT')}"
					oncomplete="PF('tabl5Dialog_edit').show()"
					update="edit_tabl5Dialog">
					<f:setPropertyActionListener value="#{usavrsavanja}"
						target="#{usavrsavanjeView.currentRow}" />
				</p:commandButton>

				<p:commandButton disabled="#{preventAction.isDisabled('DELETE')}"
					value="" class="ikona-delete"
					rendered="#{preventAction.isRendered('DELETE')}"
					update="form_tablica_usavrsavanje">
					<f:setPropertyActionListener value="#{usavrsavanja}"
						target="#{usavrsavanjeView.delete}" />
					<p:confirm header="Potvrda brisanja"
						message="Jeste sigurni da želite obrisati unešene podatke?"
						icon="ui-icon-alert">
					</p:confirm>
				</p:commandButton>

				<p:commandButton value="PRK"
					rendered="#{preventAction.isRendered('PRK')}" class="ikona-prk ikona-prk-pozicija"
					oncomplete="PF('prkUsavrsavanjeDialogWidget').show()"
					update="prkUsavrsavanjeDialog">
					<f:setPropertyActionListener value="#{usavrsavanja}"
						target="#{usavrsavanjeView.currentRow}" />
				</p:commandButton>

			</p:column>
			<p:column escape="false" headerText="BR." style="width:2em"
				sortBy="#{usavrsavanja.br}">
				<h:outputText escape="false" value="#{rowIndex + 1}" />
			</p:column>

			<p:column escape="false" headerText="Vrsta aktivnosti"
				style="width:10em" sortBy="#{usavrsavanja.vrstaAktivnosti}">
				<h:outputText escape="false"
					value="#{usavrsavanjeView.getDescription('ev_usavrsavanje','vrsta_aktivnosti',usavrsavanja.vrstaAktivnosti)}" />
			</p:column>

			<p:column escape="false"
				headerText="Ime i prezime člana istraživačke grupe koji je sudjelovao"
				style="width:20em" sortBy="#{usavrsavanja.imePrezime}">
				<h:outputText escape="false" value="#{usavrsavanja.imePrezime}" />
			</p:column>
			<p:column escape="false" headerText="Naziv" style="width:20em"
				sortBy="#{usavrsavanja.naziv}">
				<h:outputText escape="false" value="#{usavrsavanja.naziv}" />
			</p:column>

			<p:column escape="false"
				headerText="Razdoblje DD.MM.GGGG – DD.MM.GGGG" style="width:15em"
				sortBy="#{usavrsavanja.razdobljeDo}">
				<h:outputText escape="false" value="#{usavrsavanja.razdobljeOd}">
					<f:convertDateTime pattern="dd.MM.yyyy" />
				</h:outputText>
				<h:outputText escape="false" value=" - " />
				<h:outputText escape="false" value="#{usavrsavanja.razdobljeDo}">
					<f:convertDateTime pattern="dd.MM.yyyy" />
				</h:outputText>
			</p:column>
			<p:column escape="false"
				headerText="Ustanova na kojoj je provedeno usavršavanje"
				style="width:10em" sortBy="#{usavrsavanja.ustanova}">
				<h:outputText escape="false" value="#{usavrsavanja.ustanova}" />
			</p:column>

			<p:column escape="false" headerText="Država" style="width:10em"
				sortBy="#{usavrsavanja.drzava}">
				<h:outputText escape="false" value="#{usavrsavanja.drzava}" />
			</p:column>
			<p:column escape="false" headerText="Usvojena znanja"
				style="width:10em" sortBy="#{usavrsavanja.usvojenaZnanja}">
				<h:outputText escape="false" value="#{usavrsavanja.usvojenaZnanja}" />
			</p:column>

			<f:facet name="footer">
			</f:facet>

		</p:dataTable>

	</h:form>


	<p:dialog id="new_tabl5Dialog" header="Usavršavanje"
		widgetVar="tabl5Dialog" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="form_new">
			<p:panel id="tabl5_panel">

				<p:messages id="msgsNew" showDetail="true" />

				<h:panelGrid id="displaytest1" columns="3" cellpadding="4"
					border="0">
					<p:outputLabel value="Vrsta aktivnosti:" for="vrstaAktivnostiNew" />
					<p:selectOneMenu id="vrstaAktivnostiNew"
						value="#{usavrsavanjeView.lovObject}" panelStyle="width:180px"
						effect="fade" var="t" style="width:120px" required="true"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_usavrsavanje','vrsta_aktivnosti')}"
							var="lovObject" itemLabel="#{lovObject.description}"
							itemValue="#{lovObject}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="vrstaAktivnostiNew" display="icon" />

					<p:outputLabel
						value="Ime i prezime člana istraživačke grupe koji je sudjelovao:"
						for="imePrezimeNew" />
					<p:inputTextarea cols="50" rows="1" id="imePrezimeNew"
						value="#{usavrsavanjeView.novaEvUsavrsavanje.imePrezime}"
						maxlength="500" autoResize="true" required="true" />
					<p:message for="imePrezimeNew" display="icon" />

					<p:outputLabel value="Naziv:" for="nazivNew" />
					<p:inputTextarea cols="50" rows="1" id="nazivNew"
						value="#{usavrsavanjeView.novaEvUsavrsavanje.naziv}"
						maxlength="255" autoResize="true" required="true" />
					<p:message for="nazivNew" display="icon" />

					<p:outputLabel value="Razdoblje od:" for="razdobljeOdNew" />
					<p:calendar id="razdobljeOdNew" binding="#{razOdNew}"
						value="#{usavrsavanjeView.novaEvUsavrsavanje.razdobljeOd}"
						pattern="dd.MM.yyyy" mask="true" required="true">
						<p:ajax event="dateSelect" update="razdobljeDoNew" />
					</p:calendar>
					<p:message for="razdobljeDoNew" display="icon" />

					<p:outputLabel value="Razdoblje do:" for="razdobljeDoNew" />
					<p:calendar id="razdobljeDoNew"
						value="#{usavrsavanjeView.novaEvUsavrsavanje.razdobljeDo}"
						pattern="dd.MM.yyyy" mask="true" required="true">

						<f:attribute name="startDate" value="#{razOdNew}" />
						<f:validator binding="#{dateFromFirstToPeriodValidator}" />

					</p:calendar>
					<p:message for="razdobljeDoNew" display="icon" />

					<p:outputLabel value="Ustanova na kojoj je provedeno usavršavanje:"
						for="ustanovaNew" />
					<p:inputTextarea cols="50" rows="1" id="ustanovaNew"
						value="#{usavrsavanjeView.novaEvUsavrsavanje.ustanova}"
						maxlength="255" autoResize="true" required="true" />
					<p:message for="ustanovaNew" display="icon" />

					<p:outputLabel value="Država:" for="drzavaNew" />
					<p:inputTextarea id="drzavaNew"
						value="#{usavrsavanjeView.novaEvUsavrsavanje.drzava}" cols="50"
						rows="1" maxlength="50" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="drzavaNew" display="icon" />

					<p:outputLabel value="Usvojena znanja:" for="usvojenaZnanjaNew" />
					<p:inputTextarea id="usvojenaZnanjaNew"
						value="#{usavrsavanjeView.novaEvUsavrsavanje.usvojenaZnanja}"
						cols="50" rows="1" maxlength="50" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="usvojenaZnanjaNew" display="icon" />

				</h:panelGrid>

			</p:panel>
			<div align="center">

				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{usavrsavanjeView.insert()}"
					update="tabl5_panel,form_tablica_usavrsavanje"
					oncomplete="setMsgfadeOut('msgsNew')" class="bttn-dialog-save" />

				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%" onclick="tabl5Dialog.hide();"
					immediate="true" class="bttn-dialog-cancel" partialSubmit="true" />

			</div>
		</h:form>
	</p:dialog>


	<p:dialog id="edit_tabl5Dialog" header="Usavršavanje"
		widgetVar="tabl5Dialog_edit" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true">

		<h:form id="form_edit">
			<p:panel id="edit_panel">

				<p:messages id="msgsView" showDetail="true" />
				<h:panelGrid id="displayView" columns="3" cellpadding="4" border="0">

					<p:outputLabel value="Vrsta aktivnosti: " for="vrstaAktivnostiView" />
					<p:selectOneMenu id="vrstaAktivnostiView"
						value="#{usavrsavanjeView.lovObject}" panelStyle="width:180px"
						effect="fade" var="t" style="width:120px" required="true"
						filterMatchMode="startsWith" converter="#{sifarnikConverter}">
						<f:selectItems
							value="#{selectOneMenu.getObjects('ev_usavrsavanje','vrsta_aktivnosti')}"
							var="lovObject" itemLabel="#{lovObject.description}"
							itemValue="#{lovObject}" />
						<p:column>
							<h:outputText value="#{t.description}" />
						</p:column>
					</p:selectOneMenu>
					<p:message for="vrstaAktivnostiView" display="icon" />

					<p:outputLabel
						value="Ime i prezime člana istraživačke grupe koji je sudjelovao:"
						for="imePrezimeView" />
					<p:inputTextarea cols="50" rows="1" id="imePrezimeView"
						value="#{usavrsavanjeView.odabranaEvUsavrsavanje.imePrezime}"
						maxlength="500" autoResize="true" required="true" />
					<p:message for="imePrezimeView" display="icon" />

					<p:outputLabel value="Naziv:" for="nazivView" />
					<p:inputTextarea cols="50" rows="1" id="nazivView"
						value="#{usavrsavanjeView.odabranaEvUsavrsavanje.naziv}"
						maxlength="255" required="true" autoResize="true" />
					<p:message for="nazivView" display="icon" />

					<p:outputLabel value="Razdoblje od:" for="razdobljeOdView" />
					<p:calendar id="razdobljeOdView" binding="#{razOdEdit}"
						value="#{usavrsavanjeView.odabranaEvUsavrsavanje.razdobljeOd}"
						pattern="dd.MM.yyyy" mask="true" required="true">
						<p:ajax event="dateSelect" update="razdobljeOdView" />
					</p:calendar>
					<p:message for="razdobljeOdView" display="icon" />

					<p:outputLabel value="Razdoblje do:" for="razdobljeDoNew" />
					<p:calendar id="razdobljeDoNew"
						value="#{usavrsavanjeView.odabranaEvUsavrsavanje.razdobljeDo}"
						pattern="dd.MM.yyyy" mask="true" required="true">

						<f:attribute name="startDate" value="#{razOdEdit}" />
						<f:validator binding="#{dateFromFirstToPeriodValidator}" />

					</p:calendar>
					<p:message for="razdobljeDoNew" display="icon" />



					<p:outputLabel value="Ustanova na kojoj je provedeno usavršavanje:"
						for="ustanovaView" />
					<p:inputTextarea cols="50" rows="1" id="ustanovaView"
						value="#{usavrsavanjeView.odabranaEvUsavrsavanje.ustanova}"
						maxlength="255" autoResize="true" required="true" />
					<p:message for="ustanovaView" display="icon" />

					<p:outputLabel value="Država:" for="drzavaView" />
					<p:inputTextarea id="drzavaView"
						value="#{usavrsavanjeView.odabranaEvUsavrsavanje.drzava}"
						cols="50" rows="1" maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="drzavaView" display="icon" />

					<p:outputLabel value="Usvojena znanja:" for="usvojenaZnanjaView" />
					<p:inputTextarea id="usvojenaZnanjaView"
						value="#{usavrsavanjeView.odabranaEvUsavrsavanje.usvojenaZnanja}"
						cols="50" rows="1" maxlength="100" required="true">
						<f:validateLength maximum="100" />
					</p:inputTextarea>
					<p:message for="usvojenaZnanjaView" display="icon" />


				</h:panelGrid>
			</p:panel>

			<div align="center">
				<br /> <br />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Spremi" style="width:30%"
					action="#{usavrsavanjeView.update()}"
					oncomplete="setMsgfadeOut('msgsView')"
					update="edit_panel,form_tablica_usavrsavanje"
					class="bttn-dialog-save" />
				<p:commandButton disabled="#{!preventAction.periodActive}"
					value="Odustani" style="width:30%" onclick="tabl5Dialog.hide();"
					immediate="true" class="bttn-dialog-cancel" partialSubmit="true" />
			</div>
		</h:form>
	</p:dialog>


	<p:dialog id="prkUsavrsavanjeDialog" header="Unošenje statusa"
		rendered="true" widgetVar="prkUsavrsavanjeDialogWidget"
		resizable="false" showEffect="fade" hideEffect="explode"
		closeOnEscape="true" closable="true">
		<h:form id="prkUsavrsavanjeForm">

			<p:panel id="prkUsavrsavanjePanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkUsavrsavanjePanelGrid" columns="2"
					cellpadding="4" border="0">

					<p:outputLabel for="status" value="Status:" />
					<p:selectOneRadio id="status"
						value="#{usavrsavanjeView.odabranaEvUsavrsavanje.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>

				<p:inputTextarea rows="3" cols="50"
					value="#{usavrsavanjeView.odabranaEvUsavrsavanje.komentarPrk}"
					placeholder="Komentari" />


			</p:panel>
			<div align="center">
				<br />

				<p:commandButton value="Spremi" style="width:30%"
					action="#{usavrsavanjeView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="prkUsavrsavanjeForm, form_tablica_usavrsavanje"
					class="bttn-dialog-save" />

			</div>
		</h:form>
	</p:dialog>
	
	<script type="text/javascript">
	
		// HOTFIX Sirina retka sa ikonama delete, edit i prk je uvijek takva da ikone stanu jedan kraj druge,
		// umjesto fiksne najbolje da bude auto, a za to treba testirati strukturu i ovisno i prioritetima
		$('table.usavrsavanje-wrapper > tbody > tr > td:first-child, ' +
		  'table.usavrsavanje-wrapper > thead > tr > th:first-child').css('width', '6em', 'important')
	
	</script>
	
</ui:composition>
