<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<!--     <h3>Users</h3> -->

	<style>
.panelGridCenter td, .panelGridCenter tr {
	text-align: justify;
}
</style>
 
	<p:layout>
		<p:layoutUnit position="center">

			<h:form id="popisUsersForm">
				<p:dataTable id="popisUsersTablica" value="#{userView.fillTable()}"
					var="korisnik" type="ordered" rowIndexVar="rowIndex"
					rowKey="#{korisnik.id}" selectionMode="single"
					selection="#{sessionBean.currentProject}">

					<p:column headerText="Opcije" style="width:4em">
						<p:commandButton value="Profil" id="pregledKorisnika"
							action="#{userView.pregledKorisnika()}" styleClass="ikona-profil">
							<f:setPropertyActionListener value="#{korisnik}"
								target="#{userView.user}" />
						</p:commandButton>
					</p:column>

					<p:column filterBy="#{korisnik.id}" filterMatchMode="contains"
						escape="false" headerText="Rb." style="width:8em"
						sortBy="#{korisnik.id}">
						<h:outputText escape="false" value="#{korisnik.id}" />
					</p:column>

					<p:column escape="false" headerText="Prezime" style="width:8em"
						sortBy="#{korisnik.userData.surname}"
						filterBy="#{korisnik.userData.surname}" filterMatchMode="contains">
						<h:outputText escape="false" value="#{korisnik.userData.surname}" />
					</p:column>

					<p:column escape="false" headerText="Ime" style="width:8em"
						sortBy="#{korisnik.userData.name}"
						filterBy="#{korisnik.userData.name}" filterMatchMode="contains">
						<h:outputText escape="false" value="#{korisnik.userData.name}" />
					</p:column>

					<p:column escape="false" headerText="Titula" style="width:8em"
						sortBy="#{korisnik.userData.title}"
						filterBy="#{korisnik.userData.title}" filterMatchMode="contains">
						<h:outputText escape="false" value="#{korisnik.userData.title}" />
					</p:column>

					<p:column escape="false" headerText="Akad. stupanj"
						style="width:10em" sortBy="#{korisnik.userData.degree}"
						filterBy="#{korisnik.userData.degree}" filterMatchMode="contains">
						<h:outputText escape="false" value="#{korisnik.userData.degree}" />
					</p:column>

					<p:column escape="false" headerText="Ustanova" style="width:15em"
						sortBy="#{korisnik.userData.institution.name}"
						filterBy="#{korisnik.userData.institution.name}"
						filterMatchMode="contains">
						<h:outputText escape="false"
							value="#{korisnik.userData.institution.name}" />
					</p:column>

					<p:column escape="false" headerText="Tel. ustanove"
						style="width:20em" sortBy="#{korisnik.userData.institution.phone}"
						filterBy="#{korisnik.userData.institution.phone}"
						filterMatchMode="contains">
						<h:outputText escape="false"
							value="#{korisnik.userData.institution.phone}" />
					</p:column>

					<p:column escape="false" headerText="E-mail" style="width:15em"
						sortBy="#{korisnik.userData.email}"
						filterBy="#{korisnik.userData.email}" filterMatchMode="contains">
						<h:outputText escape="false" value="#{korisnik.userData.email}" />
					</p:column>

					<p:column escape="false" headerText="ADM" style="width:3em">
						<h:commandButton class="#{korisnik.rolaADM}" />
					</p:column>

					<p:column headerText="PRK" style="width:3em">
						<h:commandButton class="#{korisnik.rolaPRK}" />
					</p:column>

					<p:column headerText="VOD" style="width:3em">
						<h:commandButton class="#{korisnik.rolaVOD}" />
						<h:outputText escape="false" />
					</p:column>

					<p:column headerText="EVL" style="width:3em">
						<h:commandButton class="#{korisnik.rolaEVL}" />
					</p:column>

					<p:column headerText="COV" style="width:3em">
						<h:commandButton class="#{korisnik.rolaCOV}" />
					</p:column>

					<p:column headerText="CUO" style="width:3em">
						<h:commandButton class="#{korisnik.rolaCUO}" />
					</p:column>


				</p:dataTable>
			</h:form>

		</p:layoutUnit>
	</p:layout>

	<script type="text/javascript">
		// HOTFIX - scroll flipan na vrh
		$('#popisUsersForm\\:popisUsersTablica .ui-datatable-tablewrapper').addClass('flipped');
		$('.flipped table').addClass('content')
	</script>
	
</ui:composition>