<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

    <p:growl autoUpdate="true" id="globalMsgs" showDetail="true"
        widgetVar="globalMsgsWidget" life="5000" />
	<h1 style="font-size: 12" align="center">TABLICA 15: UTJECAJ
		PROJEKTA</h1>
	<p:separator style="height:7px" />
	<h2 style="font-size: 5" align="center">Ima li Vaš projekt
		mogućnost utjecaja na društvenu i ekonomsku dobrobit?</h2>

	<h:form id="evDobrobitForm">
		<h:outputText
			value="Označiti sve što je primjenjivo (mogućnost višestrukog izbora):"
			font-size="16" align="center" fontStyle="italic" />
		<p:selectManyCheckbox id="basic" layout="grid" columns="1"
			align="center" value="${utjecajProjektaView.selectedDobrobiti}">
			<f:selectItem itemLabel=" rast zaposlenosti" itemDisabled="#{!preventAction.rendered == true or preventAction.periodActive == false ? true : false}"
				itemValue="setRastZaposlenosti"/>
			<f:selectItem
				itemLabel=" razvoj novih vještina, npr. kritike, analiza, kreativnost, " itemDisabled="#{!preventAction.rendered == true or preventAction.periodActive == false ? true : false}"
				itemValue="setRazvojNovih" />
			<f:selectItem itemLabel=" zastupljenost teme u medijima" itemDisabled="#{!preventAction.rendered == true or preventAction.periodActive == false ? true : false}"
				itemValue="setTemaUMedijima" />
			<f:selectItem itemLabel=" razina posjećenosti ustanova" itemDisabled="#{!preventAction.rendered == true or preventAction.periodActive == false ? true : false}"
				itemValue="setPosjecenostUstanova" />
			<f:selectItem
				itemLabel=" poboljšanje društvenih i ekonomskih uvjeta za pojedince" itemDisabled="#{!preventAction.rendered == true or preventAction.periodActive == false ? true : false}"
				itemValue="setPoboljsanjeUvjeta" />
			<f:selectItem itemLabel=" promjene navika pojedinaca" itemDisabled="#{!preventAction.rendered == true or preventAction.periodActive == false ? true : false}"
				itemValue="setPromjenaNavika" />
			<f:selectItem
				itemLabel=" utjecaj na politiku – novi interesi ili stavovi spram društvenih pitanja" itemDisabled="#{!preventAction.rendered == true or preventAction.periodActive == false ? true : false}"
				itemValue="setUtjecajNaPolitiku" />
			<f:selectItem itemLabel=" novi programi, regulacije, normiranja " itemDisabled="#{!preventAction.rendered == true or preventAction.periodActive == false ? true : false}"
				itemValue="setOstalo" />
			<f:selectItem
				itemLabel=" utjecaj na zdravstvo (npr. preventivni programi liječenja)" itemDisabled="#{!preventAction.rendered == true or preventAction.periodActive == false ? true : false}"
				itemValue="setUtjecajNaZdrastvo" />
			<f:selectItem itemLabel=" pojava novog programa obuke ili učenja" itemDisabled="#{!preventAction.rendered == true or preventAction.periodActive == false ? true : false}"
				itemValue="setPojavaNovog" />
			<!--         <f:selectItem itemLabel=" ostalo (slobodan upis)" itemValue="ostalo" /> -->
		</p:selectManyCheckbox>
		<br />
		<p:outputLabel value="Ostalo:" />
		<br />
		<p:inputTextarea rows="3" cols="50" id="ostaloView"
			value="#{utjecajProjektaView.evDobrobit.opisOstalo}" maxlength="100"
			autoResize="true" disabled="#{!preventAction.rendered == true or preventAction.periodActive == false ? true : false}"/>
		<p:message for="ostaloView" display="icon" />
		<p:commandButton disabled="#{!preventAction.periodActive}"  value="Spremi" icon="ui-icon-check" rendered="#{preventAction.rendered}"
			action="#{utjecajProjektaView.save()}" />
		<p:commandButton value="PRK" rendered="#{preventAction.isRendered('PRK')}"
					oncomplete="PF('prkUPDialogWidget').show()" 
					update="prkUPDialog">
				</p:commandButton>
	</h:form>
	<p:dialog id="prkUPDialog" header="Unošenje statusa" rendered="true"
		widgetVar="prkUPDialogWidget" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true">
		<h:form id="prkUPForm">

			<p:panel id="prkUPPanel">
				<p:messages id="msgsNew" showDetail="true" />
				<h:panelGrid id="prkUPPanelGrid" columns="2" cellpadding="4"
					border="0">

					<p:outputLabel for="status" value="Status:" />
					<p:selectOneRadio id="status"
						value="#{utjecajProjektaView.evDobrobit.statusPrk}">
						<f:selectItems var="statusPrk"
							value="#{selectOneRadioStatusPrk.statusiPrk}"
							itemValue="#{statusPrk.statusId}"
							itemLabel="#{statusPrk.statusDescription}" />
					</p:selectOneRadio>

				</h:panelGrid>
				
				<p:inputTextarea rows="3" cols="50"
					value="#{utjecajProjektaView.evDobrobit.komentarPrk}"
					placeholder="Komentari" />


			</p:panel>
			<div align="center">
				<br />
				
				<p:commandButton value="Spremi" style="width:30%" action="#{utjecajProjektaView.spremiPRK()}"
					oncomplete="setMsgfadeOut('msgsView');"
					update="prkUPForm evDobrobitForm" class="bttn-dialog-save" />

			</div>
		</h:form>
	</p:dialog>
	
	
</ui:composition>
