<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <h:head>
        <title>FILE UPLOAD</title>
    </h:head>
    <h:body>
        <h:form enctype="multipart/form-data">
            <p:growl autoUpdate="true"/>
			<p:fileUpload fileUploadListener="#{fileUploadBean.handleFileUpload}"
				label="Choose File" value="#{fileUploadBean.file}" mode="advanced" />
		</h:form>
    </h:body>
</f:view>
</html>
