<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:head>
	<script type="text/javascript">
		// Warning
		$(window).on('beforeunload', function() {
			return "Sve izmjene će biti izgubljene";
		});

		// Form Submit
		$(document).on("submit", "form", "href", function(event) {
			// disable unload warning
			$(window).off('beforeunload');
		});

		function setMsgfadeOut(id) {
			setTimeout(function() {
				$('[id$=' + id + ']').fadeOut()
			}, '3500');
		}

		function waitAndClose() {
			setTimeout(function() {
				$(".ui-icon-closethick").click()
			}, '2000');
		}

		function start() {
			PF('dlDialogWidget').show();
		}

		function stop() {
			PF('dlDialogWidget').hide();
		}
	</script>

	<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
	<title>HRZZ - SPP</title>
</h:head>
<h:body>

	<h:form>
				
		<p:poll interval="5" listener="#{pfSecurityTimeout.isSessionExpired}" onerror="PF('idleDialog').show()" />
		<p:confirmDialog id="confirmDialog" closable="false" class="confirm-dialog"
			message="Vrijeme vaše sesije je isteklo..."                
			header="Sigurnosna greška" severity="alert" widgetVar="idleDialog">
			<p:commandButton id="Logout" value="Ok" onclick="$(window).off('beforeunload');location.reload();"/>
		</p:confirmDialog>
		
	</h:form>

	<p:dialog id="pdf_preview" header="#{reportBean.reportTitle}"
		widgetVar="pdfPreview" resizable="false" showEffect="fade"
		hideEffect="explode" closeOnEscape="true" closable="true"
		rendered="true" modal="true">
		<!-- 
		<p:media value="#{reportBean.streamedContent}" width="850px" cache="false"
			height="700px" player="pdf" />
		-->
		<pe:documentViewer height="700" width="850"
			value="#{reportBean.streamedContent}" />
		<!--  
        <h3>PDF </h3><object type="application/pdf" data="#{reportBean.exportFile}?pfdrid_c=true" height="600px" width="800px">
            Your browser can't display pdf, <a href="#{reportBean.exportFile}">click</a> to download pdf instead.
        </object>
        -->
	</p:dialog>

	<p:dialog modal="true" widgetVar="dlDialogWidget" header="Status"
		draggable="false" closable="false" resizable="false" id="dlDialog">
		<p:graphicImage name="/images/ajaxloadingbar.gif" />
	</p:dialog>

	<!-- 	<p:growl autoUpdate="true" id="globalMsgs" showDetail="true" -->
	<!-- 		widgetVar="globalMsgsWidget" life="10000" /> -->
	<h:form>
		<p:remoteCommand name="onLoad" action="#{menuController.onload}"
			autoRun="true" />
	</h:form>

	<f:facet name="last">
		<h:outputStylesheet library="css" name="hrzzspp.css" /> <!-- hrzzspp-v2.css -->
	</f:facet>

	<p:layout fullPage="true">

		<!-- 		<p:layoutUnit position="north"> -->
		<!-- 		</p:layoutUnit> -->

		<p:layoutUnit position="west"></p:layoutUnit>

		<p:layoutUnit position="center">
			<div class="hrzz-spp-wrapper">
				<p:panel id="pnlLogo" class="hrzz-spp"></p:panel>
			</div>
			<p:panel id="pnlMenu">
				<h:form>
					<p:menubar id="class_menu"></p:menubar>
					<p:breadCrumb id="bread_crumb"></p:breadCrumb>
				</h:form>
			</p:panel>
			<p:panel id="pnlContent">
				<ui:include src="page_partials/#{menuController.pageId}.xhtml" />
			</p:panel>
		</p:layoutUnit>

		<p:layoutUnit position="south"></p:layoutUnit>

	</p:layout>


	<!-- fix  PrimeFacesExt is not defined -->
	<pe:blockUI></pe:blockUI>

</h:body>
</html>
