<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>login</title>
	<style>
		.ui-layout-unit {
			border: none;
		}
	</style>
	
		<script type="text/javascript">

		function showLoginMessage(){
			
		}
			
	</script>
	
</h:head>
<h:body>

	<h:form>
		<p:remoteCommand name="onLoad" action="#{forceLogout.onload}"
			autoRun="true" >
			<f:actionListener binding="#{loginController.checkAuth()}"/>	
		</p:remoteCommand>
	</h:form>

	<p:layout fullPage="true">

		<p:layoutUnit position="north" size="33%"></p:layoutUnit>

		<p:layoutUnit position="west" size="35%"></p:layoutUnit>

		<p:layoutUnit position="center">

			<h:form id="loginForm" prependId="false">
				<p:growl id="growl" showDetail="true" sticky="true" />
				<p:panel header="Login - SPP" style="width: 380px;">
					<h:panelGrid id="loginPanel" columns="2">

						<h:outputText value="Username" />
						<p:inputText id="j_username" required="true" size="28">
						</p:inputText>

						<p:spacer></p:spacer>
						<p:message for="j_username"></p:message>

						<h:outputText value="Password" />
						<p:password id="j_password" required="true" size="28">
						</p:password>
						<p:spacer></p:spacer>
						<p:message for="j_password"></p:message>
						<p:spacer></p:spacer>

						<p:commandButton id="login" action="#{loginController.doLogin}" 
										 value="Login" update="j_username j_password" ajax="false" onerror="location.reload();"/>
					</h:panelGrid>
				</p:panel>
					<div style="font-weight: bold;color: red;font-style: italic;">
						Za rad u SPP sustav preporučujemo korištenje <BR /> web preglednika FireFox ili GoogleChrome!
					</div>

			</h:form>
		</p:layoutUnit>

		<p:layoutUnit position="south" size="10%"></p:layoutUnit>

	</p:layout>
</h:body>
</html>